@charset "UTF-8";html{font-size:18px}
@media only screen and (min-width:360px){html{font-size:20px!important}}
@media only screen and (min-width:375px){html{font-size:21px!important}}
@media only screen and (min-width:400px){html{font-size:22px!important}}
@media only screen and (min-width:414px){html{font-size:23px!important}}
@media only screen and (min-width:480px){html{font-size:24px!important}}
@media only screen and (min-width:540px){html{font-size:26px!important}}
@media only screen and (min-width:640px){html{font-size:28px!important}}
@media only screen and (min-width:768px){html{font-size:32px!important}}
@media only screen and (min-width:960px){html{font-size:36px!important}}
@media only screen and (min-width:1024px){html{font-size:46px!important}}
html{-webkit-overflow-scrolling:touch;overflow-scrolling:touch;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;-webkit-user-select:none;-ms-user-select:none}
body,html{-webkit-tap-highlight-color:transparent;-ms-tap-highlight-color:transparent;-o-tap-highlight-color:transparent;-moz-tap-highlight-color:transparent;tap-highlight-color:transparent}
body,button,input,select,textarea{font-family:TrebuchetMS,Rotobo,"Microsoft YaHei",sans-serif}
body,dd,dl,dt,form,h1,h2,h3,h4,h5,h6,html,li,ol,p,select,ul{margin:0;padding:0}
li,ol,ul{list-style-type:none}
em,i{font-style:normal}
a{color:#333}
a{text-decoration:none}
a img{border:0 none}
input:-ms-input-placeholder,input::-moz-placeholder,input::-webkit-input-placeholder{color:#999}
input:focus:-ms-input-placeholder,input:focus::-moz-placeholder,input:focus::-webkit-input-placeholder{color:rgba(0,0,0,0)}
button,input[type=button],input[type=email],input[type=number],input[type=password],input[type=phone],input[type=search],input[type=submit],input[type=text],textarea{-webkit-appearance:none;-moz-appearance:none;-webkit-border-image:none;-moz-border-image:none;-o-border-image:none;border-image:none;-moz-border-radius:0;border-radius:0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
button,input[type=button],input[type=reset],input[type=submit]{cursor:pointer;-webkit-appearance:button}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
table{border-collapse:collapse;border-spacing:0}
td{vertical-align:top}
.hidden{display:none!important;visibility:hidden}
.visuallyhidden{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px}
.visuallyhidden.focusable:active,.visuallyhidden.focusable:focus{clip:auto;height:auto;margin:0;overflow:visible;position:static;width:auto}
.invisible{visibility:hidden}
.clearfix:after,.clearfix:before{content:"";display:table}
.clearfix:after{clear:both}
.clearfix{zoom:1}
@media print{*{background:0 0!important;color:#000!important;text-shadow:none!important;-webkit-filter:none!important;filter:none!important;-ms-filter:none!important}
    a,a:visited{text-decoration:underline}
    a[href]:after{content:" (" attr(href) ")"}
    abbr[title]:after{content:" (" attr(title) ")"}
    .ir a:after,a[href^="#"]:after,a[href^="javascript:"]:after{content:""}
    blockquote,pre{border:1px solid #999;page-break-inside:avoid}
    thead{display:table-header-group}
    img,tr{page-break-inside:avoid}
    img{max-width:100%!important}
    @page{margin:.5cm}
    h2,h3,p{orphans:3;widows:3}
    h2,h3{page-break-after:avoid}}
[v-cloak]{display:none}
.header-title{height:2.75rem}
.header-title .p-inner{position:fixed;top:0;left:0;right:0;background-color:#2eaaf7;text-align:center;color:#fff;font-size:1rem;padding-top:.5rem;line-height:2.25rem;height:2.25rem;font-weight:500;z-index:1000}
.header-title .p-inner a{position:absolute;top:.5rem;display:block;width:2.5rem;height:2.25rem}
.header-title .p-inner .back{left:0;background:url(../images/back.png?v=1f42841eeb) no-repeat center center;-moz-background-size:auto 50%;-o-background-size:auto 50%;background-size:auto 50%}
.header-title .p-inner .close{right:0;background:url(../images/close.png?v=11b6cf6066) no-repeat center center;-moz-background-size:auto 50%;-o-background-size:auto 50%;background-size:auto 50%}
body{background-color:#d9f0fe}
.finance-box{width:100%}
.finance-box .finance-top{overflow:hidden}
.finance-box .finance-top img{width:100%;float:left}
.finance-box .finance-ba{width:92%;background:#fff;margin:0 auto 2.25rem;-moz-border-radius:1rem;border-radius:1rem;overflow:hidden}
.finance-box .finance-ba .banner-title{width:10rem;display:block;text-align:center;margin:.875rem auto}
.finance-box .finance-code{width:5.975rem;height:5.975rem;margin:0 auto;background:#bce5fe;-moz-border-radius:.75rem;border-radius:.75rem;text-align:center}
.finance-box .finance-code img{width:5.15rem;margin-top:.4rem;-moz-border-radius:.5rem;border-radius:.5rem}
.finance-box .finance-tip{margin-top:.3rem;line-height:.9rem;text-align:center;color:#4b4b4b;font-size:.65rem}
.finance-box .finance-tip2{margin:.375rem 0 2rem 0;padding:0 .5rem;line-height:.9rem;text-align:center;color:#8b8b8b;font-size:.6rem}
.finance-box .finance-download{width:8.975rem;height:2.25rem;margin:1.075rem auto 0;background:url(../images/button.png?v=50a50c3666) no-repeat;-moz-background-size:100% 100%;-o-background-size:100% 100%;background-size:100% 100%}
.finance-banner{width:13.5rem;margin:.65rem auto 1rem}
.liveL-banner{width:13.5rem;position:relative;margin:0 auto}
.liveL-banner ul{overflow:hidden}
.liveL-banner ul li{float:left;width:13.5rem;vertical-align:middle;text-align:center}
.liveL-banner ul li img{width:13.5rem;-moz-border-radius:.375rem;border-radius:.375rem;text-align:center}
.liveL-banner ul li p{padding-top:.1rem;line-height:.925rem;color:#4d4d4d;font-size:.65rem;text-align:left}
.liveL-banner .flex-control-nav{position:absolute;top:5.825rem;z-index:99}
.liveL-banner .flex-control-nav li{display:inline-block;margin:.125rem}
.liveL-banner .flex-control-nav li a{display:inline-block;width:.3rem;height:.3rem;-moz-border-radius:50%;border-radius:50%;font-size:0;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none}
.liveL-banner .flex-control-paging li a{background:#fff;opacity:.5}
.liveL-banner .flex-control-paging li a.flex-active{background:#fff;opacity:1}
.flex-direction-nav .flex-prev{display:inline-block;left:-.7rem!important;background:url(../images/left.png?v=656b531e7d) no-repeat!important;-moz-background-size:100% 100%!important;-o-background-size:100% 100%!important;background-size:100% 100%!important}
.flex-direction-nav .flex-next{display:inline-block;right:-.7rem!important;background:url(../images/right.png?v=efc6f93dfd) no-repeat!important;-moz-background-size:100% 100%!important;-o-background-size:100% 100%!important;background-size:100% 100%!important}
.flex-direction-nav a{width:1.675rem!important;height:1.675rem!important;top:40%!important}