@charset "UTF-8";
html{font-size:18px}
@media only screen and (min-width:360px){html{font-size:20px!important}
}
@media only screen and (min-width:375px){html{font-size:21px!important}
}
@media only screen and (min-width:400px){html{font-size:22px!important}
}
@media only screen and (min-width:414px){html{font-size:23px!important}
}
@media only screen and (min-width:480px){html{font-size:24px!important}
}
@media only screen and (min-width:540px){html{font-size:26px!important}
}
@media only screen and (min-width:640px){html{font-size:28px!important}
}
@media only screen and (min-width:768px){html{font-size:30px!important}
}
@media only screen and (min-width:960px){html{font-size:36px!important}
}
html{-webkit-overflow-scrolling:touch;overflow-scrolling:touch;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;-webkit-user-select:none;-ms-user-select:none}
body,button,input,select,textarea{font-family:TrebuchetMS,Rotobo,"Microsoft YaHei",sans-serif}
body,dd,dl,dt,form,h1,h2,h3,h4,h5,h6,html,li,ol,p,select,ul{margin:0;padding:0}
li,ol,ul{list-style-type:none}
em,i{font-style:normal}
a,a:visited{color:#333}
a{text-decoration:none}
a img{border:0 none}
input:-ms-input-placeholder,input::-moz-placeholder,input::-webkit-input-placeholder{color:#999}
input:focus:-ms-input-placeholder,input:focus::-moz-placeholder,input:focus::-webkit-input-placeholder{color:transparent}
button,input[type=button],input[type=text],input[type=password],input[type=submit],input[type=search],input[type=email],input[type=number],input[type=phone],textarea{-webkit-appearance:none;-moz-appearance:none;-webkit-border-image:none;border-image:none;-webkit-border-radius:0;border-radius:0;-webkit-box-sizing:border-box;box-sizing:border-box}
button,input[type=reset],input[type=button],input[type=submit]{cursor:pointer;-webkit-appearance:button}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
table{border-collapse:collapse;border-spacing:0}
td{vertical-align:top}
.hidden{display:none!important;visibility:hidden}
.visuallyhidden{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px}
.visuallyhidden.focusable:active,.visuallyhidden.focusable:focus{clip:auto;height:auto;margin:0;overflow:visible;position:static;width:auto}
.invisible{visibility:hidden}
.clearfix:after,.clearfix:before{content:"";display:table}
.clearfix:after{clear:both}
.clearfix{zoom:1}
@media print{*{background:0 0!important;color:#000!important;text-shadow:none!important;filter:none!important;-ms-filter:none!important}
a,a:visited{text-decoration:underline}
a[href]:after{content:" (" attr(href) ")"}
abbr[title]:after{content:" (" attr(title) ")"}
.ir a:after,a[href^="javascript:"]:after,a[href^="#"]:after{content:""}
blockquote,pre{border:1px solid #999;page-break-inside:avoid}
thead{display:table-header-group}
img,tr{page-break-inside:avoid}
img{max-width:100%!important}
@page{margin:.5cm}
h2,h3,p{orphans:3;widows:3}
h2,h3{page-break-after:avoid}
}
body{background:#f2f5f6}
.fairylandBanner{background:#f2f5f6;padding:.75rem .75rem 0 .75rem;height:5rem}
.fairylandBanner img{display:block;width:100%;height:100%;border-radius:.85rem}
.fairylandTips{position:relative;margin:.75rem auto 0;width:12.15rem;padding-left:2.25rem}
.fairylandTips .text{position:relative;width:100%;padding:.35rem 0;background:#bde5f6;border-radius:.7rem;text-align:center;font-weight:700;font-size:.75rem;color:#1a6a8c}
.fairylandTips .text:before{position:absolute;content:"";display:block;bottom:.1rem;left:-.15rem;width:.4rem;height:.4rem;background:url(../images/tips-icon02.png?v=7fbb29b92d) no-repeat;background-size:100% 100%}
.fairylandTips:before{position:absolute;content:"";display:block;top:0;left:0;width:1.85rem;height:1.85rem;background:url(../images/tips-icon01.png?v=a05ca38707) no-repeat;background-size:100% 100%}
.fairylandBox{height:100%;margin:.75rem;padding:0 .5rem;background:#fff;border-radius:.7rem}
.fairyland-list{position:relative;display:block;padding:.5rem 0;border-bottom:1px solid #d6d6d6}
.fairyland-list .list-item{overflow:hidden}
.fairyland-list .list-item .img{float:left;width:2.5rem;height:2.5rem;border-radius:.5rem;overflow:hidden}
.fairyland-list .list-item .img img{display:block;width:100%;height:100%}
.fairyland-list .list-item .info{margin-left:3rem}
.fairyland-list .list-item .info .title{font-size:.85rem;line-height:120%;color:#0d90e2}
.fairyland-list .list-item .info .describe{overflow:hidden;padding-right:3.5rem;font-size:.6rem;line-height:.95rem;color:#999}
.fairyland-list .list-item .info .state{display:inline-block;padding:.125rem .15rem;background:#74ca87;border-radius:.25rem;font-size:.45rem;line-height:100%;color:#fff}
.fairyland-list .list-item .info .state-yellow{background:#f93}
.fairyland-list .list-item .info .label-hot{display:inline-block;position:relative;top:-.1rem;margin:0 0 0 .25rem;padding:.125rem .15rem;background:#f66;border-radius:.2rem;font-size:.45rem;line-height:100%;color:#fff}
.fairyland-list .list-user{font-size:0;padding:.5rem 0 0;clear:both}
.fairyland-list .list-user span{display:inline-block;vertical-align:middle;margin:0 .5rem 0 0;font-size:.6rem;color:#333}
.fairyland-list .list-user span img{display:block;width:1.25rem;height:1.25rem;border-radius:.2rem}
.fairyland-list .list-user span i{display:inline-block;margin:0 .15rem;font-style:normal;color:#f66}
.fairyland-list .list-user .flex{display:inline-block;vertical-align:middle}
.fairyland-list .list-user .flex span{float:left}
.fairyland-list .list-tips{padding-top:.5rem;font-size:.6rem;line-height:.75rem;color:#f96}
.fairyland-list .list-tips .horn-icon{display:inline-block;vertical-align:middle;margin:0 .15rem;width:.75rem;height:.75rem;background:url(../images/horn-icon.png?v=13f45589a3) no-repeat;background-size:100% 100%}
.fairyland-list:last-child{border-bottom:0}
.fairyland-list:after{position:absolute;content:"";display:block;top:50%;right:.375rem;margin-top:-.375rem;width:.9rem;height:.9rem;background:url(../images/arrow-r.png?v=027bf3122f) no-repeat;background-size:100% 100%}
.fairyland-list.hot:after{position:absolute;right:-.75rem;top:2.125rem;width:4.15rem;height:1.8rem;background:url(../images/hot-icon.png?v=52c9ed55e3) no-repeat;background-size:100% 100%}