@charset "UTF-8";
html{font-size:18px}
@media only screen and (min-width:360px){html{font-size:20px!important}
}
@media only screen and (min-width:375px){html{font-size:21px!important}
}
@media only screen and (min-width:400px){html{font-size:22px!important}
}
@media only screen and (min-width:414px){html{font-size:23px!important}
}
@media only screen and (min-width:480px){html{font-size:24px!important}
}
@media only screen and (min-width:540px){html{font-size:26px!important}
}
@media only screen and (min-width:640px){html{font-size:28px!important}
}
@media only screen and (min-width:768px){html{font-size:30px!important}
}
@media only screen and (min-width:960px){html{font-size:36px!important}
}
html{-webkit-overflow-scrolling:touch;overflow-scrolling:touch;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;-webkit-user-select:none;-ms-user-select:none}
body,button,input,select,textarea{font-family:TrebuchetMS,Rotobo,"Microsoft YaHei",sans-serif}
body,dd,dl,dt,form,h1,h2,h3,h4,h5,h6,html,li,ol,p,select,ul{margin:0;padding:0}
li,ol,ul{list-style-type:none}
em,i{font-style:normal}
a{color:#333}
a{text-decoration:none}
a img{border:0 none}
input:-ms-input-placeholder,input::-moz-placeholder,input::-webkit-input-placeholder{color:#999}
input:focus:-ms-input-placeholder,input:focus::-moz-placeholder,input:focus::-webkit-input-placeholder{color:transparent}
button,input[type=button],input[type=text],input[type=password],input[type=submit],input[type=search],input[type=email],input[type=number],input[type=phone],textarea{-webkit-appearance:none;-moz-appearance:none;-webkit-border-image:none;border-image:none;-webkit-border-radius:0;border-radius:0;-webkit-box-sizing:border-box;box-sizing:border-box}
button,input[type=reset],input[type=button],input[type=submit]{cursor:pointer;-webkit-appearance:button}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
table{border-collapse:collapse;border-spacing:0}
td{vertical-align:top}
.hidden{display:none!important;visibility:hidden}
.visuallyhidden{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px}
.visuallyhidden.focusable:active,.visuallyhidden.focusable:focus{clip:auto;height:auto;margin:0;overflow:visible;position:static;width:auto}
.invisible{visibility:hidden}
.clearfix:after,.clearfix:before{content:"";display:table}
.clearfix:after{clear:both}
.clearfix{zoom:1}
@media print{*{background:0 0!important;color:#000!important;text-shadow:none!important;filter:none!important;-ms-filter:none!important}
a,a:visited{text-decoration:underline}
a[href]:after{content:" (" attr(href) ")"}
abbr[title]:after{content:" (" attr(title) ")"}
.ir a:after,a[href^="javascript:"]:after,a[href^="#"]:after{content:""}
blockquote,pre{border:1px solid #999;page-break-inside:avoid}
thead{display:table-header-group}
img,tr{page-break-inside:avoid}
img{max-width:100%!important}
@page{margin:.5cm}
h2,h3,p{orphans:3;widows:3}
h2,h3{page-break-after:avoid}
}
img{display:inherit}
body,html{background-color:#fff}
.thematicTitle-box .footer .inner .w-orderedBtn{margin:.5rem 1rem 0 0;float:right}
.thematicTitle-box .footer .inner .tma-title{padding-left:1rem;display:-ms-flexbox;-ms-flex-align:center;display:-moz-box;-moz-box-align:center;display:-webkit-box;-webkit-box-align:center;height:3rem;font-size:.7rem;color:#333}
.thematicTitle-box .footer .inner .tma-title .price{padding:0 .325rem 0 .5rem;color:#ff8971}
.thematicTitle-box .footer .inner .tma-title .sub{color:#bababa}
.tma-head .tma-inner{width:100%;padding:.5rem 0 .25rem 0;background-color:#fff}
.tma-head ul{margin:0 5rem;overflow:hidden}
.tma-head li{float:left;width:50%;font-size:.6rem;text-align:center;cursor:pointer}
.tma-head li.active .tma-image{position:relative}
.tma-head li.active .tma-image:after{position:absolute;top:0;right:-.125rem;content:"";width:.7rem;height:.7rem;background:url(../images/icon-choice.png?v=a5ee9e33a9) no-repeat;background-size:100% 100%}
.tma-head li.active .tma-image .tma-mask{background:0 0}
.tma-head li.active .tma-name{color:#333}
.tma-head .tma-image{position:relative;margin:0 auto;width:1.575rem;height:1.575rem;border-radius:100%}
.tma-head .tma-image img{width:100%;height:100%}
.tma-head .tma-image .tma-mask{position:absolute;left:0;top:0;display:block;width:1.575rem;height:1.575rem;background-color:rgba(255,255,255,.5)}
.tma-head .tma-name{padding:.25rem 0;color:#888;text-overflow:ellipsis;overflow:hidden;white-space:nowrap}
.headDiffer{height:3.25rem}
.headDiffer .tma-inner{position:fixed}
.headDiffer ul{margin:0 2.5rem}
.headDiffer ul li{width:33.33%}
.bg-f4{background-color:#f2f4f5}
.bg-fff{background-color:#fff}
.footer{height:3rem}
.footer .inner{position:fixed;bottom:0;left:0;right:0;width:100%;height:3rem;background-color:#fff;border-top:1px solid #e6e6e6}
.w-orderedBtn{padding:.5rem .25rem;display:inline-block;width:4.15rem;font-size:.7rem;text-align:center;color:#fff;background-color:#ff8971;border-radius:2.5rem}
.w-btn-green{background-color:#41bb54}
.w-btnWid{width:8rem}
.w-disabled{background-color:#999}
.w-btnPer{width:90%}
.noFix{height:auto}
.noFix .inner{position:inherit;height:auto;text-align:center}
.liveExperience-box .tma-head{margin:0 1rem;border-bottom:1px solid rgba(0,0,0,.1)}
.liveExperience-box .tma-head ul{margin:.925rem 0 .75rem 0}
.liveExperience-box .tma-head ul li{margin-right:2.4rem;width:auto}
.liveExperience-box .noFix .inner{border:0}
.liveExperience-box .noFix .inner .w-orderedBtn{margin:1.5rem 0 0 0}
.lex-head{padding:.25rem 0 0 0;font-size:.7rem;color:#888}
.lex-text{margin:.75rem 1rem}
.lex-text input,.lex-text textarea{padding:.5rem;display:block;width:100%;font-size:.6rem;color:#888;border:0 none;resize:none;outline:0;background:#f3f3f3;border-radius:.2rem}
.lex-list li{margin:0 1rem;padding:.75rem 0;font-size:.75rem;color:#888;border-bottom:1px solid rgba(0,0,0,.1)}
.lex-list li .lex-right{float:right;font-size:.7rem;color:#333}
.lex-info{padding-left:1rem;font-size:.7rem;color:#888}
.lex-info .num{padding-left:.5rem}
.lex-info .num i{color:#F8654E}