/*main_smartclazz*/
.smart_clazz_beans_main{ margin-left: 45px;}
/*smart_clazz_date_box*/
.smart_clazz_date_box{ float: right; margin-top: 28px; width: 730px;}
.smart_clazz_date_box li{float: left;}
.smart_clazz_date_box li a{display: block;}
.smart_clazz_date_box li.date{ height:31px; font-weight: bold; width: 100px; font-size: 14px; border: 1px solid #cccccc; background-color: #e8e8e8; line-height: 30px; text-align: center;  margin-right: 8px;}
.smart_clazz_date_box li.active{ border-color:#4473ea; background-color:#5c8afe; }
.smart_clazz_date_box li.date a{ color: #515151; }
.smart_clazz_date_box li.active a{ color: #FFFFFF;}
.smart_clazz_date_box li.time{ padding: 0 3px; line-height: 32px;}
.smart_clazz_date_box li.time input { outline: none;}
.smart_clazz_date_box li.search{ width: 74px; height: 31px; font-weight: bold; text-align: center; line-height: 31px;  background-color: #FFFFFF; border: 1px solid #cccccc; margin-left: 10px;}
.smart_clazz_date_box li.search a{ font-size: 14px; line-height: 30px;}
.smart_clazz_date_box li.time input{ background-color: #FFFFFF; border: 1px solid #cccccc; width: 67px; height: 31px; line-height: 31px; padding: 0 5px;}
/*main_smartclazz*/
.smart_clazz_main{ width: 960px; margin: 0 auto;}
.smart_clazz_main .smart_clazz_date_box{ margin-left: 230px; padding-top: 30px;}
/*smart_clazz_content*/
.smart_clazz_content{ overflow: hidden; border-left: 1px solid #cccccc; margin-left: 45px; clear: both; height: 100%;}
.smart_clazz_content .smart_clazz_left_box{ float: left; padding-top: 30px;  display: inline; padding-bottom: 50px; width: 170px;}
.smart_clazz_content .smart_clazz_left_box ul li{ font-size: 14px; margin-bottom: 14px; }
.smart_clazz_content .smart_clazz_left_box ul li.skin_all{ text-align: center; cursor: pointer; color: #666666; margin-left: 45px; font-size: 12px;}
.smart_clazz_content .smart_clazz_left_box ul li.skin_all span{ margin: 0 10px; color: #666666; vertical-align: -3px;}
.smart_clazz_content .smart_clazz_left_box ul li b{ font-weight: normal; margin-right: 3px; width: 30px;display: inline-block;text-align: right;}
.smart_clazz_content .smart_clazz_left_box ul li b.name{ display: inline-block; width: 55px; white-space: nowrap; overflow: hidden; vertical-align: middle; text-align: left;}
.smart_clazz_content .smart_clazz_left_box ul li span{ margin-right: 5px; position: relative; left: -2px; color: #cccccc;}
.smart_clazz_content .smart_clazz_left_box ul li strong{ vertical-align: middle; line-height: 22px; display: inline-block; text-align: center; width: 40px; height: 22px; background-color: #e1e1e1; border-radius: 2px; overflow: hidden; white-space: nowrap; overflow: hidden;}
.smart_clazz_content .smart_clazz_right_box{ float: right; width: 730px; padding-bottom: 130px;}
.smart_clazz_content .smart_clazz_right_box h2{ font-size: 12px; margin-bottom: 8px;}
.smart_clazz_content .smart_clazz_right_info{ width: 96%; height: 60px; box-shadow: 0px 0px 3px 2px #e4e4e4; border: 1px solid #cccccc; background-color: #FFFFFF; padding: 13px 0 13px 24px; margin-bottom: 13px;}
.smart_clazz_content .smart_clazz_right_info dt{ float: left; width: 60px; height: 60px;}
.smart_clazz_content .smart_clazz_right_info dd{ margin-left: 97px;}
.smart_clazz_content .smart_clazz_right_info .title{ width: 534px; float: left; font-size: 14px; margin-top: 4px;}
.smart_clazz_content .smart_clazz_right_info .title p{ width: 534px; padding-bottom: 4px;}
.smart_clazz_content .smart_clazz_right_info .title p span{ margin: 0 25px;}
.smart_clazz_content .smart_clazz_right_info .delete{ color:#999999; display: inline-block; margin-top: 22px; }
.smart_clazz_content .smart_clazz_right_infoactive{background-color: #fafafa;}
.smart_clazz_content .smart_clazz_right_infoactive .delete{ color: #ff3333;}
.smart_clazz_content .smart_clazz_data_box{ padding: 50px 0; text-align: center;}
.smart_clazz_content .smart_clazz_data_box .iconNullData{ width: 125px; height: 107px; background: url(../images/smartclazz/data.png) no-repeat; margin: 0 auto;}
.smart_clazz_content .smart_clazz_data_box .iconNullUser{ background-image: url(../images/smartclazz/data_nulluser.png);}
.smart_clazz_content .smart_clazz_data_box h4{ font: 18px/58px "微软雅黑", "Microsoft YaHei", Arial, "黑体" ; color: #000000;}
.smart_clazz_content .smart_clazz_data_box h4 span{color: #2ecc40; }
.smart_clazz_content .smart_clazz_data_box p{font-size: 14px; color: #999999;}
.smart_clazz_content .smart_clazz_more_box{ width: 100%; height: 45px; border: 1px solid #cccccc; color: #666666; font-weight: bold; cursor: pointer; text-align: center; line-height: 45px; font-size: 14px; background-color: #e7e7e7; width: 725px;}
/*smart_clazz_content*/
.smart_clazz_content{ overflow: hidden; border-left: 1px solid #cccccc; margin:-6px 0 0 45px;}
.smart_clazz_content .smart_clazz_beans_active{ background: url("../images/smartclazz/box_bg.png") no-repeat 0px 0px; border: none; }
.smart_clazz_content .smart_clazz_beans_box{ background-color:#FFFFFF; float: left; width: 154px; position: relative; height: 85px; border: 1px solid #d1d0d0; box-shadow: 0 0 2px 2px #e4e4e4; margin: 0 8px 35px 8px; cursor: pointer;}
.smart_clazz_content .smart_clazz_beans_box span{ width: 60px; height: 60px; display: inline-block; vertical-align: middle; margin:-3px 0 0 13px; }
.smart_clazz_content .smart_clazz_beans_box span img{ width: 60px; height: 60px;}
.smart_clazz_content .smart_clazz_beans_box strong{ line-height: 85px; font-size: 16px; width: 68px;display: inline-block; overflow: hidden; vertical-align: middle; white-space: nowrap;}
.smart_clazz_content .smart_clazz_beans_box i.icon_cirl{ background:url("../images/smartclazz/smart_cirl.png") no-repeat 0px 0px; display: inline-block; top: -10px; text-align: center; color: #FFFFFF; font: 16px/35px arial; width: 35px; height: 35px; position:absolute; right: -15px;}
.smart_clazz_content .smart_clazz_beans_main{ margin:30px 0 0 45px; clear: both;}
/*main_smartclazz*/
.smart_clazz_title_box{ overflow:hidden; }
.smart_clazz_title_box .smart_clazz_info_box{  }
.smart_clazz_title_box h3{ float: left;}
.smart_clazz_title_box h3{ float: left; height: 94px;}
.smart_clazz_title_box h3 span.cloud{ width: 94px; height: 94px;  line-height: 85px;  margin-right: 8px; display: inline-block; background: url("../images/smartclazz/cloud.png") no-repeat 500px 500px;}
.smart_clazz_title_box h3 span.cloud_1{ background-position: -3px -1px;}
.smart_clazz_title_box h3 span.cloud_2{ background-position: -3px -103px;}
.smart_clazz_title_box h3 span.cloud_3{ background-position: -3px -202px;}
.smart_clazz_title_box .smart_clazz_nav_box{ float: left; padding-left: 8px; }
.smart_clazz_title_box .smart_clazz_nav_box p.p1{ font: bold 36px/40px "arial"; margin-top: 20px;}
.smart_clazz_title_box .smart_clazz_nav_box p.p2{ margin-top: 40px; font: bold 14px/1.125 "";}
.smart_clazz_title_box .smart_clazz_nav_box p.p3{ font: bold 14px/90px "";}
.smart_clazz_title_box .smart_clazz_nav_box a{ color: #999999; text-decoration: underline; margin-left: 5px; font-size: 14px;}
.smart_clazz_title_box .smart_clazz_date_case { float: right;}
.smart_clazz_title_box .smart_clazz_date_case li{ float: left;}
.smart_clazz_title_box .smart_clazz_date_case li a{ width:100px; height: 100px; margin-right: 30px; display: inline-block; text-align: center;}
.smart_clazz_title_box .smart_clazz_date_case li a:hover{ background-color: #e0e0e0;}
.smart_clazz_title_box .smart_clazz_date_case li a p{ color: #515151; font-size: 14px; font-weight: bold; text-align: center; margin-top:13px;}
.smart_clazz_title_box .smart_clazz_date_case li a i.icon{ background: url("../images/smartclazz/smartclass_icon.png") no-repeat 500px 500px; width: 40px; height: 40px; display: inline-block; margin-top: 12px;}
.smart_clazz_title_box .smart_clazz_date_case li a i.icon_1{ background-position:-6px -5px; }
.smart_clazz_title_box .smart_clazz_date_case li a i.icon_2{ background-position:-61px -5px; }
.smart_clazz_title_box .smart_clazz_date_case li a i.icon_3{ background-position:-116px -5px; }
.smart_clazz_title_box .smart_clazz_date_case li a i.icon_4{ background-position:-164px -5px; }
.smart_clazz_title_box .smart_clazz_date_case li a i.icon_5{ background-position:-124px -161px; }
.smart_clazz_title_box .smart_clazz_date_case li a i.icon_6{ background-position: -5px -102px; }
.smart_clazz_title_box .smart_clazz_date_case li a i.icon_7{ background-position:-64px -102px; }
.smart_clazz_title_box .smart_clazz_date_case li a i.icon_8{ background-position:-176px -161px; }
.smart_clazz_title_box .smart_clazz_date_case li a i.icon_9{ background-position:-209px -5px; }
.smart_clazz_title_box .smart_clazz_date_case li a:hover i.icon_1{ background-position:-6px -53px; }
.smart_clazz_title_box .smart_clazz_date_case li a:hover i.icon_2{ background-position:-61px -53px; }
.smart_clazz_title_box .smart_clazz_date_case li a:hover i.icon_3{ background-position:-116px -53px; }
.smart_clazz_title_box .smart_clazz_date_case li a:hover i.icon_4{ background-position:-164px -53px; }
.smart_clazz_title_box .smart_clazz_date_case li a:hover i.icon_5{ background-position:-7px -162px; }
.smart_clazz_title_box .smart_clazz_date_case li a:hover i.icon_6{ background-position:-126px -100px; }
.smart_clazz_title_box .smart_clazz_date_case li a:hover i.icon_7{ background-position:-172px -100px; }
.smart_clazz_title_box .smart_clazz_date_case li a:hover i.icon_8{ background-position:-59px -162px; }
.smart_clazz_title_box .smart_clazz_date_case li a:hover i.icon_9{ background-position:-209px -53px; }
/*smart_clazz_list*/
.smart_clazz_list{ clear: both;}
.smart_clazz_list { margin-left: -15px;}
.smart_clazz_list li .ground_color .ring, .smart_clazz_list .ringIcon{ background: url(../images/smartclazz/clazz_icon.png) no-repeat; _background-image: url(../images/smartclazz/clazz_icon_8.png);}
.smart_clazz_list li { float: left; width: 243px; cursor: pointer; padding: 0 0 15px 15px; margin: 0;}
.smart_clazz_list li .ground_color{ background-color: #eee; position: relative; height: 190px;}
.smart_clazz_list li .ground_color .ground_tran{ background-color: #000; height: 100%; width: 100%; opacity: 0.4; filter: alpha(opacity=40); display: none;}
.smart_clazz_list li .ground_color .ring{ width: 98px; height: 98px; background-position: 0 -66px; position: absolute; left: 50%; top: 50%; margin: -49px 0 0 -49px;}
.smart_clazz_list li .ground_color .text{ font: bold 16px/1.125 ""; position: absolute; width: 99%; text-align: center; top: 70%; left: 0;}
.smart_clazz_list li .ringIcon{ width: 50px; height: 42px; display: block; position: absolute; left: 50%; top: 50%; margin: -21px 0 0 -25px; background-position: 5px 0;}
.smart_clazz_list li .ground_color_0{ background-color: #60b9ff;}
.smart_clazz_list li .ground_color_1{ background-color: #44ddb0;}
.smart_clazz_list li .ground_color_2{ background-color: #fe8784;}
.smart_clazz_list li .ground_color_3{ background-color: #f7de55;}
.smart_clazz_list li .ground_color_4{ background-color: #e65f6b;}
.smart_clazz_list li .ground_color_5{ background-color: #98dae8;}
.smart_clazz_list li .ground_color_6{ background-color: #c0e3b8;}
.smart_clazz_list li .ground_color_7{ background-color: #a66211;}
.smart_clazz_list li .ground_color_8{ background-color: #fe9372;}
.smart_clazz_list li .ground_color_9{ background-color: #e65844;}
.smart_clazz_list li .ground_color_add{ background-color: #f1f1f1; border: 1px dashed #c9c9c9; height: 237px;}
.smart_clazz_list li .ground_color_0 .ringIcon{ background-position: 5px 0;}
.smart_clazz_list li .ground_color_1 .ringIcon{ background-position: -63px 0;}
.smart_clazz_list li .ground_color_2 .ringIcon{ background-position: -131px 0;}
.smart_clazz_list li .ground_color_3 .ringIcon{ background-position: -203px 0;}
.smart_clazz_list li .ground_color_4 .ringIcon{ background-position: -267px 0;}
.smart_clazz_list li .ground_color_5 .ringIcon{ background-position: -328px 0;}
.smart_clazz_list li .ground_color_6 .ringIcon{ background-position: -389px 0;}
.smart_clazz_list li .ground_color_7 .ringIcon{ background-position: -471px 0;}
.smart_clazz_list li .ground_color_8 .ringIcon{ background-position: -548px 0;}
.smart_clazz_list li .ground_color_9 .ringIcon{ background-position: -623px 0;}
.smart_clazz_list li .ground_color_add .ringIcon{ background-position: -767px 2px !important; }
.smart_clazz_list li .ground_color_add .ring{ background-position: -133px -66px; top: 40%;}
.smart_clazz_list li.active .ground_color_add {border: 1px solid #fff; }
.smart_clazz_list li.active .ground_color_add .ground_tran{background-color: #fff; opacity: 1; filter: alpha(opacity=100);}
.smart_clazz_list li .title{ background-color: #fff; height: 50px; border: solid #ccc; border-width: 0 1px 1px;}
.smart_clazz_list li .title h3{ float: left; width: 130px; padding:0 0 0 20px; overflow: hidden; white-space: nowrap; margin: 0; font: bold 16px/50px "";}
.smart_clazz_list li .title .count{ width: 70px; white-space: nowrap; overflow: hidden; text-align: right;color: #67717e; float: right; padding:0 20px 0 0; display: block; font: bold 14px/50px "";}
.smart_clazz_list li.active .ground_color .ringIcon{ background-position: -695px 0;}
.smart_clazz_performance { margin-top: -41px;}
.smart_clazz_performance li{ float: left; background-color: #73dede; float: left; height: 260px; width: 195px; cursor: pointer; position: relative;}
.smart_clazz_performance li .praiseIcon{ width: 96px; height: 96px; margin: 60px auto 0; background: url(../images/smartclazz/praiseIcon.png) no-repeat 0 0; _background-image: url(../images/smartclazz/praiseIcon_8.png); }
.smart_clazz_performance li .arrow{ display: none; font-size: 30px; line-height: 1.125; color: #fff; position: absolute; top: -17px; left: 50%; margin-left: -13px; overflow: hidden; height: 30px;}
.smart_clazz_performance li.p_2{ background-color: #fddd5b;}
.smart_clazz_performance li.p_3{ background-color: #93a4eb;}
.smart_clazz_performance li.p_1 .praiseIcon{ background-position: 0 0 ;}
.smart_clazz_performance li.p_2 .praiseIcon{ background-position: -116px 0;}
.smart_clazz_performance li.p_3 .praiseIcon{ background-position: -232px 0;}
.smart_clazz_performance li.hover .praiseIcon{ background-position: -348px 0; margin-top: 60px;}
.smart_clazz_performance li.hover .arrow{ display: block;}
.smart_clazz_performance li h5{ display: block; text-align: center; padding: 10px 0; }
.smart_scroll{ overflow: hidden; height: 1010px;}
/*smartclass_gettip*/
.smartclass_gettip_message .jqimessage { padding: 0 !important; margin: 0 !important;}
.smartclass_gettip_message .jqi, .smartclass_gettip_message .jqistate { overflow: visible !important;}
.smartclass_gettip_message .jqiclose { display: none !important;}
.smartclass_gettip{ background-color: #fff; width: 680px; position: relative; }
.smartclass_gettip .smartclass_getcon{ padding: 40px; height: 185px;}
.smartclass_gettip .smartclass_getcon dl{ width: 600px; margin: 0 auto;}
.smartclass_gettip .smartclass_getcon dl dt{ float: left; width: 180px; height: 180px; border: 1px solid #999;}
.smartclass_gettip .smartclass_getcon dl dt img{ width: 180px; height: 180px; }
.smartclass_gettip .smartclass_getcon dl dd{ margin-left: 224px; text-align: center;}
.smartclass_gettip .smartclass_getcon dl dd span{ font: 40px/100px "微软雅黑 arial";}
.smartclass_gettip .smartclass_getcon dl dd p{ font: bold 16px/60px "微软雅黑 arial";}
.smartclass_gettip .smartclass_getcon dl dd p i.icon{ background: url("../images/smartclazz/bean.png") no-repeat; width: 43px; height: 42px;  display: inline-block; vertical-align: middle; margin: 0 12px;}
.smartclass_gettip .smartclass_getcon dl dd p strong{font:45px/60px "arial"; vertical-align: middle;}
.smartclass_gettip .smartclass_getcon dl dd .smartclass_get_icon{ background: url("../images/smartclazz/micon.png?1.0.1") no-repeat 500px 500px; position: absolute; top: -36px; right: -36px; width: 92px; height: 92px; display: block;}
.smartclass_gettip .smartclass_getcon dl dd .micon_1{ background-position: 0 -4px;}
.smartclass_gettip .smartclass_getcon dl dd .micon_2{background-position: 0 -104px;}
.smartclass_gettip .smartclass_getcon dl dd .micon_3{background-position: 0 -202px;}
/*smartclass_beantip*/
.smartclass_beantip { background-color: #fff; box-shadow: 0 0 3px 2px #ddd; overflow: hidden; display: block;  width: 462px; margin:0 auto 40px; border: 1px solid #ccc;}
.smartclass_beantip a{ background: url("../images/smartclazz/bean_jian.png?1.0.1") no-repeat 500px 500px; float: left; width: 61px; height: 59px; border: 1px solid #d1d0d0; display: inline-block;}
.smartclass_beantip a.minusBtn{ background-position: -8px -224px; float: left;}
.smartclass_beantip a.plusBtn{ background-position: -7px -399px; float: right;}
.smartclass_beantip a.minusBtn:hover{ background-position: 0 -300px;  }
.smartclass_beantip a.plusBtn:hover{ background-position: 0 0;}
.smartclass_beantip input{ font-size:40px; border: none; background: none; width: 90px; text-align: right; vertical-align: middle; padding: 7px 5px 0;}
.smartclass_beantip label{ display: inline-block; vertical-align: middle; font: 36px/1.125 "微软雅黑", "Microsoft YaHei", Arial, "黑体";}
/*Impromptu*/
div.jqi{ border-radius: 0;}
div.jqi .jqiclose { padding: 0; background: url(../images/smartclazz/close.png) no-repeat center center; width: 50px; height: 50px; overflow: hidden; color: #fff; margin: 13px 10px -70px 0;}
div.jqi .jqititle { background: none; border-bottom: 1px solid #ccc; color: #000; padding : 30px 28px; font: bold 16px/1.125 arial;}
div.jqi .jqimessage{ padding:40px 0; text-align: center;}
div.jqi .jqibuttons{ padding: 10px 0 50px;}
div.jqi .jqibuttons button{ border-radius: 0;}
div.jqi .jqibuttons button, div.jqi .btn_mark{ border-radius: 0;}
.smartAlertInfo{ position: relative; margin: 0 0 10px; z-index: 1;}
.smartAlertInfo .tip_content{width: auto; background-color: #ffef94; border-color: #ffe094; box-shadow: none; border-radius: 0; text-align: center; color: #cc6600;}
.smartAlertInfo span.arrow{ color: #ffe094; left: 130px;}
.smartAlertInfo span.arrow span.inArrow{ color: #ffef94;}