/*header样式*/
.m-header{min-width:1100px;background-color:#fff}
.m-header .m-inner{position:relative;clear:both;background-color:#fff;width:1100px;height:84px;margin:0 auto;}
.m-header .m-inner .logo{float:left;margin-bottom:0;margin-top:25px}
.m-header .m-inner .logo a{display:block}
.m-header .m-inner .logo a img{height:39px}
.m-header .user_nv{vertical-align:bottom;margin:0;padding-right:0;padding-bottom:0;font-size:16px;background-color:#fff;position:absolute;right:0;top:43px}
.m-header .user_nv li{position:relative;line-height:40px;height:40px;display:inline-block;padding-left:1px;color:#666;vertical-align:bottom;text-decoration:none}
.m-header .user_nv li span{display: inline-block;height: 40px;}
.m-header .user_nv li a{color:#666;vertical-align:bottom;text-decoration:none}
.m-header .user_nv .arrow{display:inline-block;margin-left:4px;width:0;height:0;border-top:5px solid #666;border-left:5px solid transparent;border-right:5px solid transparent;content:"";vertical-align:middle}
.m-header .user_nv .sub_nav{position:absolute;right:0;top:40px;display:none;background-color:#fff;box-shadow:0 3px 3px rgba(0,0,0,.3);z-index:100;left: inherit; right: 0px; width: 120px;}
.m-header .user_nv .sub_nav li{display:block;padding:0 10px}
.m-header .user_nv .sub_nav li a{display:block}
.m-header .user_nv .sub_nav li:hover{background-color:#f7f7f7}
.m-header .user_nv .sub_nav li:hover a{color: #1b92ff;}
.m-header .user_nv .has_sub{position:relative;cursor:pointer}
.m-header .user_nv .has_sub span.sub-namebox{padding:0 5px}
.m-header .user_nv .has_sub span.sub-name{text-align:right;display:inline-block;vertical-align:middle;max-width:80px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}

/*footer样式*/
.m-footer{min-width:1100px;clear:both;background-color:#fff;height:200px;border-top:2px solid #3780c5}
.m-footer .m-inner{clear:both;background-color:#fff;height:200px;width:1000px;margin:0 auto;overflow:hidden}
.m-footer .copyright{color:#b9b9b9;font-size:12px;margin-top:50px}
.m-footer .link{margin-top:8px}
.m-footer .link .spare-icon{background:url(../images/common/m-icon-share.png?v=a54e6982fb) no-repeat 500px 500px;display:inline-block;width:39px;height:38px;margin-right:20px}
.m-footer .link .spare-icon:hover{background-image:url(../images/common/m-icon-share-blue.png?v=0e79900308)}
.m-footer .link .spare-weibo{background-position:0 0}
.m-footer .link .spare-rr{background-position:-62px 0}
.m-footer .link .spare-qq{background-position:-124px 0}
.m-footer .link .spare-wx{background-position:-185px 0}
.m-footer .link .spare-qzone{background-position:-248px 0}
.m-footer a:hover{text-decoration:none}
.m-footer .m-foot-link{margin-top:45px;width:350px}
.m-footer .m-foot-link h3{color:#000;font-size:16px;height:25px;padding-left:10px}
.m-footer .m-foot-link a{display:block;color:#666;line-height:26px;font-size:14px}
.m-footer .m-foot-link a:hover{color:#189cfb}
.m-footer .m-foot-link .w-fl-left{width:120px;}
.w-fl-left{float:left}
.w-fl-right{float:right}

/*通用弹窗样式*/
div.jqi{border-radius:5px;padding:0;border:none;font:14px/100% "微软雅黑","Microsoft YaHei",arial}
div.jqi .jqiclose{font-size:28px;font-weight:400;color:#fff;border-left:none!important;padding:0;height:34px;line-height:30px;width:46px;text-align:center;position:absolute;top:0;right:0;_line-height:48px;overflow:hidden;color:#fff!important;}
div.jqi .jqistates{float:none}
div.jqi .jqititle{color:#fff!important;padding:6px 0 6px 20px;font-size:18px;border:none;background:#1b92ff;border-radius:5px 5px 0 0}
div.jqi .jqimessage{margin:40px 20px 20px;padding:0;text-align:center}
div.jqi .jqimessage .w-ag-center{word-break:break-all}
div.jqi .jqimessage .jqicontent{margin:40px 20px;clear:both;line-height:180%}
div.jqi .jqibuttons{border:none;background:0 0;text-align:center;padding:20px 0 30px}
div.jqiwarning div.jqi .jqibuttons{background-color: transparent;}
div.jqi .jqibuttons button{ background-color:#f6f6f6!important;color:#5d5f5f!important;border:1px solid #ebebeb!important; display:inline-block;padding:6px 30px;text-decoration:none;text-align:center;font:14px/1.125 "微软雅黑","Microsoft YaHei",Arial;vertical-align:middle;outline:0;cursor:pointer;border-radius:0}
div.jqi .jqibuttons button:hover{background-color:#1b92ff;color:#5d5f5f}
div.jqi .jqibuttons button:active{background-color:#1b92ff}
div.jqi .jqibuttons .jqidefaultbutton{border:1px solid #4e8b39;color:#fff;background-color:#1b92ff !important;color: #ffffff !important; border-radius:0}
div.jqi .jqibuttons .jqidefaultbutton:hover{background-color:#1b92ff;color:#fff}

/*报告弹窗*/
.pop_up_Wrap{position: fixed;top:0;left:0px;width: 100%;height: 100%;background-color:rgba(50,50,50,0.8)}
.content-box{width: 610px;height: 416px;margin: 220px auto;background: #fff;border-radius: 2px;}
.content-box .pop-header{width: 100%;height: 40px;background: #1B92FF;color:#fff;padding: 0 20px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.content-box .pop-header span{display: inline-block;line-height: 40px}
.content-box .pop-header .pop-header-left{font-size: 16px;float: left}
.content-box .pop-header .pop-header-right{display:inline-block;padding: 0 20px; float: right;font-size: 20px;cursor: pointer}
.content-box .pop-main{width: 100%;padding: 0 65px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.content-box .pop-main .small-title{margin-top: 40px;margin-bottom: 5px; font-size: 20px;color: #58595E;text-align: center;line-height: 28px;}
.content-box .pop-main .checked-box{ overflow: hidden; margin-top: 30px;font-size: 13px;color: #58595E;text-align: justify;line-height: 20px;}
.content-box .pop-main .checked-box .icon_box .title{font-size:16px;color: #58595E;text-align: center;line-height: 21px;}
.content-box .pop-main .checked-box>a{display: block; width: 220px;text-align: center;padding:0px 10px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.content-box .pop-main .checked-box .left-box{float: left;}
.content-box .pop-main .checked-box .left-box:active{background: rgba(0,123,236,0.05);border-radius: 2px;}
.content-box .pop-main .checked-box .del-text{margin-top:5px;text-align: left}
.content-box .pop-main .checked-box  img{width: 70px;height: 70px;margin: 0 auto;overflow: hidden}
.content-box .pop-main .checked-box .right-box{float: right;}
.content-box .pop-main .checked-box .right-box:active{background: rgba(0,123,236,0.05);border-radius: 2px;}
.content-box .pop-main .btn{margin-top: 24px;width: 100%;text-align: center}
.content-box .pop-main .btn img{ width: 120px;height: 40px;overflow: hidden;}
