/*intive 动态*/
.t-awardInvitation-box .ai-title{border-bottom: 1px solid #d3d8df;}
.t-awardInvitation-box h4{font-size: 16px;font-weight: normal;line-height: 44px;padding:0 0 0 14px;}
.t-awardInvitation-box h5 .ai-time,.invite-box h5 .ai-time{color: #f87358;}
.t-awardInvitation-box h5, .ai-content h5, .invite-box h5{font-size: 16px;font-weight: normal;line-height: 40px;padding:0 0 0 14px;clear: both;}
.invite-box .ai-content{border:1px solid #e9ecf1;background-color: #f6f9fe;}
.invite-box .ai-content h5{border-bottom:1px solid #e9ecf1;}
.invite-box .ai-right{padding:10px 15px 0 0;}
.ai-content {overflow: hidden;width:100%;position: relative;}
.ai-content .ai-left{float: left;padding: 10px 0 0 14px;width:450px;}
.ai-right{padding:50px 16px 0 0;float: right;}
.ai-right .view_btn{color: #279ff9;font-size: 14px;}
.ai-content .ai-progress{overflow: hidden; *overflow: hidden;*zoom:1;}
.ai-content .ai-progress-info{padding:12px 0;clear: both;}
.ai-content .ai-progress-info .p-left{float: left;}
.ai-content .ai-progress-info .p-right{text-align: right;}
.ai-content .ai-progress .bar{border-radius: 50%;background-color: #eff2f6;width:30px;height:30px;line-height: 30px;text-align: center;color: #4e5656;font-size: 14px;float: left;}
.ai-content .ai-progress .inner{width:390px;height:10px;background-color: #eff2f6;float: left;margin:10px 0;overflow: hidden;}
.ai-content .ai-progress .inner .current{height:10px;background-color: #3da8f1;}
.ai-content .ai-progress .active{background-color: #3da8f1;color: #fff;}


.t-awardInvitation-box .ai-main{overflow: hidden;}
.t-awardInvitation-box .ai-side{float: left;width:375px;}
.t-awardInvitation-box .ai-side h4{padding-top:25px;font-weight: bold;}
.t-awardInvitation-box .ai-side .invitationList{ clear: both; }
.t-awardInvitation-box .ai-side .invitationList .subject{text-align:center;cursor:pointer;float: left;padding:5px;height:19px;line-height: 19px;background-color: #fff;margin:2px;border: 1px solid #dedede;}
.t-awardInvitation-box .ai-side .invitationList .active{color: #189cfb;border: 1px solid #09f;}
.t-awardInvitation-box .ai-side .invitationList dt{font-size: 14px;font-weight: normal;width: 130px;float: left;text-align: right;line-height: 23px;}
.t-awardInvitation-box .ai-side .invitationList dd{margin: 0 0 15px 140px; overflow: hidden;}
.t-awardInvitation-box .ai-side .invitationList .captcha{width:60px;}
.t-awardInvitation-box .ai-side .invitationList .clrblue{color: #5e65d7;}
.t-awardInvitation-box .ai-rule { background: #f5fbff;border: 1px dashed #b4cbdb;margin:35px 10px 15px 400px;padding:10px;}
.t-awardInvitation-box .ai-rule h4{font-weight: bold;}
.t-awardInvitation-box .ai-rule .ai-column{border: 1px dashed #bfbfbf;background-color: #f6f6f6;color: #fa7252;border-radius: 4px;padding:10px;overflow: hidden;*overflow: hidden;*zoom:1;}
.t-awardInvitation-box .ai-rule .ai-column p{line-height: 24px;}
.t-awardInvitation-box .ai-rule .ai-column .binding_btn{float: right;background-color: #fff;color: #189cfb;border: 1px solid #09f;display: inline-block;border-radius: 4px;font-size: 14px; padding: 4px;    text-align: center;}
.t-awardInvitation-box .ai-rule .ai-list{background-color: #f2f2f2;padding:19px 10px 50px 10px;margin:8px 0;}
.t-awardInvitation-box .ai-rule .ai-list li{font-size:14px;line-height: 30px;}
.t-awardInvitation-box .ai-rule .ai-list .l-btn{float: right;padding:20px 0 0 0;}
.t-awardInvitation-box .ai-rule .ai-list .l-btn .rule_btn{color: #2b2db5;}
.t-awardInvitation-box .ai-rule .ai-tip p{font-size: 14px;line-height: 25px;}
.t-awardInvitation-box .invite-title .ai-tab{float: right;}
.t-awardInvitation-box .invite-title .ai-tab li{float: left;line-height: 45px;font-size: 14px;text-align: center;width:156px;overflow: hidden;*overflow: hidden;*zoom:1;}
.t-awardInvitation-box .invite-title .ai-tab li a{color: #4e5656;}
.t-awardInvitation-box .invite-title .ai-tab .active a{color: #187bc7;background-color: #e1f0fb;display: block;border: 1px solid #68bcf7;border-bottom: none;border-radius: 3px 3px 0 0;}
.t-awardInvitation-box .invite-title{border-bottom: 1px solid #68bcf7;height:45px;}
.t-awardInvitation-box .invite-title h3{line-height: 45px;float: left;padding: 0 0 0 14px;}
.t-awardInvitation-box .ai-container li{width:49%;float: left;text-align: center;font-size: 18px;color: #279ff9;border-right: 1px solid #dae6ee;margin:20px 0;}
.t-awardInvitation-box .ai-container ul{border-bottom: 1px solid #dae6ee;overflow: hidden;}
.t-awardInvitation-box .ai-container li .num{font-size: 24px;}
.t-awardInvitation-box .ai-container li b{font-size: 14px;font-weight: normal;}
.t-awardInvitation-box .ai-container li .ai-icon,
.t-awardInvitation-box .ai-container li .icon-1 {background: url(../images/intive/invitat-icon.png) no-repeat 0 0;width:52px;height:52px;display: inline-block;vertical-align: middle;padding:0 15px 0 0;}
.t-awardInvitation-box .ai-container li .icon-1{background-position: 0 -56px;}
.t-awardInvitation-box .w-table tr{text-align: center;}
.t-awardInvitation-box .w-table tr span{float: left;width:156px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.t-awardInvitation-box .w-table table tbody td, .w-table table thead th {color: #4d4f5d;border: solid #dfdfdf;border-width: 1px 0 1px 1px;}
.t-awardInvitation-box .w-table .ai-arrow{font-size: 14px;line-height: 35px;padding:0 0 0 14px;color: #7f96a3;border-bottom: 1px solid #dfdfdf;;}
.t-awardInvitation-box .w-table .sub{color: #f87358;}