@charset "UTF-8";html{font-size:18px}
@media only screen and (min-width:360px){html{font-size:20px!important}}
@media only screen and (min-width:375px){html{font-size:21px!important}}
@media only screen and (min-width:400px){html{font-size:22px!important}}
@media only screen and (min-width:414px){html{font-size:23px!important}}
@media only screen and (min-width:480px){html{font-size:24px!important}}
@media only screen and (min-width:540px){html{font-size:26px!important}}
@media only screen and (min-width:640px){html{font-size:28px!important}}
@media only screen and (min-width:768px){html{font-size:32px!important}}
@media only screen and (min-width:960px){html{font-size:36px!important}}
html{-webkit-overflow-scrolling:touch;overflow-scrolling:touch;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;-webkit-user-select:none;-ms-user-select:none}
body,button,input,select,textarea{font-family:TrebuchetMS,Rotobo,"Microsoft YaHei",sans-serif}
body,dd,dl,dt,form,h1,h2,h3,h4,h5,h6,html,li,ol,p,select,ul{margin:0;padding:0}
li,ol,ul{list-style-type:none}
em,i{font-style:normal}
a{color:#333}
a{text-decoration:none}
a img{border:0 none}
input:-ms-input-placeholder,input::-moz-placeholder,input::-webkit-input-placeholder{color:#999}
input:focus:-ms-input-placeholder,input:focus::-moz-placeholder,input:focus::-webkit-input-placeholder{color:transparent}
button,input[type=button],input[type=email],input[type=number],input[type=password],input[type=phone],input[type=search],input[type=submit],input[type=text],textarea{-webkit-appearance:none;-moz-appearance:none;-webkit-border-image:none;border-image:none;-webkit-border-radius:0;border-radius:0;-webkit-box-sizing:border-box;box-sizing:border-box}
button,input[type=button],input[type=reset],input[type=submit]{cursor:pointer;-webkit-appearance:button}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
table{border-collapse:collapse;border-spacing:0}
td{vertical-align:top}
.hidden{display:none!important;visibility:hidden}
.visuallyhidden{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px}
.visuallyhidden.focusable:active,.visuallyhidden.focusable:focus{clip:auto;height:auto;margin:0;overflow:visible;position:static;width:auto}
.invisible{visibility:hidden}
.clearfix:after,.clearfix:before{content:"";display:table}
.clearfix:after{clear:both}
.clearfix{zoom:1}
@media print{*{background:0 0!important;color:#000!important;text-shadow:none!important;filter:none!important;-ms-filter:none!important}
    a,a:visited{text-decoration:underline}
    a[href]:after{content:" (" attr(href) ")"}
    abbr[title]:after{content:" (" attr(title) ")"}
    .ir a:after,a[href^="#"]:after,a[href^="javascript:"]:after{content:""}
    blockquote,pre{border:1px solid #999;page-break-inside:avoid}
    thead{display:table-header-group}
    img,tr{page-break-inside:avoid}
    img{max-width:100%!important}
    @page{margin:.5cm}
    h2,h3,p{orphans:3;widows:3}
    h2,h3{page-break-after:avoid}}
body,html{-webkit-tap-highlight-color:transparent;-ms-tap-highlight-color:transparent;-o-tap-highlight-color:transparent;-moz-tap-highlight-color:transparent;tap-highlight-color:transparent}
.liveWrap{padding-bottom:1.35rem;background-color:#ffc936}
.livePc{width:750px;margin:0 auto}
.liveSection{position:relative}
.liveSection img{display:block;width:100%;height:auto}
.liveSection.pad25{padding:0 .625rem}
.liveSection.mar80{margin-bottom:2rem}
.liveSection .btn-order{position:absolute;left:50%;bottom:.25rem;margin-left:-2.5rem;width:5rem;height:1.25rem;background:url(../images/btn-order.png?v=0e73c3b698) no-repeat 50% 50%;background-size:4.25rem 1rem}
.liveScroll{position:relative;z-index:2;margin-top:-4.5rem;padding:2.25rem .625rem 0}
.lessonBox{background-color:#fef5db;padding:1rem .75rem;border-radius:1rem;border:.1rem solid #54390e}
.lessonBox .lessonList{position:relative;margin-bottom:.5rem;background-color:#ffeaaf;border-radius:.75rem;font-size:.5rem;color:#333}
.lessonBox .lessonList .txt{padding:.15rem 4.25rem .15rem 1.25rem}
.lessonBox .lessonList .time{padding-top:.1rem;font-size:.45rem}
.lessonBox .lessonList .num{position:absolute;left:-.15rem;top:50%;margin-top:-.55rem;width:1.075rem;height:1.075rem;background-repeat:no-repeat;background-size:100% 100%}
.lessonBox .lessonList .num.num01{background-image:url(../images/num01.png?v=620d7362a2)}
.lessonBox .lessonList .num.num02{background-image:url(../images/num02.png?v=b5114b9f52)}
.lessonBox .lessonList .num.num03{background-image:url(../images/num03.png?v=9c9baf0de0)}
.lessonBox .lessonList .btn{position:absolute;right:-.25rem;top:50%;margin-top:-.875rem;width:4.75rem;height:1.75rem;background-repeat:no-repeat;background-size:100% 100%}
.lessonBox .lessonList .btn.btn-green{background-image:url(../images/btn-green.png?v=19c42a25c8)}
.lessonBox .lessonList .btn.btn-red{background-image:url(../images/btn-red.png?v=0b35051c7d)}
.lessonBox .lessonList .btn.btn-yellow{background-image:url(../images/btn-yellow.png?v=288280b2f8)}
.lessonBox .lessonList .btn.btn-gray{background-image:url(../images/btn-gray.png?v=6187746be9)}
.lessonBox .lessonList .btn.btn-gray2{background-image:url(../images/btn-gray2.png?v=1810a62c73)}
.lessonBox:last-child{margin-bottom:0}