@charset "UTF-8";
html{font-size:18px}
@media only screen and (min-width:360px){html{font-size:20px!important}
}
@media only screen and (min-width:375px){html{font-size:21px!important}
}
@media only screen and (min-width:400px){html{font-size:22px!important}
}
@media only screen and (min-width:414px){html{font-size:23px!important}
}
@media only screen and (min-width:480px){html{font-size:24px!important}
}
@media only screen and (min-width:540px){html{font-size:26px!important}
}
@media only screen and (min-width:640px){html{font-size:28px!important}
}
@media only screen and (min-width:768px){html{font-size:30px!important}
}
@media only screen and (min-width:960px){html{font-size:36px!important}
}
html{-webkit-overflow-scrolling:touch;overflow-scrolling:touch;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;-webkit-user-select:none;-ms-user-select:none}
body,button,input,select,textarea{font-family:TrebuchetMS,Rotobo,"Microsoft YaHei",sans-serif}
body,dd,dl,dt,form,h1,h2,h3,h4,h5,h6,html,li,ol,p,select,ul{margin:0;padding:0}
li,ol,ul{list-style-type:none}
em,i{font-style:normal}
a{color:#333}
a{text-decoration:none}
a img{border:0 none}
input:-ms-input-placeholder,input::-moz-placeholder,input::-webkit-input-placeholder{color:#999}
input:focus:-ms-input-placeholder,input:focus::-moz-placeholder,input:focus::-webkit-input-placeholder{color:transparent}
button,input[type=button],input[type=text],input[type=password],input[type=submit],input[type=search],input[type=email],input[type=number],input[type=phone],textarea{-webkit-appearance:none;-moz-appearance:none;-webkit-border-image:none;border-image:none;-webkit-border-radius:0;border-radius:0;-webkit-box-sizing:border-box;box-sizing:border-box}
button,input[type=reset],input[type=button],input[type=submit]{cursor:pointer;-webkit-appearance:button}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
table{border-collapse:collapse;border-spacing:0}
td{vertical-align:top}
.hidden{display:none!important;visibility:hidden}
.visuallyhidden{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px}
.visuallyhidden.focusable:active,.visuallyhidden.focusable:focus{clip:auto;height:auto;margin:0;overflow:visible;position:static;width:auto}
.invisible{visibility:hidden}
.clearfix:after,.clearfix:before{content:"";display:table}
.clearfix:after{clear:both}
.clearfix{zoom:1}
@media print{*{background:0 0!important;color:#000!important;text-shadow:none!important;filter:none!important;-ms-filter:none!important}
    a,a:visited{text-decoration:underline}
    a[href]:after{content:" (" attr(href) ")"}
    abbr[title]:after{content:" (" attr(title) ")"}
    .ir a:after,a[href^="javascript:"]:after,a[href^="#"]:after{content:""}
    blockquote,pre{border:1px solid #999;page-break-inside:avoid}
    thead{display:table-header-group}
    img,tr{page-break-inside:avoid}
    img{max-width:100%!important}
    @page{margin:.5cm}
    h2,h3,p{orphans:3;widows:3}
    h2,h3{page-break-after:avoid}
}
img{display:inherit}
.vrk-top{margin:1rem auto .5rem;width:16.75rem;height:2rem;font-weight:bold;line-height:1.75rem;font-size:.9rem;color:#fff;text-align:center;background:url(../images/title-03.png?v=221e452c76) no-repeat;background-size:100% 100%}
.vrk-top-1{background:url(../images/title-01.png?v=ca0e46299f) no-repeat;background-size:100% 100%}
.vrk-top-2{background:url(../images/title-02.png?v=00a28886da) no-repeat;background-size:100% 100%}
.vrk-head{margin-bottom:.75rem;overflow:hidden}
.vrk-head li{float:left;text-align:center;font-size:.7rem}
.vrk-head li span{display:inline-block;width:3rem;height:1.5rem;line-height:1.5rem;border-radius:.5rem}
.vrk-head li:nth-child(1){width:25%}
.vrk-head li:nth-child(1) span{color:#58a8d2;background-color:#ebf8ff}
.vrk-head li:nth-child(2){width:50%}
.vrk-head li:nth-child(2) span{color:#3e982c;background-color:#e3f7df}
.vrk-head li:nth-child(3){width:25%}
.vrk-head li:nth-child(3) span{color:#e88b1a;background-color:#fceedd}
.vrk-title li{clear:both;padding:0 0 1rem 0;text-align:center;font-size:.8rem;color:#333;overflow:hidden}
.vrk-title li div{float:left;line-height:1.5rem}
.vrk-title li .popularity,.vrk-title li .vrk-rank{width:25%}
.vrk-title li .info{width:50%;text-overflow:ellipsis;white-space:nowrap;overflow:hidden}
.rankNum{display:inline-block;vertical-align:middle;width:1.3rem;height:1.3rem;line-height:1.3rem;font-size:.9rem;color:#fff;background:#b9cdd7;border:.1rem solid #a5becb;border-radius:100%}
.rankNum1{border:.1rem solid #ea4a67;background:#f7647f}
.rankNum2{background:#f5cf11;border:.1rem solid #f4c158}
.rankNum3{background:#6fc4ee;border:.1rem solid #5ab3e3}
.comment-title{padding:0 1rem;height:2.7rem;line-height:2.7rem;font-size:.8rem;color:#333;border-bottom:1px solid #e6e6e6;background-color:#fff;overflow:hidden}
.comment-title .comment-right{float:right;font-size:.6rem;color:#bababa}
.agency-top{height:15.525rem;text-align:center;background:url(../images/agency-bg.png?v=541f5b1974) no-repeat;background-size:100% 100%}
.agency-top .w-orderedBtn{padding:.5rem 0}
.agency-top .acy-image{position:relative;top:1.45rem;margin:0 auto;width:6rem;height:6rem;background:#d8d8d8;border:.05rem solid rgba(255,255,255,.4);border-radius:1.25rem}
.agency-top .acy-image img{width:100%;height:100%;border-radius:1.25rem}
.agency-top .acy-title{padding:2.075rem 0 .625rem 0;font-size:.9rem;color:#fff}
.agency-top .acy-info{padding:0 0 .625rem 0;opacity:.69;font-size:.6rem;color:#fff}
.agency-top .acy-tips{padding:.5rem 0;opacity:.9;font-size:.6rem;color:#fff}
body{background-color:#f2f4f5}
.bg-fff{background-color:#fff}
.vote-top img{width:100%;height:100%}
.vote-side{margin-bottom:.75rem}
.vote-side .vote-text{padding:.6rem 0;text-align:center;background-color:#fff}
.vote-side .vote-text .txt{width:90%;height:1.7rem;font-size:.7rem;color:#bababa;text-align:center;background-color:#f3f3f3;border:none;outline:0;border-radius:2.5rem}
.vote-side .vote-info{padding:.4rem 0 0rem 0;text-align:center;background:#f1fff3;height:2.125rem;font-size:.6rem;color:#41bb54}
.titleBar{padding:0 1rem;font-size:.7rem;color:#333;line-height:1.5rem;border-bottom:1px solid #e6e6e6;box-sizing:border-box;background-color:#fff}
.right{float:right}
.head{font-size:.8rem;color:#333}
.starBg{cursor:pointer}
.starBg span{padding-left:.6rem;font-size:.55rem;color:#bababa}
.starBg a{display:inline-block;vertical-align:middle;width:.75rem;height:.725rem;background:url(../images/star-02.png?v=697673079b) no-repeat;background-size:100% 100%}
.starBg .cliBg{width:.75rem;height:.725rem;background:url(../images/star-01.png?v=550353a7c5) no-repeat;background-size:100% 100%}
.aeg-top{clear:both;position:relative;margin-bottom:.75rem;background-color:#fff;overflow:hidden}
.aeg-top dl{padding:.5rem;border-bottom:1px solid #e5e5e5;overflow:hidden}
.aeg-top dl .aeg-num{float:left}
.aeg-top dl .aeg-img,.aeg-top dl dt{position:relative;float:left;width:3.5rem;height:3.5rem;border-radius:.75rem;overflow:hidden}
.aeg-top dl .aeg-img img,.aeg-top dl dt img{width:100%;height:100%}
.aeg-top dl .aeg-img .tips,.aeg-top dl dt .tips{position:absolute;bottom:.25rem;right:.25rem;padding:.05rem 0;display:inline-block;width:1.425rem;text-align:center;font-size:.55rem;color:#fff;background:rgba(0,0,0,.8);border-radius:.5rem}
.aeg-top dl .aeg-num{margin-right:.75rem;width:auto;line-height:3rem;text-align:center}
.aeg-top dl dd{position:relative;margin-left:4.25rem}
.aeg-top dl dd .head{font-weight:700;text-overflow:ellipsis;overflow:hidden;white-space:nowrap}
.aeg-top dl dd .price{padding-top:.125rem;float:right;font-weight:400;font-size:.55rem;color:#333}
.aeg-top dl dd .distance{float:right;font-size:.55rem;color:#bababa}
.aeg-top dl dd .title{font-size:.8rem;color:#333}
.aeg-top dl dd .tip{font-size:.7rem;color:#888}
.aeg-top dl dd .tip span{padding-left:.375rem}
.aeg-top dl .aeg-side{margin-left:6.5rem}
.w-orderedBtn{padding:.25rem 0;display:inline-block;width:4.15rem;font-size:.7rem;text-align:center;color:#fff;background-color:#ff8971;border-radius:2.5rem}
.w-btn-green{background-color:#41bb54}
.w-btnWid{width:8rem}
.w-btnWidPer{width:90%}
.w-btn-small{display:inline-block;width:3.9rem;height:1.5rem;line-height:1.5rem;text-align:center;font-size:.8rem;color:#41bb54;background:#fff;border:1px solid #41bb54;border-radius:2.5rem}
.w-btn-more{display:inline-block;width:100%;height:1.5rem;line-height:1.5rem;text-align:center;font-size:.7rem;color:#bababa;background-color:#fff}
.w-btn-disable{background-color:#ccc;cursor:default}
.topDif{padding:0}
.topDif .topPad{padding:1rem 1rem .75rem 0;margin-left:1rem}
.topPad{border-bottom:1px solid #e5e5e5}
.topPad dd{padding:.625rem 0 0 0}
.topMar{margin:0}
.footer{height:3rem}
.footer .inner{position:fixed;bottom:0;left:0;right:0;width:100%;height:3rem;background-color:#fff;border-top:1px solid #e6e6e6}
.footerHei{height:3.5rem}
.footerHei .inner{height:3.5rem;text-align:center}
.footerHei .inner .w-orderedBtn{margin:.625rem 0 0 0;padding:.625rem 0}
.noFixed .inner{margin-top:.875rem;position:inherit;height:auto;background: none;border:0}
.aeg-column{background-color:#fff}
.aeg-column .aeg-comment{padding:.75rem 1rem .375rem;border-bottom:1px solid #e6e6e6}
.aeg-column .aeg-comment dt{width:2rem;height:1.975rem;border-radius:100%;overflow:hidden}
.aeg-column .aeg-comment dt img{width:100%;height:100%}
.aeg-column .aeg-comment dd{margin-left:2.75rem}
.aeg-column .aeg-comment dd .title{font-size:.7rem;color:#333}
.aeg-column .aeg-comment dd .title .right{font-size:.6rem;color:#bababa}
.aeg-column .aeg-comment dd .right{font-size:.7rem;color:#333}
.aeg-column .aeg-comment dd .pro{font-size:.6rem}
.aeg-column .aeg-comment dd .pro p{padding:.15rem 0 0;color:#8e8e8e}
.aeg-column .aeg-comment dd .pro .text{display:inline-block;padding:.25rem 0 0 0;color:#54c265}
.aeg-column .aeg-comment dd .pro-show p{max-height:inherit;overflow:visible;-webkit-box-orient:inherit;-webkit-line-clamp:inherit}
.aeg-column .aeg-comment dd .commentImg{padding:.75rem 0 0 0;overflow:hidden}
.aeg-column .aeg-comment dd .commentImg .image{margin-right:.325rem;margin-bottom:.325rem;float:left;width:4rem;height:4rem;border-radius:.75rem;overflow:hidden}
.aeg-column .aeg-comment dd .commentImg .image img{width:100%;height:100%}
.icon-praise{width:1rem;height:1rem;background:url(../images/icon-praise.png?v=b359b76318) no-repeat left center;background-size:100% 100%;cursor:pointer}
.icon-praise .num{padding-left:1.5rem;font-size:.7rem;color:#bababa}
.praise-1{background:url(../images/icon-praise-1.png?v=bf6c97c504) no-repeat left center;background-size:100% 100%}
.aeg-apart{padding-top:.375rem;font-size:.55rem;color:#bababa}
.aeg-apart span{padding-left:.5rem}
.ordered-btn{float:right}
.icon-comment{position:relative}
.icon-comment .icon-commentTag{position:absolute;top:-.375rem;right:0;width:2.7rem;height:2.7rem;background:url(../images/icon-comment.png?v=fee2c14295) no-repeat;background-size:100% 100%}
.markEstimate-box{padding:0 1rem;margin-bottom:.75rem;background-color:#fff}
.mke-top{padding:.75rem 0}
.mke-top .mke-info{padding:.325rem .75rem 0 0;float:left;font-size:.7rem;color:#333}
.mke-top .starBg a{width:1.325rem;height:1.325rem}
.mke-txt{border-top:1px #e6e6e6 solid}
.mke-txt textarea{padding:.4rem 0 0 0;display:block;width:100%;height:6.75rem;font-size:.7rem;line-height:1.25rem;color:#000;border:0 none;resize:none;outline:0}
.markEstimate-main{margin-bottom:.75rem;background-color:#fff;overflow:hidden}
.markEstimate-main ul{padding:.925rem 0 0 0;overflow:hidden}
.markEstimate-main li{padding: .375rem 0;float:left;width:33.33%;text-align:center;cursor:pointer;}
.markEstimate-main li .mke-image{position:relative;margin:0 auto;width:3.5rem;height:3.5rem;border-radius:.75rem}
.markEstimate-main li .mke-image img{width:100%;height:100%;border-radius: .75rem;}
.markEstimate-main li .mke-close{position:absolute;top:-.675rem;right:-.675rem;width:1.35rem;height:1.35rem;background:url(../images/icon-close-1.png?v=ec38034e76) no-repeat;background-size:100% 100%;cursor:pointer}
.mke-content{padding:.375rem 1.25rem .75rem 1.25rem;overflow:hidden;cursor: pointer;}
.mke-content .mke-upload{margin-right:.75rem;float:left;width:3.5rem;height:3.5rem;border-radius:.75rem;background:#f6f6f6;cursor:pointer}
.mke-content .mke-upload .uploadBg{margin:.975rem auto 0;width:1.85rem;height:1.55rem;background:url(../images/icon-image.png?v=6e01c752e4) no-repeat;background-size:100% 100%}
.mke-content .mke-uploadInfo{padding:1.15rem 0 0 0;font-size:.7rem;color:#666;cursor:pointer}
.mke-column{padding:0 1rem;height:2.25rem;line-height:2.25rem;font-size:.7rem;color:#333;background-color:#fff}
.mke-column .txt{padding-left:1rem;color:#999;border:none;outline:0}
.search-box{padding:.75rem 1rem}
.search-box .txt{padding:.5rem .75rem;width:84%;font-size:.7rem;color:#888;background-color:#fff;border:1px solid #888;border-radius:2.5rem;outline:0}
.search-box .txt::-webkit-input-placeholder{color:#888}
.search-box .txt:-moz-placeholder{color:#888}
.search-box .txt::-moz-placeholder{color:#888}
.search-box .txt:-ms-input-placeholder{color:#888}
.search-box .sure-btn{float:right;margin:.5rem 0 0 0;display:inline-block;font-size:.8rem;color:#54c265}
.label{padding:0 .375rem;display:inline-block;vertical-align:middle;text-align:center;font-size:.5rem;color:#fff;background-color:#ffbb71;border-radius:1rem}
.agList-top{position:relative;margin-bottom:.75rem;padding:.5rem 1rem;background-color:#fff;overflow:hidden}
.agList-top dl{overflow:hidden}
.agList-top dl dt{position:relative;float:left;width:3.5rem;height:3.5rem;border-radius:.75rem;overflow:hidden}
.agList-top dl dt img{width:100%;height:100%}
.agList-top dl dt .tips{position:absolute;bottom:.25rem;right:.25rem;padding:.05rem 0;display:inline-block;width:1.425rem;text-align:center;font-size:.55rem;color:#fff;background:rgba(0,0,0,.8);border-radius:.5rem}
.agList-top dl dd{position:relative;margin-left:4.25rem}
.agList-top dl dd .btn{position:absolute;bottom:-1.75rem;left:-4.25rem;display:inline-block;width:3.5rem;height:1.3rem;line-height:1.5rem;text-align:center;font-size:.6rem;color:#888;background:url(../images/btn-01.png?v=865935c11e) no-repeat;background-size:100% 100%}
.agList-top dl dd .head{text-overflow:ellipsis;overflow:hidden;white-space:nowrap}
.agList-top dl dd .price{padding-top:.25rem;float:right;font-weight:400;font-size:.55rem;color:#333}
.agList-top dl dd .distance{float:right;font-size:.55rem;color:#bababa}
.agList-top dl dd .title{font-size:.8rem;color:#333}
.agList-top dl dd .tip{font-size:.7rem;color:#888}
.agList-top dl dd .tip span{padding-left:.375rem}
.agList-top{padding:0}
.agList-top dl{padding:.5rem 1rem;border-bottom:1px solid #e5e5e5}
.agList-top dl .agList-side{padding:.25rem 0 0 0;margin:.5rem 0 0 4.25rem;border-top:1px solid #e5e5e5}
.agList-top dl .agList-side .prompt{padding:.125rem 0;font-size:.6rem;color:#888}
.agList-top dl .agList-side .prompt .label{margin:0 .375rem 0 0;color:#fff;border:none}
.agList-top dl .agList-side .prompt .label-orange{background-color:#ffbb71}
.agList-top dl .agList-side .prompt .label-red{background-color:#ff8971}
.agList-top dl .agList-item{height:3.25rem}