@charset "UTF-8";
html{font-size:18px}
@media only screen and (min-width:360px){html{font-size:20px!important}
}
@media only screen and (min-width:375px){html{font-size:21px!important}
}
@media only screen and (min-width:400px){html{font-size:22px!important}
}
@media only screen and (min-width:414px){html{font-size:23px!important}
}
@media only screen and (min-width:480px){html{font-size:24px!important}
}
@media only screen and (min-width:540px){html{font-size:26px!important}
}
@media only screen and (min-width:640px){html{font-size:28px!important}
}
@media only screen and (min-width:768px){html{font-size:30px!important}
}
@media only screen and (min-width:960px){html{font-size:36px!important}
}
html{-webkit-overflow-scrolling:touch;overflow-scrolling:touch;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;-webkit-user-select:none;-ms-user-select:none}
body,button,input,select,textarea{font-family:TrebuchetMS,Rotobo,"Microsoft YaHei",sans-serif}
body,dd,dl,dt,form,h1,h2,h3,h4,h5,h6,html,li,ol,p,select,ul{margin:0;padding:0}
li,ol,ul{list-style-type:none}
em,i{font-style:normal}
a{color:#333}
a{text-decoration:none}
a img{border:0 none}
input:-ms-input-placeholder,input::-moz-placeholder,input::-webkit-input-placeholder{color:#999}
input:focus:-ms-input-placeholder,input:focus::-moz-placeholder,input:focus::-webkit-input-placeholder{color:transparent}
button,input[type=button],input[type=text],input[type=password],input[type=submit],input[type=search],input[type=email],input[type=number],input[type=phone],textarea{-webkit-appearance:none;-moz-appearance:none;-webkit-border-image:none;border-image:none;-webkit-border-radius:0;border-radius:0;-webkit-box-sizing:border-box;box-sizing:border-box}
button,input[type=reset],input[type=button],input[type=submit]{cursor:pointer;-webkit-appearance:button}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
table{border-collapse:collapse;border-spacing:0}
td{vertical-align:top}
.hidden{display:none!important;visibility:hidden}
.visuallyhidden{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px}
.visuallyhidden.focusable:active,.visuallyhidden.focusable:focus{clip:auto;height:auto;margin:0;overflow:visible;position:static;width:auto}
.invisible{visibility:hidden}
.clearfix:after,.clearfix:before{content:"";display:table}
.clearfix:after{clear:both}
.clearfix{zoom:1}
@media print{*{background:0 0!important;color:#000!important;text-shadow:none!important;filter:none!important;-ms-filter:none!important}
    a,a:visited{text-decoration:underline}
    a[href]:after{content:" (" attr(href) ")"}
    abbr[title]:after{content:" (" attr(title) ")"}
    .ir a:after,a[href^="javascript:"]:after,a[href^="#"]:after{content:""}
    blockquote,pre{border:1px solid #999;page-break-inside:avoid}
    thead{display:table-header-group}
    img,tr{page-break-inside:avoid}
    img{max-width:100%!important}
    @page{margin:.5cm}
    h2,h3,p{orphans:3;widows:3}
    h2,h3{page-break-after:avoid}
}
img{display:inherit}
.courseDetails-box{position:relative}
.courseDetails-box .cd-banner{position:relative;height:8rem;background:url(../images/banner-01.png?v=d06ed03938) no-repeat;background-size:100% 100%}
.courseDetails-box .cd-head{position:absolute;bottom:0;padding:0 1rem;width:100%;height:1.8rem;line-height:1.8rem;font-size:.7rem;color:#fff;background:rgba(54,54,54,.6);box-sizing:border-box}
.courseDetails-box .cd-head .right{float:right}
.courseDetails-box .cd-head .right .price{padding:0 .5rem 0 0;font-size:.55rem;color:#b5b5b5}
.courseDetails-box .cd-main{margin-bottom:.75rem;background-color:#fff}
.courseDetails-box .cd-main .cd-column{padding:.625rem 0 .375rem 1rem;overflow:hidden;border-bottom:1px solid #e6e6e6}
.courseDetails-box .cd-main .cd-column .module{padding:.375rem 0;float:left;width:33%;font-size:.6rem;color:#888;overflow:hidden;cursor:pointer}
.courseDetails-box .cd-main .cd-column .module .right{float:none;margin-left:1.5rem;margin-top:-.375rem}
.courseDetails-box .cd-main .cd-column .module .type{color:#54c265;display:block}
.courseDetails-box .cd-main .cd-column .module .image{float:left;margin-right:.25rem;width:.95rem;height:.9rem;background:url(../images/type-01.png?v=a3caf90e0d) no-repeat;background-size:100% 100%}
.courseDetails-box .cd-main .cd-column .module:nth-child(2) .image{background:url(../images/type-02.png?v=b8001ad0b1) no-repeat;background-size:100% 100%}
.courseDetails-box .cd-main .cd-column .module:nth-child(3) .image{background:url(../images/type-03.png?v=733889be9a) no-repeat;background-size:100% 100%}
.courseDetails-box .cd-main .cd-column .module:nth-child(4) .image{background:url(../images/type-04.png?v=45bc213d7b) no-repeat;background-size:100% 100%}
.courseDetails-box .cd-main .cd-column .module:nth-child(5) .image{background:url(../images/type-05.png?v=6cb4e615cb) no-repeat;background-size:100% 100%}
.courseDetails-box .cd-main .cd-column .module:nth-child(6) .type{display:block}
.courseDetails-box .cd-main .cd-column .module:nth-child(6) .image{background:url(../images/type-06.png?v=60ee89023b) no-repeat;background-size:100% 100%}
.courseDetails-box .cd-main .cd-side{padding:.75rem 1rem;font-size:.7rem;border-bottom:1px solid #e6e6e6}
.courseDetails-box .cd-main .cd-side .cd-title{color:#333;line-height:1.5rem}
.courseDetails-box .cd-main .cd-side .des{color:#888}
.courseDetails-box .cd-main .cd-arrow{padding:.675rem 1rem;font-size:.7rem;color:#333}
.courseDetails-box .cd-container{margin-bottom:.5rem;background-color:#fff}
.courseDetails-box .cd-container .titleBar{font-size:.7rem;color:#333}
.courseDetails-box .cd-container .cd-content{padding:1rem}
.courseDetails-box .cd-container .cd-content .image{margin:.25rem 0;height:7.5rem;border-radius:.5rem}
.courseDetails-box .cd-container .cd-content .image img{width:100%;height:100%}
.courseDetails-box .cd-container .cd-content .paragraph{font-size:.7rem;color:#888;line-height:1.125rem}
.courseDetails-box .cd-container .contentMar{padding-top:0}
.agencyDetails-box dt{position:relative;float:left;display:block;border-radius:.75rem}
.agencyDetails-box .dif-details dl{border-bottom:0}
.agencyDetails-box .dif-details dd{margin-left:0}
.agencyDetails-box .aeg-picShow{overflow:hidden;background-color:#fff;padding:.125rem .25rem .75rem 1rem}
.agencyDetails-box .aeg-picShow .pic{float:left;padding-right:.5rem;width:3.6rem}
.agencyDetails-box .aeg-picShow .pic a{position:relative;display:block}
.agencyDetails-box .aeg-picShow .pic img{width:100%;height:2.775rem;border-radius:.75rem}
.agencyDetails-box .aeg-picShow .pic .pic-mask{position:absolute;left:0;top:0;cursor:pointer;width:100%;height:100%;min-height:2.775rem;border-radius:.75rem;background:rgba(0,0,0,.5);font-size:.6rem;color:#fff;text-align:center}
.agencyDetails-box .aeg-picShow .pic .pic-mask .camera{display:inline-block;margin-top:.3rem;width:1.45rem;height:1.2rem;background:url(../images/icon-camera.png?v=eda37600a3) no-repeat;background-size:100% 100%}
.agencyDetails-box .aeg-list .list{margin-bottom:.75rem;background-color:#fff}
.agencyDetails-box .aeg-list .list li{margin-left:1rem;padding:.25rem 1rem .25rem 0;font-size:.7rem;color:#333;border-bottom:1px solid #e6e6e6}
.agencyDetails-box .aeg-list .list li:last-child{border-bottom:none}
.agencyDetails-box .aeg-list .list li a{position:relative;display:block;padding:.5rem .5rem .5rem 1.75rem}
.agencyDetails-box .aeg-list .list li a:after{position:absolute;top:50%;left:0;content:"";margin-top:-.6125rem;width:1rem;height:1.225rem;background:url(../images/icon-area.png?v=72a137eaaa) no-repeat;background-size:100% 100%}
.agencyDetails-box .aeg-list .list li a:before{position:absolute;top:50%;right:0;content:"";margin-top:-.3125rem;width:.35rem;height:.625rem;background:url(../images/icon-arrow-02.png?v=dbfec93a45) no-repeat;background-size:100% 100%}
.agencyDetails-box .aeg-list .list li:nth-child(2) a{padding:0 .75rem 0 0;display:inline-block}
.agencyDetails-box .aeg-list .list li:nth-child(2) a:after{position:inherit}
.agencyDetails-box .aeg-list .list li:nth-child(2) a:before{position:inherit}
.agencyDetails-box .aeg-list .list li:nth-child(2) .tel{position:relative;display:block;padding:.5rem .5rem .5rem 1.75rem}
.agencyDetails-box .aeg-list .list li:nth-child(2) .tel:after{position:absolute;top:50%;left:0;content:"";margin-top:-.4125rem;width:.85rem;height:.825rem;background:url(../images/type-07.png?v=db33cbe808) no-repeat;background-size:100% 100%}
.agencyDetails-box .aeg-list .list li:nth-child(3) a:after{position:absolute;top:50%;left:0;content:"";margin-top:-.4125rem;width:.85rem;height:.825rem;background:url(../images/type-08.png?v=5cb6179c39) no-repeat;background-size:100% 100%}
.agencyDetails-box .aeg-list .list li .right{padding-top:.08rem;width:75%;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;font-size:.6rem;color:#bababa}
.agencyDetails-box .aeg-list .list li .appoint-gift{width:7.5rem;padding:0;font-size:.7rem;color:#888}
.agencyDetails-box .aeg-list .list .listCome a:after{position:absolute;top:50%;left:0;content:"";margin-top:-.45rem;width:.85rem;height:.9rem;background:url(../images/type-09.png?v=74fd471cc6) no-repeat;background-size:100% 100%}
.agencyDetails-box .aeg-list .list:nth-child(2) li{margin:0;margin-left:-.7rem}
.agencyDetails-box .aeg-list .list:nth-child(2) a:after{background:0 0}
.agencyDetails-box .aeg-list .list:nth-child(3) a:after{margin-top:-.475rem;width:.875rem;height:.95rem;background:url(../images/type-12.png?v=4e1c933233) no-repeat;background-size:100% 100%}
.agencyDetails-box .listBg .list li{padding-top:0;padding-bottom:0;margin:0}
.agencyDetails-box .listBg .list li a:after{background:0 0}
.agencyDetails-box .aeg-introduce{margin-bottom:.75rem;background-color:#fff}
.agencyDetails-box .aeg-introduce div{padding:.25rem 1rem;font-size:.7rem;color:#888;line-height:1.125rem}
.agencyDetails-box .aeg-main{margin-bottom:.75rem;background-color:#fff}
.agencyDetails-box .aeg-main .title{padding:0 1rem;font-size:.7rem;line-height:1.5rem;border-bottom:1px solid #e6e6e6;color:#333}
.agencyDetails-box .aeg-main .title .right{cursor:pointer}
.agencyDetails-box .aeg-main dl{padding:.5rem 1rem;border-bottom:1px solid #e6e6e6}
.agencyDetails-box .aeg-main dt{width:4.5rem;height:3.5rem;overflow:hidden}
.agencyDetails-box .aeg-main dt img{width:100%;height:100%}
.agencyDetails-box .aeg-main dd{margin-left:5rem}
.agencyDetails-box .aeg-main dd div{text-overflow:ellipsis;overflow:hidden;white-space:nowrap}
.agencyDetails-box .aeg-main dd .info{font-size:.6rem;color:#bababa}
.agencyDetails-box .aeg-main dd .right .label{color:#fff;background-color:#ff8971;border:0}
.agencyDetails-box .aeg-main dd .tip .left{padding:.375rem 0 0 0;font-size:.55rem;color:#333;text-align: right;}
.agencyDetails-box .aeg-container{margin-bottom:.75rem;background-color:#fff}
.agencyDetails-box .aeg-container .banner{padding:.5rem 0}
.agencyDetails-box .aeg-container .banner li{padding-right:.75rem;width:5rem;height:6.5rem}
.agencyDetails-box .aeg-container .banner li img{border-radius:.75rem;width:100%;height:6rem}
.agencyDetails-box .label{margin:.5rem .5rem .75rem 0;background-color:#fff;color:#888;border:1px solid #888}
.agencyDetails-box .titleBar .right{cursor:pointer}
.agencyDetails-box .titleBar .titleGray{color:#bababa}
.agencyDetails-box .comment .label{cursor:pointer}
.aeg-column{background-color:#fff}
.aeg-column .aeg-comment{padding:.75rem 1rem .375rem;border-bottom:1px solid #e6e6e6}
.aeg-column .aeg-comment dt{width:2rem;height:1.975rem;border-radius:100%;overflow:hidden}
.aeg-column .aeg-comment dt img{width:100%;height:100%}
.aeg-column .aeg-comment dd{margin-left:2.75rem}
.aeg-column .aeg-comment dd .title{font-size:.7rem;color:#333}
.aeg-column .aeg-comment dd .title .right{font-size:.6rem;color:#bababa}
.aeg-column .aeg-comment dd .right{font-size:.7rem;color:#333}
.aeg-column .aeg-comment dd .pro{font-size:.6rem}
.aeg-column .aeg-comment dd .pro p{display:-webkit-box;display:-moz-box;display:box;padding:.15rem 0 0;max-height:2.5rem;overflow:hidden;white-space:normal;text-overflow:ellipsis;-webkit-line-clamp:2;-webkit-box-orient:vertical;-moz-box-orient:vertical;box-orient:vertical;color:#8e8e8e}
.aeg-column .aeg-comment dd .pro .text{display:inline-block;padding:.25rem 0 0 0;color:#54c265}
.aeg-column .aeg-comment dd .pro-show p{max-height:inherit;overflow:visible;-webkit-box-orient:inherit;-webkit-line-clamp:inherit}
.aeg-column .aeg-comment dd .commentImg{padding:.75rem 0 0 0;overflow:hidden}
.aeg-column .aeg-comment dd .commentImg .image{margin-right:.325rem;margin-bottom:.325rem;float:left;width:4rem;height:4rem;border-radius:.75rem;overflow:hidden}
.aeg-column .aeg-comment dd .commentImg .image img{width:100%;height:100%}
.aeg-column .icon-praise{width:1rem;height:1rem;background:url(../images/icon-praise.png?v=b359b76318) no-repeat left center;background-size:100% 100%;cursor:pointer}
.aeg-column .icon-praise .num{padding-left:1.5rem;font-size:.7rem;color:#bababa}
.bespokePop-box{position:fixed;bottom:0;left:0;width:100%;height:100%;background-color:rgba(0,0,0,.5);z-index:10}
.bespokePop-box .popInner{position:absolute;top:50%;left:50%;width:70%;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);-moz-transform:translate(-50%,-50%);-o-transform:translate(-50%,-50%);background-color:#fff;border-radius:.25rem}
.bespokePop-box .popInner h1{text-align:center;font-size:.8rem;color:#333;line-height:2rem;border-bottom:1px solid #e6e6e6}
.bespokePop-box .popInner h2{padding:2rem 0 0 0;text-align:center;font-size:.9rem;color:#333}
.bespokePop-box .popInner .bp-content{width:100%;text-align:center;font-size:.7rem;color:#333}
.bespokePop-box .popInner .bp-content p{padding:.75rem 1.6rem}
.bespokePop-box .popInner .bp-content .bp-title{line-height:1.5rem}
.bespokePop-box .popInner .bp-content .bp-info{font-size:.6rem;color:#888;line-height:1.125rem}
.bespokePop-box .popInner .bp-content ul{padding:.75rem 0}
.bespokePop-box .popInner .bp-content ul li{width:80%;text-align:center;margin:0 auto;position:relative;line-height:1.75rem;overflow:hidden;cursor:pointer}
.bespokePop-box .popInner .bp-content ul li div{float:left;padding-left:1rem}
.bespokePop-box .popInner .bp-content ul li .phone{padding-left:.25rem}
.bespokePop-box .popInner .bp-content ul li .name{width:4.5rem;text-overflow:ellipsis;white-space:nowrap;overflow:hidden}
.bespokePop-box .popInner .bp-content ul li.active:after{background:url(../images/icon-check.png?v=8cf7f031e7) no-repeat;background-size:100% 100%}
.bespokePop-box .popInner .bp-content ul li:after{position:absolute;left:0rem;top:27%;content:"";width:.8rem;height:.8rem;background:url(../images/icon-uncheck.png?v=3f05c987a3) no-repeat;background-size:100% 100%}
.bespokePop-box .popInner .bp-footer{padding:1rem 0 .75rem 0;text-align:center}
.bespokePop-box .popInner .bp-footer .txt{padding:.25rem;width:70%;font-size:.6rem;color:#bababa;border:1px solid #e6e6e6;border-radius:1rem;outline:0}
.bespokePop-box .popInner .bp-footer .bespoke-btn{float:none;width:70%;margin:1rem 0 0 0}
.bespokePop-box .popInner .close{position:absolute;top:-2.75rem;right:0;width:1.375rem;height:1.35rem;background:url(../images/icon-close.png?v=26361de2a1) no-repeat;background-size:100% 100%;cursor:pointer}
.bespokePop-box .popInner .close:after{position:absolute;top:1.375rem;right:.675rem;content:"";height:1.375rem;width:.05rem;background-color:#fff}
.bespokePop-box .popInner .title{color:#333;font-size:.75rem}
.bespokePop-box .popInner .content{padding:.375rem 0}
.bespokePop-box .popInner .content p{color:#888;font-size:.6rem;line-height:1rem}
.bg-f4{background-color:#f2f4f5}
.bg-fff{background-color:#fff}
.banner{margin-left:1rem;padding:0 1rem .75rem 0;position:relative;overflow:hidden}
.banner .bannerImg{position:relative}
.banner .bannerImg li{display:inline-block}
.banner .bannerImg li img{width:100%;height:6rem}
.banner .bannerImg .name{text-overflow:ellipsis;overflow:hidden;white-space:nowrap;text-align:center;font-size:.7rem;color:#333}
.banner .bannerImg .describe{margin:0 auto;width:3.5rem;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;text-align:center;font-size:.6rem;color:#8e8e8e}
.banner .bannerImg .describe.red{color:#ff8971}
.footer{height:3rem}
.footer .inner{position:fixed;bottom:0;left:0;right:0;width:100%;height:3rem;background-color:#fff;border-top:1px solid #e6e6e6}
.footer .inner .phone{position:relative;padding:.5rem .25rem 0 .25rem;float:left;width:3rem;text-align:center;font-size:.7rem;color:#333}
.footer .inner .phone .icon-phone{margin:0 auto .25rem;display:block;width:.925rem;height:.85rem;background:url(../images/type-07.png?v=db33cbe808) no-repeat;background-size:100% 100%}
.footer .inner .phone .phone-1{background:url(../images/type-10.png?v=a9f1635580) no-repeat;background-size:100% 100%}
.footer .inner .phone .phone-2{position:relative;background:url(../images/type-11.png?v=47cc9a3f36) no-repeat;background-size:100% 100%}
.footer .inner .phone .praiseRed{background:url(../images/type-praise.png?v=194c167f4d) no-repeat;background-size:100% 100%}
.footer .inner .phone .praise-num{position:absolute;top:.6rem;right:.125rem;font-size:.55rem;color:#bababa}
.footer .inner .phone:after{position:absolute;top:50%;right:0;content:"";margin-top:-.75rem;width:1px;height:2rem;border-right:1px solid #e6e6e6}
.footer .inner .phone:nth-child(4):after{border:none}
.footer .inner .mid{font-size:.6rem;color:#888;line-height:3rem}
.titleBar{padding:0 1rem;font-size:.7rem;color:#333;line-height:1.5rem;border-bottom:1px solid #e6e6e6;box-sizing:border-box;background-color:#fff}
.label{padding:0 .375rem;display:inline-block;vertical-align:middle;text-align:center;font-size:.5rem;color:#fff;background-color:#ffbb71;border-radius:1rem}
.right{float:right}
.bespoke-btn{margin:.5rem .375rem 0 0;padding:.375rem 0;float:right;display:inline-block;width:5rem;text-align:center;font-size:.8rem;color:#fff;background-color:#ff8971;border-radius:2.5rem}
.complete-btn{display:inline-block;width:70%;text-align:center;font-size:.8rem;color:#fff;background-color:#41bb54;border-radius:1.25rem;padding:.5rem 0}
.head{font-size:.8rem;color:#333;}
.starBg{cursor:pointer}
.starBg span{padding-left:.6rem;font-size:.55rem;color:#bababa}
.starBg a{display:inline-block;vertical-align:middle;width:.75rem;height:.725rem;background:url(../images/star-02.png?v=697673079b) no-repeat;background-size:100% 100%}
.starBg .cliBg{width:.75rem;height:.725rem;background:url(../images/star-01.png?v=550353a7c5) no-repeat;background-size:100% 100%}
.titleGap{margin:.75rem 0}
.aeg-top{position:relative;margin-bottom:.75rem;padding:.5rem 1rem;background-color:#fff;overflow:hidden}
.aeg-top dl{overflow:hidden}
.aeg-top dl dt{position:relative;float:left;width:3.5rem;overflow:hidden}
.aeg-top dl dt img{width:3.5rem;height:3.5rem;border-radius:.75rem}
.aeg-top dl dt .tips{position:absolute;bottom:.25rem;right:.25rem;padding:.05rem 0;display:inline-block;width:1.425rem;text-align:center;font-size:.55rem;color:#fff;background:rgba(0,0,0,.8);border-radius:.5rem}
.aeg-top dl dt .btn{display:inline-block;width:3.5rem;height:1.3rem;line-height:1.5rem;text-align:center;font-size:.6rem;color:#888;background:url(../images/btn-01.png?v=865935c11e) no-repeat;background-size:100% 100%}
.aeg-top dl dd{position:relative;margin-left:4.25rem}
.aeg-top dl dd .head{text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}
.aeg-top dl dd .price{float:right;font-weight:400;font-size:.55rem;color:#333}
.aeg-top dl dd .distance{float:right;font-size:.55rem;color:#bababa}
.aeg-top dl dd .title{font-size:.8rem;color:#333}
.aeg-top dl dd .tip{font-size:.7rem;color:#888}
.aeg-top dl dd .tip span{vertical-align:middle;padding-left:.375rem}
.w-orderedBtn{padding:.25rem 0;display:inline-block;width:4.15rem;font-size:.7rem;text-align:center;color:#fff;background-color:#ff8971;border-radius:2.5rem}
.w-btn-green{background-color:#41bb54}
.w-btnWid{width:8rem}
.noFixed .inner{position:inherit;height:auto;background:0 0;border:0}
.brandIntroduce-box{position:relative;overflow:hidden}
.brandIntroduce-box .bi-top{background-color:#fff}
.brandIntroduce-box .bi-top .bi-introduce{padding:1.25rem .6rem .375rem 1rem;margin-bottom:.75rem}
.brandIntroduce-box .bi-top .bi-introduce div{font-size:.7rem;color:#333;line-height:1.5rem}
.brandIntroduce-box .bi-top .bi-banner{position:relative;height:5rem;background-size:100% 100%}
.brandIntroduce-box .bi-top .bi-banner img{width:100%;height:100%}
.brandIntroduce-box .bi-top .bi-banner .bi-tip{position:absolute;left:40%;bottom:-.75rem;width:3.5rem;height:3.5rem;background-size:100% 100%;border-radius:.75rem;overflow:hidden;background-color:#e5e5e5;padding:1px}
.brandIntroduce-box .bi-column li{padding:0 1rem;margin:.75rem 0;font-size:.7rem;color:#333;background-color:#fff;line-height:2.05rem}
.brandIntroduce-box .bi-column li .info{padding-left:1.25rem;color:#888}
.brandIntroduce-box .bi-main{margin-bottom:.75rem;font-size:.7rem;color:#333;background-color:#fff}
.brandIntroduce-box .bi-main p{line-height:1.25rem;color:#888}
.brandIntroduce-box .bi-main .bi-content{padding:.375rem .75rem .75rem 1rem}
.brandIntroduce-box .bi-main .bi-content div{display:-webkit-box;display:-moz-box;display:box;max-height:10rem;overflow:hidden;white-space:normal;text-overflow:ellipsis;-webkit-line-clamp:8;-webkit-box-orient:vertical;-moz-box-orient:vertical;box-orient:vertical;color:#888;line-height:1.5rem}
.agencyDetails-box .bi-module dl{padding:.5rem 0;margin:0 1rem}
.bi-module{position:relative;margin-bottom:0}
.bi-module dl .mod-content{margin:0}
.bi-module dl .mod-content .head{width:10rem}
.bi-module dl .mod-content .distance,.bi-module dl .mod-content .num{float:none;font-size:.5rem;color:#626262}
.bi-module .icon-arrowRight{position:absolute;top:50%;right:1.5rem;margin-top:-1.625rem;height:3.25rem;line-height:3.25rem;font-size:.6rem;color:#bababa;cursor:pointer}
.bi-module .icon-arrowRight:after{position:absolute;top:50%;right:-.75rem;content:"";margin-top:-.3125rem;width:.35rem;height:.625rem;background:url(../images/icon-arrow-02.png?v=dbfec93a45) no-repeat;background-size:100% 100%}
.bi-side .agencyDetails-box .aeg-list .list li a{color:#888}
.bi-side .agencyDetails-box .aeg-list .list li a:after{margin-top:-.4rem;width:.675rem;height:.8rem}
.ah-top{position:relative;height:5.25rem;background:rgba(59,197,135,.8)}
.ah-top .bannerImg .slide-txt a{position:absolute;top:50%;left:50%;width:100%;display:inline-block;text-align:center;font-size:1.2rem;transform:translate(-50%,-50%);-webkit-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);-moz-transform:translate(-50%,-50%);-o-transform:translate(-50%,-50%);color:#fff}
.ah-top .slide-nav{display:inline-block;position:absolute;bottom:.275rem;left:50%;transform:translate(-50%,-50%);-webkit-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);-moz-transform:translate(-50%,-50%);-o-transform:translate(-50%,-50%);overflow:hidden;z-index:3}
.ah-top .slide-nav a{display:block;width:.25rem;height:.25rem;background-color:#fff;cursor:pointer;margin-left:.25rem;float:left;text-indent:-99em;overflow:hidden;border-radius:100%}
.ah-top .slide-nav a.nownav{background-color:#3cc588}
.agencyHome-box .ah-head{margin-bottom:.75rem;padding:.75rem 1rem .25rem 1rem;background-color:#fff;overflow:hidden}
.agencyHome-box .ah-head li{float:left;width:25%;text-align:center}
.agencyHome-box .ah-head li .image{margin:0 auto;width:2rem;height:2rem;background:url(../images/tab-01.png?v=55ec146662) no-repeat;background-size:100% 100%}
.agencyHome-box .ah-head li .info{font-size:.7rem;color:#333;line-height:1.75rem}
.agencyHome-box .ah-head li:nth-child(2) .image{background:url(../images/tab-02.png?v=e66dabf1b3) no-repeat;background-size:100% 100%}
.agencyHome-box .ah-head li:nth-child(3) .image{background:url(../images/tab-03.png?v=d5f7c242dd) no-repeat;background-size:100% 100%}
.agencyHome-box .ah-head li:nth-child(4) .image{background:url(../images/tab-04.png?v=22279a663a) no-repeat;background-size:100% 100%}
.agencyHome-box .ah-tab{position:relative;height:1.75rem;line-height:1.75rem;background-color:#fff;border-bottom:1px solid #e5e5e5;overflow:hidden;z-index:1}
.agencyHome-box .ah-tab li{position:relative;float:left;width:25%;text-align:center;font-size:.6rem;color:#333;cursor:pointer}
.agencyHome-box .ah-tab li a{position:relative;display:inline-block}
.agencyHome-box .ah-tab li a:after{position:absolute;top:45%;right:-.75rem;content:"";width:.575rem;height:.35rem;background:url(../images/icon-arrow-01.png?v=3211a16743) no-repeat;background-size:100% 100%}
.agencyHome-box .ah-tab li:after{position:absolute;top:30%;right:-.375rem;content:"";height:.775rem;background:url(../images/icon-arrow-01.png?v=3211a16743) no-repeat;background-size:100% 100%;border-right:1px solid #e6e6e6}
.agencyHome-box .ah-tab li:last-child:after{border:none}
.agencyHome-box .ah-tab li.active a{font-size:.6rem;color:#41bb54}
.agencyHome-box .ah-tab li.active a:after{background:url(../images/icon-arrow-03.png?v=b36d432c5a) no-repeat;background-size:100% 100%}
.agencyHome-box .ah-footer{height:2rem}
.agencyHome-box .ah-footer .inner{position:fixed;left:0;right:0;bottom:0;width:100%;height:2rem;line-height:2rem;background-color:#fff;border-top:1px solid #e5e5e5}
.agencyHome-box .ah-footer .inner .place-btn{position:relative;padding:0 2.5rem;display:block;font-size:.7rem;color:#888}
.agencyHome-box .ah-footer .inner .place-btn:after{position:absolute;top:25%;left:1rem;content:"";width:1rem;height:1.225rem;background:url(../images/icon-area.png?v=72a137eaaa) no-repeat;background-size:100% 100%}
.agencyHome-box .ah-footer .inner .placeFail:before{position:absolute;top:25%;right:1rem;content:"";width:.975rem;height:.975rem;background:url(../images/icon-refresh.png?v=f941d00c67) no-repeat;background-size:100% 100%}
.ah-btn{height:3rem;text-align:center}
.ah-btn .refresh-btn{padding:.5rem 0;display:inline-block;width:90%;text-align:center;font-size:.6rem;color:#888;background-color:#fff;border:2px solid rgba(0,0,0,.15);border-radius:2.5rem}
.aeg-top{padding:0}
.aeg-top dl{padding:.5rem 1rem;border-bottom:1px solid #e5e5e5}
.aeg-top dl .aeg-side{padding:.25rem 0 0 0;margin:.5rem 0 0 4.25rem;border-top:1px solid #e5e5e5}
.aeg-top dl .aeg-side .prompt{padding:.125rem 0;font-size:.6rem;color:#888}
.aeg-top dl .aeg-side .prompt .label{margin:0 .375rem 0 0;color:#fff;border:none}
.aeg-top dl .aeg-side .prompt .label-orange{background-color:#ffbb71}
.aeg-top dl .aeg-side .prompt .label-red{background-color:#ff8971}
.aeg-top dl .aeg-item{height:3rem}
.vote-top{margin-bottom:.75rem}
.ah-content dl .mod-content .head{width:auto}
.ah-content dl .mod-content .head span{margin-left:.35rem}
.tag-booked,.tag-group{display:inline-block;vertical-align:middle;width:.75rem;height:.75rem;background:url(../images/tag-booked.png?v=8a02505308) no-repeat;background-size:100% 100%}
.tag-group{background:url(../images/tag-group.png?v=f1c64d62e2) no-repeat;background-size:100% 100%}
.viewMore-btn{height:1.5rem;line-height:1.5rem}
.viewMore-btn .view-btn{display:block;font-size:.7rem;color:#333;text-align:center}
.borderNon .bi-module dl{border:none}
.borderLine .borLine-list{margin:0 1rem;padding:.5rem 0}
.borderLine .bi-module dl{padding:.5rem 1rem;margin:0}
.ah-banner{overflow:hidden;background-color:#fff;padding:.5rem .25rem 0 .25rem}
.ah-banner .ahB{float:left;margin:0 1.5% .5rem 1.5%;width:97%;height:5rem;background-color:#e3f4d7;border-radius:.2rem;overflow:hidden}
.ah-banner .ahB img{display:block;width:100%;height:100%}
.ah-banner .ahB.ahB-s{width:47%}
.search-box{padding:.75rem 1rem}
.search-box .txt{padding:.5rem .75rem;width:84%;font-size:.7rem;color:#888;background-color:#fff;border:1px solid #888;border-radius:2.5rem;outline:0}
.search-box .txt::-webkit-input-placeholder{color:#888}
.search-box .txt:-moz-placeholder{color:#888}
.search-box .txt::-moz-placeholder{color:#888}
.search-box .txt:-ms-input-placeholder{color:#888}
.search-box .sure-btn{float:right;margin:.5rem 0 0 0;display:inline-block;font-size:.8rem;color:#54c265}
.label{padding:0 .375rem;display:inline-block;vertical-align:middle;text-align:center;font-size:.5rem;color:#fff;background-color:#ffbb71;border-radius:1rem}
.agList-top{position:relative;margin-bottom:.75rem;padding:.5rem 1rem;background-color:#fff;overflow:hidden}
.agList-top dl{overflow:hidden}
.agList-top dl dt{position:relative;float:left;width:3.5rem;overflow:hidden}
.agList-top dl dt img{width:3.5rem;height:3.5rem;border-radius:.75rem}
.agList-top dl dt .tips{position:absolute;bottom:.25rem;right:.25rem;padding:.05rem 0;display:inline-block;width:1.425rem;text-align:center;font-size:.55rem;color:#fff;background:rgba(0,0,0,.8);border-radius:.5rem}
.agList-top dl dt .btn{display:inline-block;width:3.5rem;height:1.3rem;line-height:1.5rem;text-align:center;font-size:.6rem;color:#888;background:url(../images/btn-01.png?v=865935c11e) no-repeat;background-size:100% 100%}
.agList-top dl dd{position:relative;margin-left:4.25rem}
.agList-top dl dd .head{text-overflow:ellipsis;overflow:hidden;white-space:nowrap}
.agList-top dl dd .price{padding-top:.25rem;float:right;font-weight:400;font-size:.55rem;color:#333}
.agList-top dl dd .distance{float:right;font-size:.55rem;color:#bababa}
.agList-top dl dd .title{font-size:.8rem;color:#333}
.agList-top dl dd .tip{font-size:.7rem;color:#888}
.agList-top dl dd .tip span{padding-left:.375rem}
.agList-top{padding:0}
.agList-top dl{padding:.5rem 1rem;border-bottom:1px solid #e5e5e5}
.agList-top dl .agList-side{padding:.25rem 0 0 0;margin:.5rem 0 0 4.25rem;border-top:1px solid #e5e5e5}
.agList-top dl .agList-side .prompt{padding:.125rem 0;font-size:.6rem;color:#888}
.agList-top dl .agList-side .prompt .label{margin:0 .375rem 0 0;color:#fff;border:none}
.agList-top dl .agList-side .prompt .label-orange{background-color:#ffbb71}
.agList-top dl .agList-side .prompt .label-red{background-color:#ff8971}
.agList-top dl .agList-item{height:3.25rem}
.photoAlbum-box li{float:left;width:50%;text-align:center;cursor:pointer}
.photoAlbum-box li .image{margin:1rem auto 0;width:7.5rem;height:7.5rem;background-color:#d8d8d8;border-radius:.25rem;overflow:hidden}
.photoAlbum-box li .image img{margin:0 auto;display:inherit;max-width:100%;height:100%}
.ageList-pop{position:fixed;top:0;left:0;right:0;bottom:0;width:100%;height:100%;background-color:rgba(0,0,0,.6);z-index:1}
.agl-inner{position:relative;margin-top:1.75rem;background-color:#fff}
.agl-inner ul{max-height:13.5rem;overflow-y:auto}
.agl-inner ul li{margin:0 1.5rem;height:2rem;line-height:2rem;text-align:center;font-size:.7rem;color:#333;border-bottom:1px solid #e6e6e6;cursor:pointer}
.agl-inner ul li.active{color:#54c265;border-bottom:1px solid #54c265}
.agl-content{margin-top:1.75rem;font-size:.7rem;color:#333;background-color:#fff;cursor:pointer;overflow:hidden}
.agl-content ul{max-height:13.75rem;overflow-y:auto}
.agl-content li{height:2rem;line-height:2rem}
.agl-content .agl-left{padding:0 0 25rem 0;margin-bottom:-25rem;float:left;width:40%;background-color:#f6f6f6}
.agl-content .agl-left li{padding-left:1.5rem}
.agl-content .agl-left li.active{background-color:#fff}
.agl-content .agl-right{padding:0 0 .75rem 0;background-color:#fff;overflow:hidden}
.agl-content .agl-right li{margin:0 1.5rem;border-bottom:1px solid #e6e6e6}
.agl-content .agl-right li.active{color:#54c265;border-bottom:1px solid #54c265}
.ah-header{background-color:#fff}
.lc-header{width:100%;overflow-y:auto;border-bottom:.05rem solid #e6e6e6}
.lc-header .innerBox{overflow:hidden}
.lc-header .innerBox li{float:left;width:5.375rem;padding-left:.4rem}
.lc-header .innerBox li a{position:relative;display:block;padding:.5rem 0;cursor:pointer;background-size:.55rem .75rem}
.lc-header .innerBox li .pic{display:inline-block;vertical-align:middle;width:1.2rem;height:1.2rem;margin-right:.125rem;border-radius:1.25rem}
.lc-header .innerBox li .name{vertical-align:middle;display:inline-block;width:3.5rem;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;font-size:.7rem;color:#333}
.lc-header .innerBox li.active .pic{border:2px solid #41bb54}
.lc-header .innerBox li.active :after{display:block;content:"";position:absolute;top:.2rem;left:.7rem;width:.9rem;height:.9rem;background:url(../images/icon-s.png?v=9a7a4192f5) no-repeat right center;background-size:.8rem .8rem}
.lc-header .tips{padding:.75rem 0 0 0;float:right;font-size:.75rem;color:#626262}
.age-tab{margin-bottom:.75rem;overflow:hidden}
.age-tab li{float:left;width:33.33%;text-align:center;cursor:pointer}
.age-tab li a{margin:0 auto;display:block;width:3rem;height:2.5rem;line-height:2.5rem;font-size:.9rem;color:#626262}
.age-tab li.active a{border-bottom:.2rem solid #41bb54}
.ah-main .aeg-top .ordered-btn{margin-top:.94rem;float:right}
.vrk-top{margin:1rem auto .5rem;width:16.75rem;height:2rem;font-weight:700;line-height:1.75rem;font-size:.9rem;color:#fff;text-align:center;background:url(../images/title-03.png?v=221e452c76) no-repeat;background-size:100% 100%}
.vrk-top-1{background:url(../images/title-01.png?v=ca0e46299f) no-repeat;background-size:100% 100%}
.vrk-top-2{background:url(../images/title-02.png?v=00a28886da) no-repeat;background-size:100% 100%}
.vrk-head{margin-bottom:.75rem;overflow:hidden}
.vrk-head li{float:left;text-align:center;font-size:.7rem}
.vrk-head li span{display:inline-block;width:3rem;height:1.5rem;line-height:1.5rem;border-radius:.5rem}
.vrk-head li:nth-child(1){width:25%}
.vrk-head li:nth-child(1) span{color:#58a8d2;background-color:#ebf8ff}
.vrk-head li:nth-child(2){width:50%}
.vrk-head li:nth-child(2) span{color:#3e982c;background-color:#e3f7df}
.vrk-head li:nth-child(3){width:25%}
.vrk-head li:nth-child(3) span{color:#e88b1a;background-color:#fceedd}
.vrk-title li{clear:both;padding:0 0 1rem 0;text-align:center;font-size:.8rem;color:#333;overflow:hidden}
.vrk-title li div{float:left;line-height:1.5rem}
.vrk-title li .popularity,.vrk-title li .vrk-rank{width:25%}
.vrk-title li .info{width:50%;text-overflow:ellipsis;white-space:nowrap;overflow:hidden}
.rankNum{display:inline-block;vertical-align:middle;width:1.3rem;height:1.3rem;line-height:1.3rem;font-size:.9rem;color:#fff;background:#b9cdd7;border:.1rem solid #a5becb;border-radius:100%}
.rankNum1{border:.1rem solid #ea4a67;background:#f7647f}
.rankNum2{background:#f5cf11;border:.1rem solid #f4c158}
.rankNum3{background:#6fc4ee;border:.1rem solid #5ab3e3}
.comment-title{padding:0 1rem;height:2.7rem;line-height:2.7rem;font-size:.8rem;color:#333;border-bottom:1px solid #e6e6e6;background-color:#fff;overflow:hidden}
.comment-title .comment-right{float:right;font-size:.6rem;color:#bababa}
.agency-top{height:15.525rem;text-align:center;background:url(../images/agency-bg.png?v=541f5b1974) no-repeat;background-size:100% 100%}
.agency-top .w-orderedBtn{padding:.5rem 0}
.agency-top .acy-image{position:relative;top:1.45rem;margin:0 auto;width:6rem;height:6rem;background:#d8d8d8;border:.05rem solid rgba(255,255,255,.4);border-radius:1.25rem}
.agency-top .acy-image img{width:100%;height:100%;border-radius:1.25rem}
.agency-top .acy-title{padding:2.075rem 0 .625rem 0;font-size:.9rem;color:#fff}
.agency-top .acy-info{padding:0 0 .625rem 0;opacity:.69;font-size:.6rem;color:#fff}
.agency-top .acy-tips{padding:.5rem 0;opacity:.9;font-size:.6rem;color:#fff}
.business-list{position:relative;cursor:pointer;padding:.5rem 1rem;border-bottom:.05rem solid #e5e5e5}
.business-list .b-left{padding-right:4rem}
.business-list .b-left .name{font-size:.75rem;color:#333}
.business-list .b-left .address{font-size:.6rem;color:#666;line-height:1.15rem}
.business-list .b-right{position:absolute;right:1rem;top:50%;transform:translate(0,-50%);width:4rem;display:-moz-box;-moz-box-pack:center;display:-webkit-box;-webkit-box-pack:center;text-align:right;font-size:0}
.business-list .b-right .distance{display:inline-block;vertical-align:middle;width:2.5rem;font-size:.5rem;color:#666;text-align:right;word-break:break-all}
.business-list .b-right .select-icon{vertical-align:middle;display:inline-block;margin:0 0 0 .5rem;width:1rem;height:1rem;background-image:url(../images/icon-select.png?v=3836f1f3eb);background-size:100% 100%;background-repeat:no-repeat}
.business-list.active .b-right .select-icon{background-image:url(../images/icon-select-active.png?v=f323ba4dab)}
.icon-arrow{position:relative;display:block}
.icon-arrow:after{position:absolute;top:50%;right:1rem;content:"";margin-top:-.3125rem;width:.35rem;height:.625rem;background:url(../images/icon-arrow-02.png?v=dbfec93a45) no-repeat;background-size:100% 100%}
.booked-address{position:relative;font-size:.6rem;color:#626262;line-height:1.25rem}
.booked-info{font-size:.75rem;color:#FF927B}
.booked-number{padding-left:1rem;font-size:.75rem;color:#333;line-height:1.75rem}
.auth-icon{vertical-align:middle;display:inline-block;width:.75rem;height:.75rem;background:url(../images/auto-icon.png?v=e60cf88af6) no-repeat;background-size:100% 100%}
.buyBanner{width:100%;margin-bottom:.75rem}
.buyBanner img{display:block;width:100%;height:auto}
.courseDetails-box .cd-container .hideBox{max-height:13rem;overflow:hidden}
.courseDetails-box .cd-container .showMore{cursor:pointer;border-top:.025rem solid #41bb54;width:100%;background-color:#fff;line-height:2.25rem;text-align:center;font-size:.7rem;color:#41bb54}
.courseDetails-box .cd-container .image{position:relative}
.courseDetails-box .cd-container .image video{display:block;margin:0 auto;max-width:100%;max-height:100%}
.courseDetails-box .cd-container .videoMask{position:absolute;left:0;top:0;width:100%;height:100%;background:rgba(0,0,0,.3);border-radius:.5rem}
.courseDetails-box .cd-container .videoMask .play{display:block;cursor:pointer;margin:2.125rem auto;width:3.15rem;height:3.15rem;border-radius:3.15rem;background:#fff url(../images/play-icon.png?v=5391ddc3ff) no-repeat 58% 50%;background-size:1.125rem 1.6rem}
.footer.dif-buy .mid{margin-left:1rem;font-size:.7rem;color:#333}
.footer.dif-buy .mid span{display:inline-block;vertical-align:middle}
.footer.dif-buy .mid .name{width:5.95rem;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.footer.dif-buy .mid .price{color:#ff8971}
.footer.dif-buy .bespoke-btn{margin-right:1rem}
.onCourse-main{background-color:#fff;padding:0 1rem}
.onCourse-list{overflow:hidden;padding:.5rem 0;background-color:#fff;border-bottom:.025rem solid #e6e6e6}
.onCourse-list .picInfo{float:left;width:4.5rem;height:3.5rem;border-radius:.75rem;overflow:hidden}
.onCourse-list .picInfo img{display:block;width:100%;height:100%}
.onCourse-list .textInfo{margin-left:5rem}
.onCourse-list .textInfo .name{display:-webkit-box;text-overflow:ellipsis;-webkit-line-clamp:2;-webkit-box-orient:vertical;overflow:hidden;height:2rem;margin-bottom:.75rem;font-size:.75rem;color:#333}
.onCourse-list .textInfo .details{line-height:.75rem;font-size:.55rem}
.onCourse-list .textInfo .details .type{color:#888}
.onCourse-list .textInfo .details .price{float:right;color:#333}
.onCourse-list:last-child{border-bottom:0}
.onlineClass .aeg-top{margin-bottom:0}
.onlineClass .courseDetails-box .cd-container .cd-content{padding:.5rem 1rem}
.onCourse-tab{background-color:#fff;margin-bottom:.5rem}
.onCourse-tab ul{overflow:hidden}
.onCourse-tab ul li{float:left;cursor:pointer;width:33%;text-align:center}
.onCourse-tab ul li a{display:inline-block;width:4.25rem;height:2.325rem;line-height:2.5rem;border-bottom:.175rem solid #fff;text-align:center;font-size:.75rem;color:#333}
.onCourse-tab ul li.active a{border-bottom-color:#54c265}
.w-commentBtn{display:block;margin:.75rem 1rem;line-height:1.5rem;background-color:#fff;border:1px solid #41bb54;border-radius:1.5rem;text-align:center;font-size:.8rem;color:#41bb54}
.w-commentBtn .c-icon{display:inline-block;width:.725rem;height:.675rem;margin:-.1rem .25rem;background:url(../images/comment-icon.png?v=2adb89cfbf) no-repeat;background-size:100% 100%}
/*在课程推荐中新加入的class名*/
body .lesson{margin-bottom:0.75rem;font-size:0.75rem}