html, body { background-color: #ff644f;}
*{ margin: 0; padding: 0; font-family: "微软雅黑"; }
a{ text-decoration: none;}
/*4year_container*/
.wap_4year_container{ position: relative;  background: url(app_4year_bg.png) top center no-repeat; background-size: 100% auto; width: 100%;  height: 890px; overflow: hidden; max-width: 720px; min-width: 595px;}
.wap_4year_main{ width: 100%; margin: 235px auto 0; height: 700px; font-size: 22px; color: #fff; line-height: 34px; position: relative;}
.wap_4year_main .wap_4year_main01{ width: 375px; position: absolute; right: 20px; top: 0;}
.wap_4year_main .wap_4year_main02{ width: 280px; position: absolute; left: 56px; top: 280px;}
.wap_4year_main .wap_4year_main03{ position: absolute; left: 56px; top: 525px;}
.wap_4year_main .wap_4year_main02 .btn_4year{ display: block; color: #cf642c; font-size: 26px; text-align: center; line-height: 68px; width: 197px; height: 73px; background: url(app_4year_btn.png) no-repeat;}
.wap_4year_main .wap_4year_main02 .btn_4year_position{ position: absolute; top: 0; right: -240px;}
.wap_4year_main03 div:first-child{ position: relative; bottom: 20px;}
.wap_4year_main03 div span{ float: left;}
.wap_4year_main03 div p{ width: 385px; float: left;}
.wap_4year_main03 div p i{ font-style: normal; font-size: 36px; color: #ffdd21;}