/*
*@author Xiao Chen
*since 2014-07-22 17:30
*******************************
(例：下划线命名格式)
[menu_nav, menu_list, menu_title, menu_content]
*/

/* reset */
html, body { width: 100%; font-size: 14px; font-family: "微软雅黑", "Microsoft YaHei"; color: #333; }
html, body, div, ul, ol, li, h1, h2, h3, h4, h5, h6, p, dl, dt, dd { margin: 0; padding: 0; }
body { background-color: #fff; }
ul, ol, li { list-style: none; }
input, select, textarea, button { font: 12px/1.125 Arial, Helvetica, sans-serif; outline: none; }
textarea { resize: none; }
p { line-height: 1.125; }
a { text-decoration: none; }
img { vertical-align: middle; border: none; }
.clearfix { zoom: 1; }
.clearfix:after { content: ""; display: block; clear: both; }
table, th, td { border-collapse: collapse; }
/* wedgits */
.float_left { float: left; }
.float_right { float: right; }
.J_btn { display: inline-block; padding: 7px 10px; border: 1px solid #e58c00; color: #fff; background-color: #ff9c00; font-size: 12px; margin-left: -8px;}
.J_btn:hover { background-color: #ff8a00; }
.J_green_btn { display: inline-block; padding: 6px 12px; border: 1px solid #5dbb17; color: #fff; background-color: #89db24; font-size: 12px }
.J_green_btn:hover { background-color: #6fb31b; }
.J_blue_btn { display: inline-block; padding: 6px 12px; border: 1px solid #56a6de; color: #fff; background-color: #48ade1; font-size: 12px; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; }
.J_blue_btn:hover { background-color: #0586c8; }
.J_btn_disabled, .btn_disable { background-color: #e9e9e9 !important; color: #999 !important; border-color: #d6d6d6 !important; }
.J_btn_disabled:hover, .btn_disable:hover { background-color: #e9e9e9 !important; color: #999 !important; border-color: #d6d6d6 !important; cursor: default; }
.btn_box { text-align: center; }
.J_sprites { background: url(../images/J_sprites.png) no-repeat; _background-image: url(../images/J_sprites_8.png); }
.J_deep_gray { color: #333 !important; }
.J_gray { color: #666 !important; }
.J_light_gray { color: #999 !important; }
.J_red { color: #ff4300 !important; }
.J_deep_red { color: #ff4900 !important; }
.J_orange { color: #ff7600 !important; }
.products_ul li { float: left; position: relative; }
.products_ul li .new_product { display: block; height: 48px; width: 48px; background: url(../images/J_sprites.png) no-repeat -283px 0; _background-image: url(../images/J_sprites_8.png); position: absolute; top: 0; left: 0; }
.products_ul li dl dt img { display: block; height: 184px; width: 212px; }
.products_ul li dl dt .products_name { display: block; height: 50px; width: 90%; margin: 0 auto; text-align: center; font: 12px/50px "微软雅黑"; color: #666; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.products_ul li dl dt .products_name:hover { color: #e53230; }
.products_ul li dl dt .products_name_bg { width: 202px; height: 1px; font-size: 0; background-position: 0 -234px; margin: 0 auto; }
.products_ul li dl dd div, .products_ul li dl dd a { float: left; }
.products_ul li dl dd .current_price { height: 16px; color: #e53230; }
.products_ul li dl dd .current_price .current_price_unit { font: 12px/12px "微软雅黑"; padding-top: 3px; width: 26px; overflow: hidden; white-space: nowrap; }
.products_ul li dl dd .current_price .current_price_number { font: 16px/16px "微软雅黑"; margin: 0 2px; }
.products_ul li dl dd .current_price i, .products_ul li dl dd .current_price span { float: left; }
.products_ul li dl dd .current_price .vip_btn { display: block; width: 32px; height: 15px; font-size: 12px; line-height: 15px; margin-left: 24px;}
.products_ul li dl dd .current_price .discount_btn { display: block; width: 44px; height: 20px; background-position: -157px 0; }
.products_ul li dl dd .original_price { color: #828282; font: 12px/12px "微软雅黑"; }
.products_ul li dl dd .original_price span { margin-left: 4px; }
.products_ul li dl dd .discount_price { height: 20px; }
.products_ul li dl dd .discount_price .current_price_unit { padding-top: 5px; }
.products_ul li dl dd .discount_price .current_price_number { margin: 2px 2px 0 6px; }
.no_border_bottom { border-bottom: none !important; }
.border_radius { border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; }
.hover_underline:hover { text-decoration: underline; }
/* font */
.font_twenty { font-size: 20px; }
.font_twelve { font-size: 12px; }
.font_eighteen { font-size: 18px; }
/* alert_css */
.jqidefaultbutton { display: inline-block; padding: 7px 10px; border: 1px solid #e58c00; color: #fff; font-size: 12px; }
div.jqi { width: 450px; font-family: "微软雅黑"; position: absolute; background-color: #ffffff; font-size: 11px; text-align: left; border: solid 1px #eeeeee; border-radius: 6px; -moz-border-radius: 6px; -webkit-border-radius: 6px; padding: 7px; }
div.jqi .jqicontainer { }
div.jqi .jqistates { float: left; width: 100%; }
div.jqi .jqiclose { padding: 0px 8px; cursor: pointer; color: #bbbbbb; font-size: 20px; font-weight: bold; z-index: 1000; display: block; float: right; margin: 0 0 -35px; position: relative; }
div.jqi .jqititle { padding: 5px 10px; font-size: 16px; line-height: 20px; border-bottom: solid 1px #eeeeee; }
div.jqi .jqimessage { text-align: center; line-height: 30px; color: #3d3d3d; font-size: 18px; font-family: "微软雅黑"; padding: 20px 0; }
div.jqi .jqibuttons { text-align: center; padding: 5px 0 20px 0; border: none; background-color: #fff; }
div.jqi button { padding: 8px 20px; margin: 0 10px; background-color: #e9e9e9; color: #999; border-color: #d6d6d6; font-size: 18px; line-height: 18px; border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; cursor: pointer; }
div.jqi button:hover { background-color: #e9e9e9; color: #999; border-color: #d6d6d6; }
div.jqi button.jqidefaultbutton { background-color: #ff9c00; color: #fff; }
div.jqi button.jqidefaultbutton:hover { background-color: #ff8a00; }
.jqiwarning .jqi .jqibuttons { background-color: #BF5E26; }
.jqi .jqiarrow { position: absolute; height: 0; width: 0; line-height: 0; font-size: 0; border: solid 10px transparent; }
.jqi .jqiarrowtl { left: 10px; top: -20px; border-bottom-color: #ffffff; }
.jqi .jqiarrowtc { left: 50%; top: -20px; border-bottom-color: #ffffff; margin-left: -10px; }
.jqi .jqiarrowtr { right: 10px; top: -20px; border-bottom-color: #ffffff; }
.jqi .jqiarrowbl { left: 10px; bottom: -20px; border-top-color: #ffffff; }
.jqi .jqiarrowbc { left: 50%; bottom: -20px; border-top-color: #ffffff; margin-left: -10px; }
.jqi .jqiarrowbr { right: 10px; bottom: -20px; border-top-color: #ffffff; }
.jqi .jqiarrowlt { left: -20px; top: 36px; border-right-color: #ffffff; }
.jqi .jqiarrowlm { left: -20px; top: 50%; border-right-color: #ffffff; margin-top: -10px; }
.jqi .jqiarrowlb { left: -20px; bottom: 10px; border-right-color: #ffffff; }
.jqi .jqiarrowrt { right: -20px; top: 10px; border-left-color: #ffffff; }
.jqi .jqiarrowrm { right: -20px; top: 50%; border-left-color: #ffffff; margin-top: -10px; }
.jqi .jqiarrowrb { right: -20px; bottom: 10px; border-left-color: #ffffff; }
div.jqi .jqiarrow { _border: none; }
/*jqi-orange*/
.jqi-orange-box { height: 0 !important; ; width: 0 !important; }
.jqi-orange-box .jqi-orange-arrow { display: none !important; }
.jqi-orange-box .jqi-orange-fade { display: none !important; }
.jqi-orange-box .jqi-orange- { border: 1px solid #d39f00; border-radius: 5px; background-color: #fff; width: 554px; position: relative; overflow: hidden; box-shadow: 2px 4px 4px #ddd; }
.jqi-orange-box .jqi-orange-close { color: #d96203; font: bold 25px/100% Verdana, Geneva, Arial, Helvetica, sans-serif; cursor: pointer; position: absolute; top: 10px; right: 18px; }
.jqi-orange-box .jqi-orange-close:hover { color: #ee7515; }
.jqi-orange-box .jqi-orange-title { background-color: #ffd800; height: 49px; border-bottom: 1px solid #ffc000; text-align: center; color: #d96203; font: bold 14px/48px "微软雅黑"; }
/*header*/
.site_nav_box { height: 30px; width: 100%; border-bottom: 1px solid #c9ddec; }
.site_nav { width: 1000px; margin: 0 auto; }
.site_nav a, .site_nav span { float: right; line-height: 30px; }
.site_nav a { color: #707070; padding: 0 4px; }
.site_nav span { color: #dfdfdf; padding: 0 14px; }
.site_nav a:hover { text-decoration: underline; }
.top_banner { height: 97px; width: 100%; background: #deeffb url(../images/J_top_bg.png) no-repeat top center; position: relative; }
.top_banner p { width: 500px; margin: 0 auto; color: #fff; font-size: 12px; line-height: 120%; padding: 30px 0 0 484px; white-space: nowrap; }
.top_banner p span { float: left; margin-top: 20px; }
.top_banner p span.top_number { font: 20px/24px "微软雅黑"; font-style: italic; color: #ffde00; margin: 12px 4px 0 0; }
.top_banner div { width: 100%; height: 80px; position: absolute; top: 0; left: 0; }
.top_banner div p { width: 1000px; height: 80px; margin: 0 auto; padding: 0; }
.top_banner div p .top_back_main { display: block; height: 80px; width: 260px; }
.header_nav { height: 40px; background-color: #ff7400; }
.header_nav ul { width: 780px; margin: 0 auto; }
.header_nav ul li { float: left; }
.header_nav ul li a { display: inline-block; height: 40px; font: 16px/40px "微软雅黑"; color: #fff; padding: 0 42px; }
.header_nav ul li a:hover { background-color: #fe9f39; }
.header_nav ul li a.active { background-color: #8d6507; }
/* main */
.main_bg { background: url(../images/student_bg.jpg) repeat; }
.main { width: 1000px; margin: 0 auto; overflow: hidden; }
.main_left_box, .main_right_box .top_column_box, .main_right_box, .main_product_box { border-radius: 9px 9px 0 0; -webkit-border-radius: 9px 9px 0 0; -moz-border-radius: 9px 9px 0 0; overflow: hidden; }
.main_left_box, .main_right_box, .main_product_box { border-top: 2px solid #e3e3e3; margin-top: 10px; }
.main_left_box { width: 712px; float: left; background-color: #fff; }
.main_right_box { width: 280px; float: right; }
.main_right_box .top_column_box { height: auto; }
/* shouyeremai begin */
/*original*/
.switchBox li { display: none; }
.switchBox .tab .prve { height: 15px; width: 15px; color: #666; cursor: pointer; font: 0/0 arial; display: inline-block; margin: 0 2px; overflow: hidden; background-color: #000; opacity: 0.5; filter: alpha(opacity=50);}
.switchBox .tab .even { background-color:  #e86d00; opacity: 1; filter: alpha(opacity=100);}
.switchBox .back, .switchBox .next { cursor: pointer; display: inline-block; font: 0/0 arial; margin-top: -22px; padding: 6px; }
.switchBox .back { float: left; }
.switchBox .next { float: right; }
/*切换tab*/
.main_left_box .tab_banner_box { width: 712px; }
.main_left_box .tab_banner_box .tab_pic_box { height: 298px; width: 698px; position: relative; margin: 5px auto 0; border-radius: 9px 9px 0 0; -webkit-border-radius: 9px 9px 0 0; -moz-border-radius: 9px 9px 0 0; overflow: hidden; }
.main_left_box .tab_banner_box .tab_pic_box .tab_pic { }
.main_left_box .tab_banner_box .tab_pic_box .tab_pic li { height: 298px; width: 698px; }
.main_left_box .tab_banner_box .tab_pic_box .tab_pic li a img { display: block; height: 298px; width: 100%; }
.main_left_box .tab_banner_box .tab_pic_box .tab_btn { position: absolute; top: 274px; left: 50%; margin-left: -20px; }
.main_left_box .tab_banner_box .single_pic_box { width: 696px; overflow: hidden; margin: 3px auto; border: 1px solid #cae3dd; }
.main_left_box .tab_banner_box .single_pic_box ul { width: 200%; }
.main_left_box .tab_banner_box .single_pic_box ul li { float: left; height: 163px; width: 232px; border-right: 1px solid #bddcd5; }
.main_left_box .tab_banner_box .single_pic_box ul li a img { display: block; height: 100%; margin: 0 auto; }
.main_left_box .other_a_img { height: 88px; width: 696px; border: 1px solid #f0f0f0; clear: both; margin: 0 auto 10px; }
.main_left_box .prize_box { width: 100%; margin-bottom: 87px; }
.main_left_box .prize_box .prize_title { font: 18px/37px "微软雅黑"; font-weight: bold; text-indent: 13px; border-bottom: 2px solid #fe8f39; }
.main_left_box .prize_box .prize_ul { width: 711px; border-left: 1px solid #f0f0f0; }
.main_left_box .prize_box .prize_ul li { float: left; height: 286px; width: 236px; border-right: 1px solid #f0f0f0; border-bottom: 1px solid #f0f0f0; }
.main_left_box .prize_box .prize_ul li dl { width: 236px; }
.main_left_box .prize_box .prize_ul li dl dt { padding: 1px; }
.main_left_box .prize_box .prize_ul li dl dt img { height: 196px; width: 234px; }
.main_left_box .prize_box .prize_ul li dl dt .products_name { height: 46px; line-height: 46px; }
.main_left_box .prize_box .prize_ul li dl dt .products_name_bg { width: 224px; }
.main_left_box .prize_box .prize_ul li dl dd div { width: 170px; height: 40px; }
.main_left_box .prize_box .prize_ul li dl dd div p { float: left; }
.main_left_box .prize_box .prize_ul li dl dd div p.original_price { padding: 14px 0 0 5px; }
.main_left_box .prize_box .prize_ul li dl dd div p.current_price { padding: 12px 0 0 4px; }
.main_left_box .prize_box .prize_ul li dl dd a { margin-top: 3px; }
/* 右边栏—用户信心 */
.main_right_box .column_box { position: relative; background: #fff; }
.main_right_box .user_msg_box { padding: 10px 0 10px 10px; border-bottom: 1px solid #d9d9d9; background: #fff; }
.main_right_box .user_msg_box .head_portrait { height: 65px; width: 76px; position: relative; float: left; }
.main_right_box .user_msg_box .head_portrait img { display: block; height: 64px; width: 64px; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; }
.main_right_box .user_msg_box .head_portrait i { display: block; height: 20px; width: 28px; background: url(../images/J_sprites.png) no-repeat 0 0; _background-image: url(../images/J_sprites_8.png); position: absolute; bottom: 0; right: 0; }
.main_right_box .user_msg_box .head_portrait i.vipRed { background-position: -299px -84px; }
.main_right_box .user_msg_box dl { float: left; font: 14px/20px "宋体"; font-weight: bold; width: 174px; margin: 10px 0 0 8px; }
.main_right_box .user_msg_box dl dt { color: #3d3d3d; }
.main_right_box .user_msg_box dl dt span { color: #c75d09; margin-right: 6px; }
.main_right_box .user_msg_box dl dd i { float: left; height: 14px; width: 15px; background-position: -29px 0; margin: 7px 8px 0 14px; }
.main_right_box .user_msg_box dl dd i.teacher_coin_bg { background-position: -204px 0; }
.main_right_box .user_msg_box dl dd span { float: left; color: #797979; font: 14px/14px "微软雅黑"; margin-top: 6px; }
.main_right_box .user_msg_box dl dd strong.level_price { padding: 0 8px; font: 12px/20px ''; margin-left: 6px; }
a.no_identify { display: inline-block; height: 18px; font: 12px/20px ''; margin-left: 6px; background: url(../images/no_identify.png) repeat-x; border: 1px solid #bac6cc; padding: 0 8px; font: 12px/18px ''; margin-left: 6px; }
a.no_identify:hover { color: #ff4300 !important; }
.main_right_box .top_column_bg { height: 57px; width: 100%; background-position: 0 -21px; }
.main_right_box .top_column_bg ul { height: 22px; padding-top: 6px; }
.main_right_box .top_column_bg ul li { height: 22px; width: 100px; padding-left: 36px; float: left; border-right: 1px solid #dcdcdc; white-space: nowrap; }
.main_right_box .top_column_bg ul li.last { border-right: none; }
.main_right_box .top_column_bg ul li i, .main_right_box .top_column_bg ul li a { float: left; }
.main_right_box .top_column_bg ul li.my_gift i.my_gift_bg { height: 16px; width: 14px; background-position: -69px 0; margin: 2px 6px 0 0; }
.main_right_box .top_column_bg ul li i.new_gift { height: 12px; width: 12px; background-position: -85px 0; }
.main_right_box .top_column_bg ul li a, .main_right_box .top_column_bg ul li.my_adress a { font: 12px/16px "微软雅黑"; color: #1f1f1f; margin-top: 2px; }
.main_right_box .top_column_bg ul li a:hover { text-decoration: underline; color: #0e755e; }
.main_right_box .top_column_bg ul li.my_coupon i.my_coupon_bg { height: 16px; width: 14px; background-position: -97px 0; margin-right: 6px; }
.main_right_box .top_column_bg ul li.my_adress i.my_adress_bg { height: 17px; width: 13px; background-position: -478px 0; margin-right: 6px; }
.main_right_box .teacher_top_column ul { padding-left: 4px; }
.main_right_box .teacher_top_column ul li { height: 22px; width: 82px; padding-left: 8px; float: left; border-right: 1px solid #dcdcdc; }
.main_right_box .column_bg { height: 24px; background-position: 0 -80px; margin: 0; }
.no_reward_box { height: 88px; width: 100%; padding-top: 132px; }
.no_reward_box .no_wish_text { height: 41px; width: 194px; background: url(../images/no_wish_text.png) no-repeat; margin: 0 auto 24px; }
.no_reward_box .no_wish_text_gold { background: url(../images/no_wish_text_gold_1.png) no-repeat; }
.no_reward_box p { text-align: center; }
.no_reward_box p a { font-family: "宋体"; font-weight: bold; color: #ff5a00; text-decoration: underline; }
/* 右边栏—愿望加速 */
.main_right_box .wish_box { padding-bottom: 32px; background: url(../images/J_wish_bg.png) no-repeat; }
.main_right_box .wish_box .recommend_box img { float: left; border: 1px solid #dfdfdf; height: 94px; width: 94px; margin-left: 18px; }
.main_right_box .wish_box .recommend_box dl { float: left; width: 158px; }
.main_right_box .wish_box .recommend_box dl dt { width: 90%; height: 50px; margin: 0 auto; text-align: center; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; color: #030303; font: 14px/50px "微软雅黑"; padding-top: 5px; }
.main_right_box .wish_box .recommend_box dl dd a { display: block; width: 88px; font: 14px/14px ""; border: 1px solid #e58c00; background-color: #ff9c00; border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; color: #fff; line-height: 30px; text-align: center; margin: 0 auto; }
.main_right_box .wish_box .recommend_box dl dd a:hover { background-color: #ff8a00; }
.main_right_box .wish_box .process_box { width: 100%; padding-top: 16px; }
.main_right_box .wish_box .process_box p { float: left; color: #030303; text-indent: 10px; }
.main_right_box .wish_box .process_box .process_bg { float: left; border: 1px solid #aeaeae; height: 10px; width: 194px; margin-top: 2px; border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; }
.main_right_box .wish_box .process_box .process_bg .process_inner { height: 8px; width: 192px; margin: 1px auto; border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; }
.main_right_box .wish_box .process_box .process_bg .process_inner .process { height: 8px; background: url(../images/J_process.png) repeat-x; border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; font: 1px/1px ""; }
.main_right_box .wish_box .my_wish_box { height: 88px; padding-top: 6px; }
.main_right_box .wish_box .my_wish_box a { float: right; color: #0d8cb5; text-decoration: underline; margin-right: 13px; }
.main_right_box .wish_speed_box { width: 100%; }
.main_right_box .wish_speed_up_img { width: 251px; height: 43px; background-position: 0 -109px; margin: 0 auto; }
.main_right_box .wish_speed_box .wish_speed_up_box { width: 100%; padding: 10px 0 18px 0; }
.main_right_box .wish_speed_box .wish_speed_up_box dl { width: 258px; margin-left: 18px; color: #797979; }
.main_right_box .wish_speed_box .wish_speed_up_box dl dt { font: 12px/22px "宋体"; font-weight: bold; text-indent: 4px; border-bottom: 1px solid #d8d8d8; }
.main_right_box .wish_speed_box .wish_speed_up_box dl dd { margin-top: 20px; text-indent: 5px; overflow: hidden;  *zoom: 1;
}
.main_right_box .wish_speed_box .wish_speed_up_box dl dd span { float: left; }
.main_right_box .wish_speed_box .wish_speed_up_box dl dd span.speed_score, .main_right_box .wish_speed_box .wish_speed_up_box dl dd span.speed_coin { float: right; }
.main_right_box .wish_speed_box .wish_speed_up_box dl dd span.speed_score { color: #ff3000; font-weight: bold; }
.main_right_box .wish_speed_box .wish_speed_up_box dl dd span.speed_coin { height: 14px; width: 15px; background: url(../images/J_sprites.png) no-repeat -29px 0; _background-image: url(../images/J_sprites_8.png); margin: 0 18px 0 7px; }
.main_right_box .teacher_speed_box .wish_speed_up_box a.teacher_column_img, .main_right_box .teacher_speed_box .wish_speed_up_box a.teacher_column_img img { display: block; height: 52px; width: 242px; margin: 20px auto 0; }
.main_right_box .teacher_speed_box .wish_speed_up_box { padding: 0 0 18px 0; }
/* 右边栏—客服相关 */
.main_right_box .custom_service_box { padding-bottom: 61px; background: url(../images/service_bg.jpg) no-repeat center bottom; }
.main_right_box .custom_service_box dl { width: 257px; margin: 0 0 0 17px; }
.main_right_box .custom_service_box dl dt { padding: 7px 0; border-bottom: 1px solid #707070; }
.main_right_box .custom_service_box dl dt i, .main_right_box .custom_service_box dl dt span { float: left; }
.main_right_box .custom_service_box dl dt i { height: 15px; width: 19px; background-position: -47px 0; }
.main_right_box .custom_service_box dl dt span { font: 16px/16px "微软雅黑"; color: #3d3d3d; margin-left: 10px; }
.main_right_box .custom_service_box dl dd p { font: 14px/22px ""; color: #565555; padding-top: 10px; word-break: break-all; }
/* experience_center begin */
.experience_center_title { height: 42px; width: 680px; border-bottom: 3px solid #dcdcdc; margin-left: 21px; padding: 7px 0 0 2px; }
.experience_center_title i { display: block; height: 32px; width: 135px; background-position: 0 -201px; }
.experience_center_title i.not_real_title { background-position: 0 -274px; }
.experience_center_title i.exclusive { background-position: 2px -236px; width: 190px; }
.experience_center_title i.categories { background-position: -188px -236px; }
.experience_center_condition_box { position: relative; border-bottom: 1px solid #e1e1e1; overflow: hidden;  *zoom: 1;
}
.experience_center_condition_box .exchange_box { height: 37px; width: 154px; position: absolute; bottom: 0; right: 0; }
.experience_center_condition_box .exchange_box .exchange_box_bg { float: left; width: 21px; height: 37px; background-position: -331px 0; }
.experience_center_condition_box .exchange_box .exchange_content_box { width: 132px; height: 36px; float: left; border-top: 1px solid #e1e1e1; }
.experience_center_condition_box .exchange_box .exchange_content_box i, .experience_center_condition_box .exchange_box .exchange_content_box a { float: left; margin-top: 10px; }
.experience_center_condition_box .exchange_box .exchange_content_box i { height: 17px; width: 17px; background-position: -257px 0; margin: 10px 6px 0 10px; }
.experience_center_condition_box .exchange_box .exchange_content_box i.disabled { background-position: -422px 0; }
.experience_center_condition_box .exchange_box .exchange_content_box a { font: 12px/17px "宋体"; color: #2a2a2a; }
.experience_center_condition_box dl dt, .sort_box dt { width: 70px; font: 14px/24px "微软雅黑"; text-align: left; font-weight: bold; }
.experience_center_condition_box dl dt { height: 24px; }
.experience_center_condition_box dl dd { width: 600px; }
.experience_center_condition_box dl dt, .experience_center_condition_box dl dd, .sort_box dt, .sort_box dd { float: left; }
.experience_center_condition_box dl dd a { float: left; padding: 0 16px; height: 22px; margin: 0 20px 10px 0; font: 12px/22px "宋体"; color: #878787; border: 1px solid #c4c4c4; border-radius: 10px; -webkit-border-radius: 10px; -moz-border-radius: 10px; }
.experience_center_condition_box dl dd a.all_sort i, .experience_center_condition_box dl dd a.all_sort span { float: left; }
.experience_center_condition_box dl dd a.all_sort i { height: 12px; width: 14px; margin: 5px 2px 0 0; background-position: -142px 0; }
.experience_center_condition_box dl dd a.active { border: 2px solid #ff7200; color: #ff6000; height: 20px; line-height: 20px; }
.experience_center_condition_box dl dd a:hover { border-color: #ff7200; }
.products_ul_box { padding: 20px 0 0 20px; }
.experience_center_box .products_ul li { margin: 0 10px 10px 0; }
.experience_center_box .products_ul li dl { width: 330px; padding-bottom: 14px; border: 1px solid #dcdcdc; }
.experience_center_box .products_ul li dl dt { width: 298px; margin: 17px auto 0; }
.experience_center_box .products_ul li dl dt img { display: block; height: 188px; width: 298px; }
.experience_center_box .products_ul li dl dt .products_name { display: block; height: 14px; width: 100%; padding: 42px 0 4px 0; text-align: center; font: 14px/14px "微软雅黑"; color: #3c3c3c; font-weight: bold; }
.experience_center_box .products_ul li dl dt .products_name:hover { color: #e53230; }
.experience_center_box .products_ul li dl dd p { margin: 7px 0 0 16px; font: 12px/22px "宋体"; }
.experience_center_box .products_ul li dl dd p.current_price { height: 28px; margin-top: 14px; }
.experience_center_box .products_ul li dl dd p span { float: left; }
.experience_center_box .products_ul li dl dd p a { float: right; margin: 3px 26px 0 0; }
.experience_center_box .products_ul li dl dd p { }
.products_ul li dl dd div p.discount_price { margin-top: 3px; }
.experience_center_box .products_ul li dl dd a { line-height: 12px; }
.experience_center_box .products_ul li dl dd p span.current_price_text { width: 60px; text-align: right; margin-top: 10px; }
.experience_center_box .products_ul li dl dd p span.current_price_number { font-size: 24px; line-height: 150%; }
.experience_center_box .products_ul li dl dd p span.current_price_unit { padding: 15px 20px 0 0; }
.experience_center_box .products_ul li dl dd p span.advice_text { width: 230px; word-break: break-all; }
.exchange_alert p i, .exchange_alert p span { float: left; }
.exchange_alert p i { height: 22px; width: 22px; background-position: -478px -22px; margin-right: 4px; }
.exchange_alert ul li input, .exchange_alert ul li a { float: left; }
.exchange_alert ul li input { height: 34px; width: 198px; border: 1px solid #dddddd; padding-left: 8px; font: 14px/34px ""; margin-left: 70px; }
.exchange_alert ul li .sendCode { background: #2ecc71; height: 36px; padding: 0 20px; color: #fff; font: 12px/36px ""; margin-left: 10px; }
.exchange_alert ul li .sendCode:hover { background: #23bb64; }
.point { font-size: 14px; padding: 18px 0 30px 0; text-indent: 160px; }
.point a { text-decoration: underline; }
.exchange_alert ul li { position: relative; }
.exchange_alert ul li label { display: inline-block; width: 80px; text-align: center; line-height: 42px; }
.exchange_alert ul li select { width: 228px; height: 40px; color: #171515; border: 1px solid #ccc; }
.exchange_alert ul li strong { display: none; color: #fff; font-weight: normal; padding: 6px; background-color: #eb8986; font: 12px/12px ""; position: absolute; top: -18px; left: 72px; }
/*boutique_title begin*/
.boutique_title, .zuoye_title { padding: 10px 0 0 2px; height: 38px; }
.boutique_title i { width: 140px; background-position: -141px -201px; }
.boutique_box .sort_box { padding: 6px 0 6px 28px; border-bottom: 1px solid #e1e1e1; }
.sort_box dt { height: 30px; }
.sort_box dd a { float: left; height: 28px; padding: 0 10px; border: 1px solid #b5b5b5; font: 12px/28px "宋体"; color: #5e5e5e; margin-right: 8px; }
.sort_box dd a.sort_default { border-color: #17a484; background-color: #30b193; color: #fff; }
.boutique_box .products_ul li { padding: 0 14px 10px 0; }
.boutique_box .products_ul li dl { height: 286px; width: 212px; border: 1px solid #dcdcdc; }
.boutique_box .products_ul li dl dt { height: 234px; width: 100%; }
.boutique_box .products_ul li dl dt img { display: block; height: 184px; width: 212px; }
.boutique_box .products_ul li dl dt .products_name { display: block; height: 50px; width: 90%; text-align: center; font: 12px/50px "微软雅黑"; color: #3d3d3d; }
.boutique_box .products_ul li dl dt .products_name:hover { color: #e53230; }
.boutique_box .products_ul li dl dd div { padding: 4px 0 8px 16px; width: 135px; }
.boutique_box .products_ul li dl dd div p { margin-top: 16px;margin-left: -16px; }
.products_ul li dl dd div p.discount_price { margin-top: 3px; }
.boutique_box .products_ul li dl dd a { margin-top: 10px; }
/* only_belong_17zuoye */
.zuoye_title i { width: 188px; background-position: 0 -235px; }
.all_prize_title i { width: 142px; background-position: -188px -235px; }
/* search_no_prize */
.search_no_prize { padding: 80px 0; }
.search_no_prize .no_prize_bg { height: 60px; width: 60px; background: url(../images/no_suit.jpg) no-repeat; margin: 0 auto 20px; }
/*page_list */
.message_page_list { text-align: right; padding: 15px 10px; clear: both; }
.message_page_list a { display: inline-block; padding: 6px 10px; margin: 0 2px; font-size: 12px; color: #666; border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; }
.message_page_list a.this { background-color: #7ccf3e; color: #fff; font-weight: bold; }
.message_page_list a.enable, .message_page_list a.disable { background: #f5f5f5; border: 1px solid #ddd; }
.message_page_list a.enable:hover { background-position: 0 -190px; background-color: #f0f0f0; }
.message_page_list a.enable:active { background-position: 0 -225px; background-color: #eee; }
.message_page_list a.disable { color: #bbb; }
/*margin_right*/

.main_right_box .online_service_box { width: 100%; overflow: hidden; background: #fff; border-radius: 0 0 9px 9px; -webkit-border-radius: 0 0 9px 9px; -moz-border-radius: 0 0 9px 9px; }
.main_right_box .online_service_box a { display: block; height: 43px; width: 147px; font: 18px/43px "微软雅黑"; text-align: center; margin: 13px auto 0; background-position: 0 -154px; color: #fff; }
.main_right_box .online_service_box a:hover { background-position: -147px -154px; }
.main_right_box .online_service_box a.active { background-position: -294px -154px; }
.main_right_box .online_service_box p { padding: 10px 0 20px 0; }
/* 一栏css */
.main_product_box { width: 1000px; background-color: #fff; padding-bottom: 20px; }
.bread_crumb_nav { padding: 30px 0 20px 30px; }
.bread_crumb_nav a, .bread_crumb_nav span { float: left; color: #707070; }
.bread_crumb_nav a:hover { text-decoration: underline; }
.bread_crumb_nav a.active, .bread_crumb_nav span.active { color: #3d3d3d; }
/* 产品详情页 */
.home_sales_box { width: 100%; }
.home_sales_box .home_sales_left, .home_sales_box .home_sales_right { float: left; }
.home_sales_box .home_sales_left { width: 480px; }
.home_sales_box .home_sales_left .large_pic_box { width: 426px; height: 342px; margin: 0 auto 8px; overflow: hidden; position: relative; }
.home_sales_box .home_sales_left .large_pic_box .inner_pic_box { width: 424px; height: 340px; border: 1px solid #e3e3e3; overflow: hidden; }
.home_sales_box .home_sales_left .large_pic_box .inner_pic_box ul li { float: left; height: 340px; width: 424px; display: table-cell; text-align: center; vertical-align: middle; }
.home_sales_box .home_sales_left .large_pic_box .inner_pic_box ul li i { display: inline-block; height: 100%; vertical-align: middle }
.home_sales_box .home_sales_left .large_pic_box .inner_pic_box ul li img { vertical-align: middle; }
.home_sales_box .home_sales_left .large_pic_box .home_sales_hot { height: 50px; width: 51px; background-position: -369px 0; position: absolute; top: 0; right: 10px; }
.home_sales_box .home_sales_left .small_pic_box { height: 82px; width: 100%; position: relative; }
.home_sales_box .home_sales_left .small_pic_box .pic_inner_box { height: 82px; width: 452px; overflow: hidden; }
.home_sales_box .home_sales_left .small_pic_box .pic_inner_box ul { width: 200%; }
.home_sales_box .home_sales_left .small_pic_box .prev_btn, .home_sales_box .home_sales_left .small_pic_box .next_btn { display: block; height: 38px; width: 38px; background-color: #fff; border: 1px solid #e3e3e3; border-radius: 50%; font: 20px/38px "宋体"; font-weight: bold; color: #e3e3e3; text-align: center; position: absolute; top: 20px; cursor: pointer; }
.home_sales_box .home_sales_left .small_pic_box a:hover { color: red; }
.home_sales_box .home_sales_left .small_pic_box .prev_btn { left: 8px; }
.home_sales_box .home_sales_left .small_pic_box .next_btn { right: 8px; }
.home_sales_box .home_sales_left .small_pic_box ul { margin-left: 26px; }
.home_sales_box .home_sales_left .small_pic_box ul li { float: left; height: 80px; width: 80px; border: 1px solid #e3e3e3; margin-right: 4px; cursor: pointer; }
.home_sales_box .home_sales_left .small_pic_box ul li img { display: block; height: 80px; width: 80px; }
.home_sales_box .home_sales_left .small_pic_box ul li.active { border-color: #ff8900; }
.home_sales_box .home_sales_right { width: 500px; }
.home_sales_box .home_sales_right div, .home_sales_box .home_sales_right dl { padding-left: 20px; }
.home_sales_box .home_sales_right p.home_sales_name { font: 20px/40px "微软雅黑"; color: #333333; margin-bottom: 10px; }
.home_sales_box .home_sales_right .original_price_box, .home_sales_box .home_sales_right .vip_price_box { height: 50px; border: 1px solid #fcf6de; width: 480px; }
.home_sales_box .home_sales_right .original_price_box span, .home_sales_box .home_sales_right .vip_price_box span, .home_sales_box .home_sales_right dl dt, .home_sales_box .home_sales_right dd { float: left; }
.home_sales_box .home_sales_right .original_price_box { background-color: #fffdf4; border-bottom: 0; }
.home_sales_box .home_sales_right .vip_price_box { margin-bottom: 10px; }
.home_sales_box .home_sales_right .original_price_box .original_price, .home_sales_box .home_sales_right .vip_price_box .vip_price { height: 20px; width: 46px; font: 14px/20px "微软雅黑"; margin: 15px 15px 0 0; border-radius: 2px; -webkit-border-radius: 2px; -moz-border-radius: 2px; font: 14px/20px "微软雅黑"; text-align: center; color: #fff; }
.home_sales_box .home_sales_right .original_price_box .original_price { background-color: #ccc; }
.home_sales_box .home_sales_right .original_price_box .original_price_number, .home_sales_box .home_sales_right .vip_price_box .vip_price_number { font: 24px/50px "微软雅黑"; }
.home_sales_box .home_sales_right .original_price_box .price_unit, .home_sales_box .home_sales_right .vip_price_box .price_unit { margin: 16px 10px 0 2px; }
.home_sales_box .home_sales_right .vip_price_box .vip_advice { margin-top: 16px; }
.vip_price, .level_price { height: 20px; width: 66px; border-radius: 2px; color: #fff; -webkit-border-radius: 2px; -moz-border-radius: 2px; font: 14px/20px "微软雅黑"; text-align: center; color: #fff; background-color: #ff4300; }
.home_sales_box .home_sales_right .vip_price_box div.vip_advice { position: relative; cursor: pointer; white-space: nowrap; }
.home_sales_box .home_sales_right .vip_price_box div.vip_advice a { display: block; height: 38px; }
/*.home_sales_box .home_sales_right .vip_price_box div.vip_advice a i { display: inline-block; height: 15px; width: 15px; background-position: -422px -19px; margin: 4px 0 0 4px; }*/
.home_sales_box .home_sales_right .vip_price_box div.vip_advice div.price_point_box { display: none; width: 280px; position: absolute; left: 34px; top: 28px; border: 1px solid #ccc; background: #fff; padding: 10px; }
.home_sales_box .home_sales_right .vip_price_box div.vip_advice .price_point_box i { display: block; height: 8px; width: 12px; background-position: -421px -52px; position: absolute; top: -12px; left: 70px; }
.home_sales_box .home_sales_right .vip_price_box div.vip_advice .price_point_box p.title { font: 16px/20px ""; font-weight: bold; padding: 4px 0 10px; border-bottom: 1px solid #ccc; }
.home_sales_box .home_sales_right .vip_price_box div.vip_advice div.price_point_box dl dt { height: 24px; width: 60px; line-height: 24px; text-align: center; }
.home_sales_box .home_sales_right .vip_price_box div.vip_advice div.price_point_box dl dt span { margin-top: 2px; }
.home_sales_box .home_sales_right .vip_price_box div.vip_advice div.price_point_box dl dd { width: 180px; height: 24px; line-height: 24px;margin-left: 14px; }
.home_sales_box .home_sales_right dl { padding-top: 10px; }
.home_sales_box .home_sales_right dl dt { height: 34px; width: 84px; font: 14px/34px "微软雅黑"; text-align: left; }
.home_sales_box .home_sales_right dl dd { width: 368px; }
.home_sales_box .home_sales_right dl dd span { line-height: 34px; }
.home_sales_box .home_sales_right dl dd a, .select_style a { float: left; height: 32px; padding: 0 12px; border: 1px solid #e3e3e3; color: #666; font: 16px/32px "微软雅黑"; margin: 0 10px 10px 0; }
.home_sales_box .home_sales_right dl dd a.active, .select_style a.active { border-color: #ff9c00; color: #ff9c00; background: url(../images/selected.png) no-repeat bottom right; }
.home_sales_box .home_sales_right dl dd strong, .home_sales_box .home_sales_right dl dd input { float: left; }
.home_sales_box .home_sales_right dl dd input { height: 30px; border: 1px solid #e3e3e3; border-left: 0; border-right: 0; width: 38px; margin: 0; font: 16px/32px "微软雅黑"; text-align: center; }
.home_sales_box .home_sales_right dl dd strong { height: 32px; width: 32px; color: #fff; background-color: #d5d5d5; border: 1px solid #e3e3e3; font: 20px/32px "微软雅黑"; text-align: center; cursor: pointer; }
.home_sales_box .home_sales_right dl dd strong.disabled { background-color: #f0f0f0; color: #ccc; cursor: default; }
/*.home_sales_box .home_sales_right div .exchange_btn, .home_sales_box .home_sales_right div .add_wish_box { float: left; text-align: center; font-size: 20px; font-weight: bold; border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; margin-top: 30px; }*/
.home_sales_box .home_sales_right div .exchange_btn { padding: 11px 38px; margin-right: 20px; }
.home_sales_box .home_sales_right div span.point { float: left; text-indent: 6px; padding-top: 60px; }
/*.home_sales_box .home_sales_right div .add_wish_box { height: 48px; width: 152px; border: 2px solid #ff4300; line-height: 48px; }*/
/*.home_sales_box .home_sales_right div .add_wish_box strong { font-size: 24px; margin-right: 6px; }*/
.home_sales_box .home_sales_right div p { clear: both; padding: 15px 0; }
.home_sales_detail { width: 940px; margin: 30px auto 0; padding-bottom: 50px; border-top: 1px solid #ededed; }
.home_sales_detail .title { font: 22px/94px ""; text-indent: 20px; color: #ff7400; }
.home_sales_detail .home_sales_detail_content { padding: 0 20px; color: #666; }
.home_sales_detail .home_sales_detail_content p { line-height: 24px; color: #666; }
/*my_prize begin*/
.my_prize_title_box { height: 42px; margin: 0 30px; }
.my_prize_title_box .my_prize_title_bg { float: left; width: 458px; height: 36px; padding-top: 5px; border-bottom: 1px solid #dbdbdb; }
.my_prize_title_box .my_prize_title_bg i { display: block; width: 130px; height: 29px; background-position: -294px -204px; }
.my_prize_title_box .my_prize_title { float: right; height: 38px; width: 364px; padding: 0 30px; border: 2px solid #c1c1c1; border-radius: 20px; -moz-border-radius: 20px; -webkit-border-radius: 20px; }
.my_prize_title_box .my_prize_title a, .my_prize_title_box .my_prize_title span { font: 16px/38px "微软雅黑"; color: #3d3d3d; display: inline-block; vertical-align: middle; }
.my_prize_title_box .my_prize_title a:hover { color: #ff4300; }
.my_prize_title_box .my_prize_title span { font-weight: bold; color: #c1c1c1; padding: 0 30px; }
.my_order_box { margin-top: 20px; }
.my_order_box .my_order_title { font: 16px/36px "微软雅黑"; color: #6f6f6f; text-indent: 30px; padding-right: 30px; }
.my_order_box .my_order_inner_box { width: 946px; border: 1px solid #f5e6d6; margin: 0 auto; }
.my_order_box .my_order_inner_box .my_order_process { height: 96px; border-bottom: 1px solid #f5e6d6; position: relative; padding-top: 58px; }
.my_order_box .my_order_inner_box .my_order_process .my_order_status_bg { height: 8px; width: 900px; margin: 0 auto; background-color: #e4d2c0; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; }
.my_order_box .my_order_inner_box .my_order_process .my_order_status_bg .my_order_status { height: 8px; background-color: #b3c91c; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; }
.my_order_box .my_order_inner_box .my_order_process ul { position: absolute; top: 49px; left: 20px; }
.my_order_box .my_order_inner_box .my_order_process ul li { float: left; width: 224px; }
.my_order_box .my_order_inner_box .my_order_process ul li p { text-align: center; color: #6f6f6f; }
.my_order_box .my_order_inner_box .my_order_process ul li p.my_order_status_text { font: 16px/28px "微软雅黑"; color: #666; }
.my_order_box .my_order_inner_box .my_order_process ul li p i { display: inline-block; height: 22px; width: 22px; background-position: -324px -52px; }
.my_order_box .my_order_inner_box .my_order_process ul li.my_order_recieved p i { background-position: -370px -52px; }
.my_order_box .my_order_inner_box .my_order_process ul li.active p i { background-position: -301px -52px; }
.my_order_box .my_order_inner_box .my_order_process ul li.active p.my_order_status_text { color: #8da008; }
.my_order_box .my_order_inner_box .my_order_process ul li.my_order_recieved.active p i { background-position: -347px -52px; }
.my_order_box .my_order_inner_box .my_order_process ul li.my_order_recieved.active p { color: #ff6600; }
.my_order_box .my_order_inner_box .usedbtn{display: inline-block;color:#999;}
.my_order_box .my_order_inner_box .usedbtn:hover{cursor: default; color: #999!important;}
.my_order_box .my_order_inner_box .usingbtn{display: inline-block;padding: 10px;color:#fff;background-color:#ff9732; border-radius: 4px;-webkit-border-radius: 4px;-moz-border-radius: 4px;}
.my_order_box .my_order_inner_box .usingbtn:hover{ color: #ffffff!important;}
.no_order_box { padding: 80px 0; }
.no_order_box .no_order_bg { height: 60px; width: 65px; margin: 0 auto 20px; background: url(../images/no_order_bg.png) no-repeat; }
.no_order_box .btn_box .J_blue_btn { padding: 9px 25px; margin-top: 10px; font-size: 16px; }
.my_order_product_box { width: 908px; padding: 20px 0; margin: 0 auto; border-bottom: 1px solid #f5e6d6; background-color: #fffbf7; }
.my_order_product_box img { width: 92px; height: 92px; border: 2px solid #f5e6d6; margin-right: 36px; }
.my_order_product_box dl { width: 400px; padding-top: 18px; }
.my_order_product_box dl dt { width: 260px; color: #3a3a3a; font: 14px/18px "宋体";  overflow: hidden;}
.my_order_product_box dl dd span { font: 12px/14px "宋体"; ; color: #959595; }
.my_order_product_box dl dd i, .point_box i { height: 14px; width: 14px; background-position: -439px 0; margin-right: 6px; }
.my_order_product_box p { line-height: 96px; }
.my_order_product_box p.my_order_price_box { width: 150px; }
.my_order_product_box p strong { font-size: 16px; }
.my_order_product_box p span.my_order_number { width: 60px; margin-left: 20px; }
.my_order_product_box p span.my_order_number, .my_order_product_box p a.my_order_revise_btn { height: 28px; line-height: 28px; border: 1px solid #dbc2a9; text-align: center; font-weight: bold; margin-top: 32px; }
.my_order_product_box p a.my_order_revise_btn { width: 40px; color: #fcccca; border-left: 0; background-color: #fff4ea; }
.my_order_product_box a.my_order_delete_btn { height: 23px; width: 23px; background-position: -455px 0; margin: 36px 14px 0 0; }
.my_order_sum_price { height: 78px; }
.my_order_sum_price p { font-size: 14px; margin: 28px 40px 0 0; }
.my_order_sum_price p strong { font-size: 20px; }
.my_ordered_box div.float_left { border-right: 1px solid #f5e6d6; }
.my_ordered_box .my_order_product_box { width: 730px; padding: 14px 0; margin-left: 20px; }
.my_ordered_box .my_order_product_box img { width: 68px; height: 68px; margin-right: 62px; }
.my_ordered_box .my_order_product_box dl { width: 340px; padding-top: 0px; }
.my_ordered_box .my_order_product_box dl dt { color: #5f5f5f; font-size: 12px; width: 90%; height: 72px; line-height: 72px; overflow: hidden;}
.my_ordered_box .my_order_product_box p { line-height: 72px; font-size: 12px; font-family: "宋体"; color: #5f5f5f; }
.my_ordered_box .second_code_box { border-bottom: 1px solid #f5e6d6; width: 195px; padding: 80px 0; border-left: 1px solid #f5e6d6; margin-left: -1px; }
.my_ordered_box .second_code_box p.point_box { font: 12px/24px "宋体"; height: 56px; font-weight: bold; text-align: center; color: #7a7a7a; }
.my_ordered_box .second_code_box p.point_box i { margin: 34px 4px 0 50px; }
.my_ordered_box .second_code_box p.point_box span { margin-top: 30px; }
.my_ordered_box .second_code_box p a { display: block; height: 30px; width: 76px; font: 12px/30px "宋体"; color: #fff; text-align: center; background-color: #48ade1; margin: 0 auto; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; }
.my_ordered_sum_price { height: 50px; }
.my_ordered_sum_price p { margin-top: 16px; }
.my_ordered_sum_price p.point_box { margin: 20px; }
.my_ordered_sum_price p.point_box span { font: 12px/14px "宋体"; color: #5b5b5b; }
/* my_ordered_prize */
.my_ordered_prize .my_order_product_box { width: 908px; margin: 0 auto; }
.my_ordered_prize .my_order_product_box p { margin-right: 40px; }
/* my_wish */
.my_wish_point { height: 74px; font-size: 16px; line-height: 74px; color: #6f6f6f; text-indent: 30px; }
.my_wish_box { margin: 0 30px; }
.my_wish_box .my_wish_img { height: 298px; width: 420px; border: 1px solid #eee; display: table-cell; text-align: center; vertical-align: middle; }
.my_wish_box .my_wish_img i { display: inline-block; height: 100%; vertical-align: middle }
.my_wish_box .my_wish_img img { vertical-align: middle; }
.my_wish_box .my_wish_msg_box { width: 484px; }
.my_wish_box .my_wish_msg_box p.title { padding-bottom: 10px; font-size: 16px; line-height: 24px; color: #3a3a3a; border-bottom: 1px solid #e4e4e4; }
.my_wish_box .my_wish_msg_box .my_wish_instruction { height: 168px; width: 476px; position: relative; }
.my_wish_box .my_wish_msg_box .my_wish_instruction p { padding: 30px 80px 20px 2px; color: #6f6f6f; }
.my_wish_box .my_wish_msg_box .my_wish_instruction .my_wish_msg_process { position: relative; }
.my_wish_box .my_wish_msg_box .my_wish_instruction .my_wish_process_bg { height: 10px; width: 422px; padding: 1px; border: 1px solid #d8bfa5; border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px; }
.my_wish_box .my_wish_msg_box .my_wish_instruction .my_wish_process_bg .my_wish_status_box { height: 10px; width: 420px; font: 1px/1px ""; }
.my_wish_box .my_wish_msg_box .my_wish_instruction .my_wish_process_bg .my_wish_status { height: 8px; border: 1px solid #d84c02; border-radius: 8px; -moz-border-radius: 8px; -webkit-border-radius: 8px; position: relative; }
.my_wish_box .my_wish_msg_box .my_wish_instruction .my_wish_process_bg .my_wish_status .my_wish_status_inner { width: 100%; height: 8px; border-radius: 8px; -moz-border-radius: 8px; -webkit-border-radius: 8px; background: url(../images/my_wish_process.png) repeat-x; }
.my_wish_box .my_wish_msg_box .my_wish_instruction .bean_point { height: 30px; width: 100%; position: absolute; }
.my_wish_box .my_wish_msg_box .my_wish_instruction .bean_point p { height: 20px; padding: 0 10px; float: right; font-size: 12px; color: #fff; line-height: 20px; border-radius: 2px; -moz-border-radius: 2px; -webkit-border-radius: 2px; }
.my_wish_box .my_wish_msg_box .my_wish_instruction .bean_point i { display: block; width: 12px; height: 10px; position: absolute; z-index: 1; }
.my_wish_box .my_wish_msg_box .my_wish_instruction .have_beans { right: 0; top: 12px; }
.my_wish_box .my_wish_msg_box .my_wish_instruction .have_beans p { margin-top: 8px; background: url(../images/wish_yellow_middle.jpg) repeat-x; border: 1px solid #ff9c00; white-space: nowrap; }
.my_wish_box .my_wish_msg_box .my_wish_instruction .have_beans i { background-position: -393px -52px; top: 1px; right: 10px; }
.my_wish_box .my_wish_msg_box .my_wish_instruction .need_beans { position: absolute; width: 100%; top: -34px; right: 40px; }
.my_wish_box .my_wish_msg_box .my_wish_instruction .need_beans p { background: url(../images/wish_green_middle.jpg) repeat-x; border: 1px solid #81cf1c; }
.my_wish_box .my_wish_msg_box .my_wish_instruction .need_beans i { background-position: -407px -52px; top: 20px; right: 10px; }
.my_wish_box .my_wish_msg_box p.btn_box { height: 52px; }
.my_wish_box .my_wish_msg_box p.btn_box a { padding: 15px 38px; font-size: 18px; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; vertical-align: middle; }
.my_wish_box .my_wish_msg_box p.btn_box a.delete_btn { font-size: 14px; text-decoration: underline; color: #666; vertical-align: middle; }
.my_wish_box .my_wish_msg_box p.btn_box a.delete_btn:hover { color: #ff4300; }
.my_wish_box .no_wish_bg { height: 41px; width: 60px; background: url(../images/no_wish.png) no-repeat; margin: 0 auto 20px; }
.my_wish_box .no_wish_text { text-align: center; margin-bottom: 10px; }
.my_wish_box .go_add a { font-size: 16px; padding: 10px 25px; margin-bottom: 30px; }
.my_wish_speed_box { border: 1px solid #e4e4e4; margin: 40px 30px; padding-bottom: 16px; }
.my_wish_speed_box .my_wish_speed_bg { height: 76px; background: url(../images/my_wish_speed_bg.png) no-repeat center center; }
.my_wish_speed_left, .my_wish_speed_right { border: 1px solid #fff3e1; }
.my_wish_speed_left { width: 370px; margin: 0 auto; padding-bottom: 4px; }
.my_task_speed_box p.title { font: 12px/28px "宋体"; color: #494848; text-indent: 14px; font-weight: bold; }
.my_task_speed_box ul li { overflow: hidden; clear: both; }
.my_task_speed_box ul li i { height: 18px; width: 18px; margin: 12px 14px 0 14px; font: 12px/18px "宋体"; font-weight: bold; font-style: normal; text-align: center; color: #fff; background-color: #ff7800; border-radius: 50%; -moz-border-radius: 50%; -webkit-border-radius: 50%; }
.my_task_speed_box ul li .my_task_content_box { width: 286px; }
.my_task_speed_box ul li .my_task_content_box p { width: 100%; height: 43px; font: 12px/43px "宋体"; }
.my_task_speed_box ul li .my_task_content_box p a { color: #5f5f5f; }
.my_task_speed_box ul li .my_task_content_box p a:hover { text-decoration: underline; }
.my_task_speed_box ul li .my_task_content_box .dotted_border { display: block; height: 1px; width: 100%; font-size: 0; background-position: 0 -234px; }
.my_wish_speed_right { width: 540px; margin-right: 5px; }
.my_wish_speed_right .my_order_product_box { margin-left: 14px; width: 516px; }
.my_wish_speed_right .my_order_product_box img { margin-right: 24px; }
.my_wish_speed_right .my_order_product_box dl { width: 240px; }
.my_wish_speed_right .my_order_product_box dl dt { height: 20px; font-family: "宋体"; color: #494848; line-height: 20px; }
.my_wish_speed_right .my_order_product_box dl dd ul li { margin-top: 10px; }
.my_wish_speed_right .my_order_product_box dl dd ul li i { height: 2px; width: 2px; font-size: 0; line-height: 0; background-color: #5f5f5f; margin: 8px 5px 0 0; }
.my_wish_speed_right .my_order_product_box dl dd ul li p { font: 12px/14px "宋体"; color: #5f5f5f; }
.my_wish_speed_right .my_order_product_box dl dd ul li p strong { font-size: 12px; }
.my_wish_speed_right .my_order_product_box a { margin-top: 22px; font-weight: bold; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; }
.my_wish_speed_right .my_order_product_box a.J_green_btn { margin-left: 14px; }
/* my_experience */
.my_experience_coupon_box { width: 930px; margin: 30px auto; border: 1px solid #ccc; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; }
.my_experience_coupon_box p.title, .my_experience_coupon_box table thead tr { height: 40px; border-bottom: 1px solid #ccc; }
.my_experience_coupon_box p.title { height: 40px; font: 16px/40px "微软雅黑"; text-indent: 14px; }
.my_experience_coupon_box table { width: 100%; }
.my_experience_coupon_box table thead th { font-weight: normal; background-color: #efeeee; color: #535353; }
.my_experience_coupon_box table tbody tr { height: 48px; border-bottom: 1px solid #ccc; }
.my_experience_coupon_box table tbody td { text-align: center; }
/* footor */
.footer { width: 980px; margin: 60px auto 0; clear: both; }
.footer .nav { border-top: 1px solid #fff; border-bottom: 1px solid #fff; }
.footer .nav ul { width: 960px; margin: 0 auto; }
.footer .nav ul li, .footer .nav ul li a { color: #fff; }
.footer .nav ul li { float: left; }
.footer .nav ul li a { margin: 10px 20px; display: inline-block; vertical-align: middle; }
.footer .nav ul li a:hover { color: #690; }
.footer .nav ul li .line { font-weight: normal; color: #dbdbdb; display: inline-block; vertical-align: middle; }
.footer .nav ul li.service { float: right; padding: 4px 15px; line-height: 22px; }
.footer .nav ul li.service span { color: #fff; font-weight: bold; }
.footer .copyright { clear: both; padding: 20px 0; }
.footer .copyright p { text-align: center; color: #fff; font-size: 12px; font-family: Arial, Helvetica, sans-serif; line-height: 22px; }
/*popup-form-table*/
.popup-form-table { text-align: left;}
.popup-form-table dt{ float: left; width: 140px; text-align: right; line-height: 30px;}
.popup-form-table dd{ margin: 0 0 15px 150px; line-height: 30px; font-size: 14px;}
.popup-form-table dd a{ color: #39f;}
.popup-form-table dd select, .popup-form-table dd input{ border: 1px solid #ddd; padding: 10px; width: 250px; border-radius: 6px;}
.popup-form-table dd select{ width: 270px;}
.popup-form-table .w-btn{background-color: #ff9c00;    border: 1px solid #e58c00;    color: #fff;    display: inline-block;    font-size: 12px;    padding: 3px 10px; border-radius: 5px;}
.popup-form-table .w-btn:hover{ background-color: #ff8a00}
.popup-form-table .w-dis, .popup-form-table .w-dis:hover{ background-color: #ccc; cursor: default; border-color: #ddd;}
/*tip*/
.dropDownBox_tip{ position:absolute; z-index: 155; }
.dropDownBox_tip span.arrow{ position: absolute; top:-9px; _top:-8px; left:20px; font: 18px/100% Arial, Helvetica, sans-serif; color: #ffe296;}
.dropDownBox_tip span.arrow span.inArrow{ color: #feef94; position:absolute; left:0; top:1px;}
.dropDownBox_tip span.arrowLeft{ left:-9px; top:15px;}
.dropDownBox_tip span.arrowLeft span.inArrow{ left:1px; top:0px;}
.dropDownBox_tip span.arrowRight{ left: auto; right:-9px; top:15px;}
.dropDownBox_tip span.arrowRight span.inArrow{left:-1px; top:0px;}
.dropDownBox_tip span.arrowBot{ top:auto; bottom:-9px; _bottom:-11px; left:20px;}
.dropDownBox_tip span.arrowBot span.inArrow{ left:0; top:-1px}
.dropDownBox_tip .tip_content{ border:1px solid #ffe296; background-color:#feef94; overflow:hidden; width:160px; color:#d77a00; padding:15px;}