@charset "UTF-8";
html{font-size:18px}
@media only screen and (min-width:360px){html{font-size:20px!important}
}
@media only screen and (min-width:375px){html{font-size:21px!important}
}
@media only screen and (min-width:400px){html{font-size:22px!important}
}
@media only screen and (min-width:414px){html{font-size:23px!important}
}
@media only screen and (min-width:480px){html{font-size:24px!important}
}
@media only screen and (min-width:540px){html{font-size:26px!important}
}
@media only screen and (min-width:640px){html{font-size:28px!important}
}
@media only screen and (min-width:768px){html{font-size:30px!important}
}
@media only screen and (min-width:960px){html{font-size:36px!important}
}
html{-webkit-overflow-scrolling:touch;overflow-scrolling:touch;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;-webkit-user-select:none;-ms-user-select:none}
body,button,input,select,textarea{font-family:TrebuchetMS,Rotobo,"Microsoft YaHei",sans-serif}
body,dd,dl,dt,form,h1,h2,h3,h4,h5,h6,html,li,ol,p,select,ul{margin:0;padding:0}
li,ol,ul{list-style-type:none}
em,i{font-style:normal}
a{color:#333}
a{text-decoration:none}
a img{border:0 none}
input:-ms-input-placeholder,input::-moz-placeholder,input::-webkit-input-placeholder{color:#999}
input:focus:-ms-input-placeholder,input:focus::-moz-placeholder,input:focus::-webkit-input-placeholder{color:transparent}
button,input[type=button],input[type=text],input[type=password],input[type=submit],input[type=search],input[type=email],input[type=number],input[type=phone],textarea{-webkit-appearance:none;-moz-appearance:none;-webkit-border-image:none;border-image:none;-webkit-border-radius:0;border-radius:0;-webkit-box-sizing:border-box;box-sizing:border-box}
button,input[type=reset],input[type=button],input[type=submit]{cursor:pointer;-webkit-appearance:button}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
table{border-collapse:collapse;border-spacing:0}
td{vertical-align:top}
.hidden{display:none!important;visibility:hidden}
.visuallyhidden{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px}
.visuallyhidden.focusable:active,.visuallyhidden.focusable:focus{clip:auto;height:auto;margin:0;overflow:visible;position:static;width:auto}
.invisible{visibility:hidden}
.clearfix:after,.clearfix:before{content:"";display:table}
.clearfix:after{clear:both}
.clearfix{zoom:1}
@media print{*{background:0 0!important;color:#000!important;text-shadow:none!important;filter:none!important;-ms-filter:none!important}
a,a:visited{text-decoration:underline}
a[href]:after{content:" (" attr(href) ")"}
abbr[title]:after{content:" (" attr(title) ")"}
.ir a:after,a[href^="javascript:"]:after,a[href^="#"]:after{content:""}
blockquote,pre{border:1px solid #999;page-break-inside:avoid}
thead{display:table-header-group}
img,tr{page-break-inside:avoid}
img{max-width:100%!important}
@page{margin:.5cm}
h2,h3,p{orphans:3;widows:3}
h2,h3{page-break-after:avoid}
}
body{background-color:#6bd153}
.header{width:100%}
.header img{display:block;width:100%;height:auto}
.main{position:relative;margin-top:-5rem;z-index:2;padding:0 .75rem}
.main .title{margin:.45rem 0;padding:.675rem 0;line-height:1.15rem;background-color:#8b5011;border-radius:.2rem;font-size:.75rem;color:#fff}
.main .title .num{display:inline-block;vertical-align:middle;margin:-.1rem .375rem 0 .375rem;width:1.15rem;height:1.15rem}
.main .title .num01{background:url(../images/num01.png?v=70e7e8e0aa) no-repeat;background-size:100% 100%}
.main .title .num02{background:url(../images/num02.png?v=b6a667e090) no-repeat;background-size:100% 100%}
.main .btnBox{padding-bottom:.65rem}
.main .btnBox .btn{position:relative;display:block;margin:0 .75rem;background-color:#00aef5;border-radius:2.5rem;line-height:2.25rem;font-size:.9rem;text-align:center;color:#fff}
.main .btnBox .btn:after{position:absolute;right:-.45rem;top:50%;margin-top:-.225rem;display:block;content:"";width:.475rem;height:.45rem;background:url(../images/btn-icon.png?v=a3033a5bc4) no-repeat;background-size:100% 100%}
.main .guidePic{padding:0 .5rem}
.main .guidePic img{display:block;width:100%}
.main .guidePic .explain{width:100%;padding:.25rem 0 1.75rem 0;text-align:center;font-size:.5rem;color:#fff}