/*
* @Description: App-TianJi
* @author: Free
* @date: 2016-07-13
*/

.return{position:absolute;left:0;top:.5rem;padding:0 .25rem 0 .625rem;cursor:pointer;font-size:.9rem}
.return .return-icon{margin-right:.25rem;display:inline-block;width:.4rem;height:.7rem;background:url(/public/rebuildRes/image/mobile/home/icon_arrow_left.png?v=6f6e5554dd) no-repeat;background-size:100% 100%}
.res-top{position:relative;padding:.375rem 0 0 3.75rem;line-height:2.25rem;height:2.5rem;border-bottom: .05rem solid #cdd3dc;}
.res-top .return-line{position:absolute;top:50%;margin:-.375rem 0 0 0;content:"";height:1.25rem;border-right:1px solid #979797}
.res-top span{display:inline-block;vertical-align:middle;font-size:.9rem;color:#898c91}
.res-top .res-title{padding:0 0 0 .625rem}
.res-top .res-right{float:right;margin:.675rem .75rem 0 0;display:inline-block;vertical-align:middle;width:1.25rem;height:1.25rem;cursor:pointer;background:url(/public/rebuildRes/image/mobile/home/icon_rule.png?v=b864b12959) no-repeat;background-size:100% 100%}
.c-opts {font-size: .75rem;color: #77595a;background-color: #fff6ee;height: 2.25rem;line-height: 2.25rem;border-bottom: .05rem solid #dde2ea}
.c-opts span{position:relative;padding:0 .5rem;cursor:pointer}
.c-opts span.active .triangle{position:absolute;left:50%;bottom:-.05rem;margin-left:-.35rem;width:.65rem;height:.275rem;background:url(/public/rebuildRes/image/mobile/home/icon_symbol_belongs.png?v=3768f09730) no-repeat;background-size:100% 100%}
.c-opts .the{color:#ff7d5a}
.gap-line>span,.gap-line>div{position:relative;text-align:center;cursor:pointer}
.gap-line .current{border:none}
.gap-line>span:not(:last-child):after,.gap-line>div:not(:last-child):after{content:" ";width:0;overflow:hidden;position:absolute;height:1.525rem;margin-top:.35rem;top:0;right:0;border-right:.075rem solid #979797}
.primary-box .pr-list{padding:.75rem;border-bottom:1px solid #cdd3dc;overflow:hidden}
.primary-box .pr-list li{float:left;width:25%;text-align:center}
.primary-box .pr-list li .pr-pic{display:inline-block;width:3.75rem;height:3.75rem;text-align:center;border-radius:100%;background-color:#edf3fa}
.primary-box .pr-list li .pr-pic img{width:100%}
.primary-box .pr-list li div{padding:1rem 0 0 0;font-size:.75rem;color:#50546d;line-height:.45rem}
.primary-box .pr-list li div .pr-txt{color:#fc6648}
.primary-box .pr-side .sideTable{position:relative;width:100%;font-size:.75rem;text-align:center}
.primary-box .pr-side .sideTable thead{border-bottom:1px solid #cdd3dc}
.primary-box .pr-side .sideTable td{padding:.75rem 0}
.primary-box .pr-side .sideTable .arrow{margin:0 .25rem 0 0;display:inline-block;vertical-align:middle;width:.45rem;height:.85rem;background:url(/public/rebuildRes/image/mobile/home/icon_arrow_right.png?v=c73404835e) no-repeat;background-size:100% 100%;cursor:pointer}
.primary-box .pr-side .sideTable .pr-name{display:inline-block;width:3.25rem;text-overflow:ellipsis;overflow:hidden;white-space:nowrap}
.primary-box .pr-side .sideTable tr:nth-child(even){background-color:#f9f9fa}
.rankingList-box .rl-banner{height:5.175rem;background:url(/public/rebuildRes/image/mobile/home/icon_podium.png?v=eb6c1b7194) no-repeat;background-size:100% 100%}
.rankingList-box .rl-banner li{float:left;padding:4rem 0 0 0;width:33%;text-align:center;font-size:.65rem;color:#ff7d5a}
.rankingList-box .rl-banner li:nth-child(2){padding:3.8rem 0 0 0;font-size:.8rem}
.rankingList-box .rl-banner li:nth-child(2) .rl-name{padding-left:.8rem;}
.rankingList-box .rl-banner li:nth-child(3) .rl-name{padding-left:.5rem;}
.rankingList-box .rl-banner li:nth-child(1) .rl-name{padding-left:.5rem;}
.rankingList-box .rl-banner li .rl-name{position:relative;width:3.6rem;display:inline-block;vertical-align:middle;text-overflow:ellipsis;overflow:hidden;white-space:nowrap}
.rankingList-box .rl-banner li .rl-name:after{position:absolute;top:0;left:0;content:"";width:.6rem;height:.8rem;background:url(/public/rebuildRes/image/mobile/home/icon_medals2.png?v=c25379fffd) no-repeat;background-size:100% 100%}
.rankingList-box .rl-banner li:nth-child(2) .rl-name:after{background:url(/public/rebuildRes/image/mobile/home/icon_medals.png?v=c25379fffd) no-repeat;background-size:100% 100%}
.rankingList-box .rl-banner li:nth-child(3) .rl-name:after{background:url(/public/rebuildRes/image/mobile/home/icon_medals3.png?v=c25379fffd) no-repeat;background-size:100% 100%}
.rankingList-box .rl-title{padding:0 .75rem;font-size:.75rem;color:#8b6d6d;line-height:3rem;border-bottom:.025rem solid #cdd3dc;overflow:hidden}
.rankingList-box .rl-title .rl-left{float:left}
.rankingList-box .rl-title .rl-left span{padding:0 .25rem;display:inline-block;vertical-align:middle}
.rankingList-box .rl-title .rl-left .rl-ranking{color:#ff7d5a}
.rankingList-box .rl-title .rl-left .rl-nameIco{display:inline-block;vertical-align:middle;width:.65rem;height:.675rem;background:url(/public/rebuildRes/image/mobile/home/icon_little-name.png?v=5b1ca5e4e5) no-repeat;background-size:100% 100%}
.rankingList-box .rl-title .rl-right{float:right}
.rankingList-box .rl-title .rl-right .see-btn{display:inline-block;vertical-align:middle;color:#fc6648}
.rankingList-box .rl-title .rl-right .see-btn .all{display:inline-block;vertical-align:middle;color:#fc6648}
.rankingList-box .rl-title .rl-right .see-btn .seeArrow{margin:0 0 0 .25rem;display:inline-block;vertical-align:middle;width:.45rem;height:.85rem;background:url(/public/rebuildRes/image/mobile/home/icon_arrow_right.png?v=c73404835e) no-repeat;background-size:100% 100%}
.rankingList-box .rl-name{width:3.75rem;text-overflow:ellipsis;overflow:hidden;white-space:nowrap}
.rankingList-box .downArr,.rankingList-box .lineArr,.rankingList-box .rl-Arrow{margin:0 0 0 .25rem;display:inline-block;vertical-align:middle;width:.225rem;height:.775rem;background:url(/public/rebuildRes/image/mobile/home/icon_rise.png?v=0c4bbc1b97) no-repeat;background-size:100% 100%}
.rankingList-box .downArr{background:url(/public/rebuildRes/image/mobile/home/icon_decline.png?v=8d52427727) no-repeat;background-size:100% 100%}
.rankingList-box .lineArr{width:.625rem;height:.05rem;background:url(/public/rebuildRes/image/mobile/home/icon_unchanged.png?v=ff0111e64a) no-repeat;background-size:100% 100%}
.rankingList-box .rl-table table{width:100%;font-size:.75rem;color:#50546d}
.rankingList-box .rl-table table tr{line-height:240%}
.rankingList-box .rl-table table tr span{display:inline-block;vertical-align:middle}
/*.rankingList-box .rl-table table tr .rl-num{padding-left:1rem}*/
.rankingList-box .rl-table table tr:nth-child(even){background-color:#f9f9fa}
.rankingList-box .rl-table table .rl-num{font-size:1.2rem;color:#ffba65}
.c-search{color:#ff7d5a;padding:.425rem 3rem .425rem 3rem;box-sizing:border-box;line-height:2.25rem;border-bottom:.05rem solid #cdd3dc;background:url(/public/rebuildRes/image/mobile/home/icon_magnifier.png?v=caf136c7a0) no-repeat 1.025rem 1.1375rem;background-size:1.2rem 1.2rem;position:relative}
.c-search>input{padding:.275rem .5rem;width:100%;box-sizing:border-box;outline:0;font-size:.75rem;display:inline-block;border:none;border-bottom:.05rem solid #ff7d5a}
.c-search>span{position:absolute;top:.425rem;right:.425rem;cursor:pointer}
.help-box .res-top{border-bottom:.025rem solid #cdd3dc}
.help-box .h-content{padding:.5rem .75rem .75rem 1.5rem}
.help-box .h-content p{padding:.25rem 0;font-size:.75rem;line-height:1.25rem}
.productActivity-box .pa-content{padding:.875rem 1rem;margin:.5rem 0;background-color: #fff;overflow:hidden;cursor:pointer}
.productActivity-box .pa-content .pa-list{color:#50546d}
.productActivity-box .pa-content .pa-list dt{float:left;width:3.75rem;height:3.75rem;border-radius:.2rem}
.productActivity-box .pa-content .pa-list dt img{width:100%}
.productActivity-box .pa-content .pa-list dd{position:relative;margin-left:4.5rem}
.productActivity-box .pa-content .pa-list dd .pa-title{font-size:.75rem;line-height:1.5rem}
.productActivity-box .pa-content .pa-list dd .pa-info{font-size:.65rem;line-height:1.25rem}
.productActivity-box .pa-content .pa-list dd .pa-time{font-size:.55rem;color:#cdd3dc}
.productActivity-box .pa-content .pa-list dd:after{position:absolute;right:0;top:50%;margin-top:-.25rem;content:"";width:.45rem;height:.85rem;background:url(/public/rebuildRes/image/mobile/home/icon_arrow_right.png?v=c73404835e) no-repeat;background-size:100% 100%}
.productDiffer .pa-content .pa-list dd:after{background: none;}
.homeText-box .res-top .ht-right{float:right;padding-right:.75rem;font-size:.9rem;color:#fc6648;cursor:pointer}
.homeText-box .ht-text{margin:.75rem}
.homeText-box .ht-text textarea{box-sizing:border-box;padding:.5rem;display:block;width:100%;height:6.5rem;color:#a2a4a8;font:.8rem "Microsoft YaHei";resize:none;outline:0;border-color:#cdd3dc}
.homeText-box .ht-text .ht-info{padding-left:.25rem;font-size:.65rem;color:#7f86ad;line-height:1.5rem}
.crmList-box .c-list{font-size:.5425rem;color:#50546d}
.crmList-box .c-list .name{font-size:.89rem}
.crmList-box .c-list p{margin:.35rem 0;font-size:.5425rem}
.crmList-box .c-list .inline-list {
    padding-top: .25rem;
}
.crmList-box .c-list .inline-list>div{text-align:center;font-size:.89rem}
.crmList-box .c-list .inline-list>div span{display:inline-block;vertical-align:middle;font-size:.55rem}
.crmList-box .c-list .inline-list .orange-color>p{color:#50546d}
.crmList-box .pro-tips{padding:.75rem 0 .25rem 1rem;font-size:.65rem;color:#7f86ad;border-bottom:.025rem solid #cdd3dc}
.crmList-box .pro-content{padding:.65rem 1rem 1rem 1rem;background-color:#f9f9fa}
.crmList-box .pro-content .pro-title{font-size:.65rem;color:#7f86ad}
.crmList-box .pro-content .pro-column .pro-tip{font-size:.75rem;color:#77595a}
.crmList-box .pro-up{padding:.2rem 1.025rem .7rem}
.crmList-box .pro-up .pro-right{float:right;padding-top:.25rem}
.crmList-box .pro-down{padding:.75rem;border-top:.025rem dashed #cdd3dc;border-bottom:.025rem solid #cdd3dc}
.crmList-box .pro-down .pro-info{font-size:.65rem;color:#50546d;line-height:1.375rem}
.crmList-box .pro-down .pro-show{max-height:3rem;font-size:.55rem;line-height:1rem;overflow : hidden;text-overflow: ellipsis;display: -webkit-box;display:-moz-box;-webkit-line-clamp: 3;-webkit-box-orient: vertical;-ms-box-orient: vertical;-moz-box-orient: vertical;-o-box-orient: vertical;}
.crmList-box .pro-down .pro-show span{color:#ff7d5a}
.crmList-box .pro-down .icon-box>i{margin:0;margin-right:.25rem}
.c-head{position:relative;text-align:center;font-size:1rem;line-height:2.5rem;height:2.5rem;padding-top:.425rem;color:#898c91;border-bottom:.05rem solid #cdd3dc}
.c-head>span,.c-head>a{height:100%;padding:0 .325rem}
.c-head .bell{position:absolute;top:.95rem;right:1rem;display:inline-block;vertical-align:middle;width:1.1rem;height:1.35rem;background:url(/public/rebuildRes/image/mobile/home/icon_news.png?v=da1e18d3c4) no-repeat;background-size:100% 100%;cursor:pointer}
.c-head .notice{position: absolute;top: .95rem;right: .9rem;display: inline-block;vertical-align: middle;width: .3rem;
    height: .3rem;
    background-color: #ff7d5a;
    border-radius:1rem;
    -webkit-border-radius:1rem;
    -moz-border-radius:1rem;}
.home-box .h-head{background-color:#fff;text-align: right; padding:.5rem .5rem 0;font-size:.65rem;color:#666;line-height:1}
.home-box .h-ico-2{margin:0 .25rem 0 0;display:inline-block;vertical-align:middle;width:.675rem;height:.575rem;background:url(/public/rebuildRes/image/mobile/home/icon_title_trend.png?v=3874518123) no-repeat;background-size:100% 100%}
.home-box .h-ico-2{width:.75rem;height:.675rem;background:url(/public/rebuildRes/image/mobile/home/icon_little_letter.png?v=bae96c71bc) no-repeat;background-size:100% 100%}
.h-inner-wrapper{padding:0 .5rem .75rem;background-color:#f9f9fa}
.h-inner-wrapper>*{background:#fff;}
.home-box .h-content .h-inner{overflow:hidden;background-color:#fff;border-radius:.25rem;-webkit-box-shadow:0 0 2px 10px #e9ecef;-moz-box-shadow:0 0 2px 10px #999;box-shadow:0 0 10px #e9ecef}
.home-box .h-content .h-list{position:relative;margin:0 .75rem;padding:.6rem 0;border-bottom:1px dashed #cdd3dc;overflow: hidden}
.home-box .h-content .h-list dt{float:left;width:3.25rem;height:3.25rem}
.home-box .h-content .h-list dd{margin-left:4rem}
.home-box .h-content .h-list dd .h-title{font-size:.75rem;color:#fc6648;line-height:1.25rem}
.home-box .h-content .h-list dd .h-info{font-size:.65rem;color:#50546d;line-height:1rem}
.home-box .h-content .h-list dd .h-tab{position:absolute;right:-.875rem;top:.625rem;width:3.275rem;height:1rem;line-height:.875rem;text-align:center;font-size:.55rem;color:#fff;background:url(/public/rebuildRes/image/mobile/home/labe.png?v=60a709bc1c) no-repeat;background-size:100% 100%}
.home-box .h-content .h-list:last-child{border:none}
.home-box .h-main .h-side{display:block;line-height:1.2rem;padding:.5rem 0;border-bottom:1px solid #cdd3dc;background-color:#fff;/*margin-top:0.375rem;*/}
.home-box .h-main .h-side p{padding-left:1rem;font-size:.75rem;color:#7f86ad}
.home-box .h-main .h-side>span{position:relative;padding-right:1.875rem;float:right;font-size:.75rem;color:#fc6648}
.home-box .h-main .h-side>span:after{position:absolute;right:1rem;top:50%;margin-top:-.375rem;content:"";width:.45rem;height:.85rem;background:url(/public/rebuildRes/image/mobile/home/icon_arrow_right.png?v=c73404835e) no-repeat;background-size:100% 100%}
.home-box .h-main .h-column {padding: 1.175rem 0;background: #fff;}
.home-box .h-main .h-column a{position:relative;flex-grow:1;}
.home-box .h-main .h-column a .img1,.home-box .h-main .h-column a .img2,.home-box .h-main .h-column div .img3,.home-box .h-main .h-column div .img4,.home-box .h-main .h-column div .img5,.home-box .h-main .h-column div .img6,.home-box .h-main .h-column div .img7{width:1.95rem;height:1.95rem;background:url(/public/rebuildRes/image/mobile/home/icon_clue.png?v=284419a315) no-repeat;background-size:100% 100%}
.home-box .h-main .h-column a .img2{background:url(/public/rebuildRes/image/mobile/home/icon_activity.png?v=b88f044fcf) no-repeat;background-size:100% 100%}
.img3{background:url(/public/rebuildRes/image/mobile/home/icon_effect.png?v=73217f8207) no-repeat;background-size:100% 100%}
.home-box .h-main .h-column a .img4{line-height:1.95rem;font-size:0.65rem;width:2.25rem;background:url(/public/rebuildRes/image/mobile/home/icon_leaderboard.png?v=0fbed8d6d6) no-repeat;background-size:100% 100%}
.home-box .h-main .h-column a:after{position:absolute;top:.5rem;right:0;content:"";width:.075rem;height:1.25rem;border-right:1px solid #cdd3dc}
.home-box .h-main .h-column a:last-child:after{border:none}
.home-box .h-main .h-column p{font-size:.55rem;color:#76797e;line-height:1rem;text-align:center;margin:0 auto;}
.analysis{background:url(/public/rebuildRes/image/mobile/home/analysis.png) no-repeat;background-size:100% 100%}
.applyProcess{width:1.95rem;height:1.95rem;background:url(/public/rebuildRes/image/mobile/res/applyProcess.png) no-repeat;background-size:100% 100%}
.changeClass{width:1.95rem;height:1.95rem;background:url(/public/rebuildRes/image/mobile/res/changeClass.png) no-repeat;background-size:100% 100%}
.icon_task_maintain{width:1.95rem;height:1.95rem;background:url(/public/rebuildRes/image/mobile/res/icon_task_maintain.png) no-repeat;background-size:100% 100%}
.shortNote{width:1.95rem;height:1.95rem;background:url(/public/rebuildRes/image/mobile/res/shortNote.png) no-repeat;background-size:100% 100%}
.examManage{width:1.95rem;height:1.95rem;background:url(/public/rebuildRes/image/mobile/res/examManage.png) no-repeat;background-size:100% 100%}
.home-box .h-main .h-column a .img6{background:url(/public/rebuildRes/image/mobile/home/function_box.png) no-repeat;background-size:100% 100%}
.teacherauth{background:url(/public/rebuildRes/image/mobile/home/teacherauth.png) no-repeat;background-size:100% 100%}
.customer{background:url(/public/rebuildRes/image/mobile/home/customer.png) no-repeat;background-size:100% 100%}
.ranking{background:url(/public/rebuildRes/image/mobile/home/icon-ranking.png) no-repeat;background-size:100% 100%}
[id$='Chart']>div{top:-1rem;}
.h-data {
    font-size: 0.65rem;
    color: #50546d;
    padding: 0.5rem 0;
}
.h-data>div>span{display:block;}
.h-data>div:not(:last-child):after{border-color:#ccc;}
#treadLineChart>div{top:0;}
.month {clear:both;padding: 0;height: 2rem;}
.month>a{float:right;margin-top:0.2rem;background-color:#ff977b;font-size:0.55rem;padding:0.25rem 0.5rem 0.325rem;color:#fff;}

.t-list>div{padding:.75rem 1rem;border-bottom:1px solid #cdd3dc;line-height:1rem;color:#50546d}
.t-list .name{font-size:.75rem;margin:.25rem 0;padding:.75rem 1rem;border-bottom:1px solid #cdd3dc;}
.t-list .name>var{font-style:normal;font-size:.55rem;color:#7f86ad;float:right}
.t-list .content{font-size:.65rem;color:#636880}
.t-list .teachers{font-size:.5425rem}
.t-list .see-detail{text-align:right}
.t-list .see-detail>a{font-size:.65rem;color:#7f86ad}

.icon-effect{background-image:url(/public/rebuildRes/image/mobile/home/icon_title_effect.png);margin: 0 .25rem 0 0;
    display: inline-block;
    vertical-align: middle;
    width: .65rem;
    height: .65rem;
    background-size: 100% 100%}
.hl-graph ul{padding:.875rem 0;margin:0 1rem;border-bottom:.025rem dashed #cdd3dc;overflow:hidden}
.hl-graph ul li{float:left;width:33.33%;text-align:center}
.hl-graph ul li .radial{margin:0 auto;width:4.5rem;text-align:center;position:relative}
.hl-graph ul li .radial canvas{width:4.5rem;color:#000}
.hl-graph ul li .radial .text{position:absolute;top:0;left:0;padding:1.675rem 0;width:4.5rem;text-align:center;font-size:.9rem;color:#383d51}
.hl-graph ul li .sub{font-size:.75rem;color:#ff7d5a;margin-top:-1.3rem}
.hl-graph ul li .sub.fontBlue{color:#1fa2ff}
.hl-graph ul li .num{font-size:.6rem;color:#636880}
.hl-graph ul.list-two{border-bottom:none}
.hl-graph ul.list-two li{width:50%}
.phegda-box{padding:0 .9rem;margin:.5rem;background:#fff;border:.075rem solid #fff;box-shadow:.025rem .1rem .25rem .05rem #eaecf0;border-radius:.2rem}
.phegda-list{position:relative;padding:.375rem 0;font-size:.7rem;color:#636880;border-bottom:.05rem dashed #cdd3dc}
.phegda-list .phe-title{overflow:hidden}
.phegda-list .phe-title p{padding:.5rem 0;float:left;width:25%;text-align:center}
.phegda-list .phe-content li{padding:.3rem 0;overflow:hidden}
.phegda-list .phe-content li div{float:left;width:25%;text-align:center}
.phegda-list.listTwo .phe-title p{width:34%}
.phegda-list.listTwo .phe-title p:first-child{width:25%}
.phegda-list.listTwo .phe-content li div{width:34%}
.phegda-list.listTwo .phe-content li div:first-child{width:25%}
.phegda-list:after,.phegda-list:before{position:absolute;left:-.95rem;bottom:-.175rem;content:'';width:.175rem;height:.35rem;background-repeat:no-repeat;background-size:100% 100%}
.phegda-list:before{left:auto;right:-.95rem;}
.phegda-list:last-child{border:none}
.phegda-list:last-child:after,.phegda-list:last-child:before{background:0 0}

