/*reset*/
body,html,input {font: 14px/1.125 "微软雅黑","Microsoft Yahei", "\5FAE\8F6F\96C5\9ED1", Arial, "黑体" }
body,dd,dl,dt,h1,h2,h3,h4,h5, h6,html,input,li,ol,p,ul {margin: 0;padding: 0 }
body,html {width: 100%;}
li,ul {list-style: none}
a, input, textarea {outline: 0}
a {text-decoration: none}
/*save-elvenking*/
.save-elvenking{ width: 854px; height: auto;}
.save-elvenking .sek-box01{ width: 100%;}
.save-elvenking .sek-box01 .bg01{ width: 100%; height: 307px; background: url(images/walkerelf-m01_01.jpg) center top no-repeat;}
.save-elvenking .sek-box01 .bg02{ width: 100%; height: 211px; background: url(images/walkerelf-m01_02.jpg) center top no-repeat;}
.save-elvenking .sek-box01 .bg03{ width: 100%; height: 367px; background: url(images/walkerelf-m01_03.jpg) center top no-repeat;}
.save-elvenking .sek-box02{ width: 100%;}
.save-elvenking .sek-box02 .bg01{ width: 100%; height: 248px; background: url(images/walkerelf-m02_01.jpg) center top no-repeat;}
.save-elvenking .sek-box02 .bg02{ width: 100%; height: 290px; background: url(images/walkerelf-m02_02.jpg) center top no-repeat;}
.save-elvenking .sek-box03{ width: 100%;}
.save-elvenking .sek-box03 .bg01{ width: 100%; height: 261px; background: url(images/walkerelf-m03_01.jpg) center top no-repeat;}
.save-elvenking .sek-box03 .bg02{ width: 100%; height: 371px; background: url(images/walkerelf-m03_02.jpg) center top no-repeat;}
.save-elvenking .sek-box03 .bg03{ width: 100%; height: 288px; background: url(images/walkerelf-m03_03.jpg) center top no-repeat;}
.save-elvenking .sek-box03 .bg04{ width: 100%; height: 241px; background: url(images/walkerelf-m03_04.jpg) center top no-repeat;}
.save-elvenking .sek-box04{ width: 100%;}
.save-elvenking .sek-box04 .bg01{ width: 100%; height: 291px; background: url(images/walkerelf-m04_01.jpg) center top no-repeat;}
.save-elvenking .sek-box04 .bg02{ width: 100%; height: 279px; background: url(images/walkerelf-m04_02.jpg) center top no-repeat;}
.save-elvenking .sek-box04 .bg03{ width: 100%; height: 352px; background: url(images/walkerelf-m04_03.jpg) center top no-repeat;}