html, body{ width: 100%; font:12px/1.125 Arial, Helvetica, sans-serif;}
html, body, ul, ol, li, h1, h2, h3, h4, h5, h6, p ,dl, dt, dd{ margin: 0; padding: 0; }
body { background-color: #fafafa; }
ul, ol, li { list-style: none; }
input, select, textarea{ font: 12px/1.125 Arial, Helvetica, sans-serif;}
textarea{ outline:none; resize:none;}
p { line-height: 22px; }
a { outline: none; cursor:pointer;}
img{ vertical-align:middle; border:none;}
/*header*/
.header .menu, .section { width: 960px; margin: 0 auto; }
.header, .header .menu ,.header .logo a, .header .nav li a:hover, .header .nav li.active a, .header .navSet .btn_prize,.header .navSet li a:hover { background: url(../images/headerBack.png) repeat-x 0 -162px;}
.header, .header .menu{ height:52px;}
.header{ position:relative; z-index:2;}
.header .logo { float: left; width: 206px; height: 48px; position: relative;}
.header .logo a { background-position:0 -104px; background-repeat:no-repeat; width: 206px; height: 52px; display: block; position: absolute; top: 0; left: 0;}
.header .logoback{ background:url(../images/sideBack.png) no-repeat 0 48px;}
.header .logoTheHoliday a{ background:url(../images/s_logo_61.png) no-repeat 0 0;}
.header .nav, .header .nav li, .header .navSet li { float: left; }
.header .nav{ margin-left:-2px;}
.header .nav li { text-align: center; width: 100px; }
.header .nav li a { display: block; height: 46px; font: bold 14px/46px "微软雅黑", "Microsoft YaHei", Arial, "黑体"; color: #fff; cursor: pointer; }
.header .nav li a i { margin: 0 3px 0 0; }
.header .nav li a span { vertical-align: middle; display: inline-block; }
.header .nav li a:hover { background-position: 0 -48px; }
.header .nav li.active a { background-position: 0 0 !important; }
.header .navSet { float: right; }
.header .navSet li { padding: 10px 0 0; position: relative;}
.header .navSet li a{ display: block; color: #fff;}
.header .navSet li a:hover{ border-radius: 4px; background-position: -136px -235px; background-repeat: no-repeat;}
.header .navSet li a .text{ color: #e1feb2;}
.header .navSet li a:hover .text{ color: #fff;}
.header .navSet li a i { margin: 8px 12px; }
.header .navSet li .popupBox { display: none; }
.header .navSet li a .popinfo{position:absolute; right:8px; top:16px; margin:0;}
.header .navSet li.active a { display: inline-block; background: #fff !important; border-radius: 5px 5px 0 0; height: 38px; color:#7dc738; }
.header .navSet li.active .popupBox { border: solid #666; display: block; border-width: 0 1px 1px; font: 12px/1.125 arial; width: 210px; position: absolute; top: 48px; right: -1px; background: #fff; border-radius: 0 0 5px 5px; box-shadow: 2px 2px 2px #aaa; overflow: hidden; }
.header .navSet li.active .popupBox p { border-bottom: 1px solid #ccc; padding: 10px;}
.header .navSet li.active .popupBox .info { display: inline-block; width: 100px; text-align:right; padding: 0 20px 0 0; white-space:nowrap;}
.header .navSet li.active .popupBox a { height: auto; color: #7dc738;}
.header .navSet li.active .popupBox_large{ width:140px; text-align:center;}
.header .navSet .btn_prize { background-position: 0 -237px; width: 105px; height: 31px; display: inline-block; margin-right:8px;}
.header .navSet .btn_prize:hover { background-position: 0 -268px; }
.header .navSet .btn_prize:active { background-position: 0 -299px; }
.header .navSet .btn_invite{ padding:0;}
.header .navSet .btn_invite a{ background:url(../images/inviteBtn.png) no-repeat 0 0; width:125px; height:46px; display: inline-block;}
.header .navSet .btn_invite a:hover { background:url(../images/inviteBtn.png) no-repeat 0 -46px; }
/*footer*/
.footer { border-top: 3px solid #636870; background-color: #fafafa; clear: both; }
.footer .nav { border-bottom: 1px solid #ddd; }
.footer .nav ul { width: 960px; margin: 0 auto; }
.footer .nav ul li, .footer .nav ul li a { color: #636870; }
.footer .nav ul li { float: left; font: bold 12px/1.125 arial; }
.footer .nav ul li a { margin: 10px 15px; display: inline-block; vertical-align:middle;}
.footer .nav ul li a:hover { color: #690; }
.footer .nav ul li .line { font-weight: normal; color: #dbdbdb; display:inline-block; vertical-align:middle;}
.footer .nav ul li.service { float: right; padding: 4px 15px; line-height: 22px;}
.footer .nav ul li.service span { color: #5c8afe; }
.footer .copyright { clear: both; padding: 20px 0; }
.footer .copyright p { text-align: center; color: #b1b5bb; font-size: 12px; font-family: Arial, Helvetica, sans-serif; }
/*section*/
.section { clear: both; overflow:hidden;}
.section .navSide ,.sectionSideBack{ background: url(../images/sideBack.png) repeat-y  -214px 0; }
.section .navSide { width: 206px; float: left;}
.navSide .userInfo { padding: 20px 0 20px 20px; margin: 0; }
.navSide .userInfo dt { float: left; background: url(../images/avatarBack.png) no-repeat; position:relative; width: 70px; height: 76px; }
.navSide .userInfo dt img { width: 60px; height: 60px; margin: 5px 0 0 5px; }
.navSide .userInfo dt .vip{ background:url(../images/vip.png) no-repeat; _background:url(../images/vip_8.png) no-repeat; height:26px; width:29px; display:block; right:-8px; bottom:2px; position:absolute;}
.navSide .userInfo dd { margin: 0 0 0 80px; font: 12px/1.125 arial; }
.navSide .userInfo dd p { padding: 0 0 2px; }
.navSide .userInfo dd p.username .name { display: inline-block; margin: 0 5px 0 0;}
.navSide .userInfo dd p.userid { color: #999; font-size: 11px; }
.navSide .schoolName { color: #666; font: 12px/20px arial; border: solid #e1e1e1; border-width: 1px 0; padding: 6px 20px; margin: -1px 1px 0 0; }
/*original*/
.switchBox li { display: none; }
.switchBox .tab { font: 12px/20px arial; padding: 8px 0; text-align: center; }
.switchBox .tab .prve { border-radius: 10px 10px 10px 10px; color: #666; cursor: pointer; display: inline-block; height: 20px; margin: 0 2px; overflow: hidden; width: 20px; background-color: #ddd; }
.switchBox .tab .even { background-color: #999; }
.switchBox .back, .switchBox .next { border-radius: 5px 5px 5px 5px; cursor: pointer; display: inline-block; font: 1px/0px arial; margin-top: -22px; padding: 6px; }
.switchBox .back { float: left; }
.switchBox .next { float: right; }
/*original fix*/
.navSide .switchBox { width: 204px; padding: 20px 0 0; overflow: hidden; }
.navSide .switchBox li { height: 215px; }
.navSide .switchBox li img { width: 204px; height: 215px; vertical-align: middle; border: none; }
.navSide .switchBox .tab { font: 0px/0px arial; }
.navSide .switchBox .tab .prve { width: 8px; height: 8px; }
/*attenMe*/
.navSide .attenMe { clear: both; padding: 60px 0 100px; text-align: center; position: relative; }
.navSide .attenMe h4 { font-size: 12px; color: #333; padding: 0 0 10px; }
.navSide .attenMe ul{background: url(../images/app.png) no-repeat; width: 160px; height: 32px; margin: 0 auto; }
.navSide .attenMe li { float: left; }
.navSide .attenMe li a { display: inline-block; width: 32px; height: 32px; }
.navSide .attenMe li.qq{ position: relative;}
.navSide .attenMe .qqh{ position:absolute; z-index: 11; background:url(../images/sns_footer.png) no-repeat 0 0px; width:100px; height:61px; bottom:38px; left:-34px;overflow: hidden;}
.navSide .attenMe .qqh p{ color:#405c71; font:11px/1.125 arial; padding:8px 0 0 18px;}
.navSide .attenMe .qqh p.s{ padding-top:14px;}
/*articleSide*/
.section .articleSide { width: 730px; float: right; padding: 20px 0 0; }
.articleSide .breadcrumb_vox{ margin-top:0; padding-top:0;}
.generalTitle { border-bottom: 2px solid #e2e3e3; height: 20px; padding: 0 0 5px; margin-bottom:10px;}
.generalTitle h1 { font: 12px/1.125 arial; color: #9297a0; float: left; }
.generalTitle h1 strong { display: inline-block; margin: 0 10px; font-size: 14px; vertical-align: middle; }
.generalTitle .enter { float: right; font: 12px/20px arial; padding: 0 0 1px; }
/*flash_stop_show_css*/
.flashStopShow {background:url(../images/flash_stop_pop.png) no-repeat center center; position: absolute; z-index: 996;  width: 531px; height: 364px; left: 50%;top: 80px; margin-left: -265px;}
/*afenti_pk*/
.afentiPk {background:url(../images/afenti_pk.png) no-repeat center center; position: absolute; z-index: 996;  width: 100%; height: 100%; left: 0;top: 0;}
