html, body{ background-color: #fff;}
.btn-orange{ background-color: #fedc09; border: 1px solid #dc9600; color: #895d00;  border-radius: 5px; padding: 5px; width: 70px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; display: inline-block;text-align: center; vertical-align: middle;}
.btn-orange:hover{ color: #895d00; background-color: #fef04a;}
.btn-orange:active{ background-color: #fece04;}
.btn_disable, .btn_disable:hover, .btn_disable:active{ cursor: default; background: #eee; color: #999!important; box-shadow: none; border: 1px solid #ccc; text-shadow: none;}
/*login-box*/
.login-box{ background-color:#f86639; width: 336px; height: 273px; float: right; margin: 0;}
.login-box .step{ margin: 0 0 0 12px; font-size: 12px;}
.login-box .step h5{ font-size: 14px; color: #fff; padding: 5px 0 10px; text-align: center; margin-top: 10px;}
.login-box .step h5 strong{ color: #fcfa00; font-size: 18px;}
.login-box .int{ background-color: #fff; border: none; border-radius: 6px; padding: 5px; font-size: 12px; width: 150px; vertical-align: middle; outline: none; }
.login-box h3.zk-title{ background: url("zk-form-title.png") no-repeat 0 0; height: 58px; margin-left: -12px;}
.login-box .step h3 span {font-size: 22px; display: block; color:#12618a; line-height: 170%;}
.login-box .step-1 dl{ clear: both; margin: 20px 0 0}
.login-box .step-1 dt{  width: 40px; text-align: right; line-height: 30px; float: left; color: #fff}
.login-box .step-1 dd{  height: 50px; margin: 0 0 0 45px; _margin: 0; }
.login-box .step-1 dd .init{ color: #834318;}
.login-box .step-1 dd .event-edit{ color: #fde921; display: inline-block; vertical-align: middle;}
.login-box .step-1 dd .event-edit a{ color: #30c3ff}
.login-box .check-box{ background: url(check-box.png) no-repeat 0 -25px; cursor: pointer; }
.login-box .check-box-active{ background-position: 0 0;}
.login-box .list {}
.login-box .list li{ line-height: 16px; padding-bottom: 10px; color: #fff; padding-left: 24px;}
.login-box .list li strong{ font-size: 14px; color: #fcfa00;}
.login-box .btn-box{ margin-top: 7px;}
.login-box .btn-box a{ background-color: #ffc000; border-bottom: 4px solid #bb7200; border-radius: 6px; display: block; margin: 0 20px; text-align: center; padding: 12px 0; font-size: 20px; color: #fff;}
.login-box .btn-box a:hover{ background-color: #ffd800; border-bottom-color: #bb8d00;}
.login-box .btn-box a:active{ background-color: #ffc300; border-bottom-color: #bb8d00;}
.login-box .mobile-box{ display: inline-block; *display: inline; *zoom: 1; position: relative; }
.login-box .mobile-box .mobile-arrow{ background: url(select-al.png) no-repeat; position: absolute; right: 2px; top: 2px; width: 21px ;height: 20px; display: block; cursor: pointer;}
.login-box .mobile-box ul{ position: absolute; top: 24px; z-index: 5; left: 0; padding-top: 2px; width: 160px; display: none;}
.login-box .mobile-box ul li{ background-color: #cfe7ff; border: none; border-radius: 6px; padding: 5px; font-size: 12px; color: #828282; cursor: pointer; margin-bottom: 2px; }
.login-box .step-2 h1{ background: url(text-back.png) no-repeat center 0; height: 81px; margin: 20px 0 15px;}
.login-box .step-2 h4{ font-size: 20px; color: #fff; margin: 0 0 20px; text-align: center;}
.login-box .code-box{ background: url(code-back.png) no-repeat; width: 273px ;height: 58px; text-align: center; line-height: 58px;white-space: nowrap; font-size: 20px; color: #64381e; margin: 0 auto 15px;}
/*popup-box*/
.popup-box-1, .popup-box-1 .p-btn a{ background: url(popup-1.png) no-repeat 5000px 5000px; overflow: hidden;}
.popup-box-1{ background-position: 0 0; height: 550px; width: 764px;  position: relative;}
.popup-box-1 .p-btn{ margin: 455px 0 0;}
.popup-box-1 .p-btn a{ display: block; margin: 0 auto; width: 144px ; height: 52px; text-indent: -500px;}
.popup-box-1 .p-btn a:hover{ background-position: -314px -585px;}
.popup-box-1 .p-btn a:active{ background-position: -486px -585px;}
.popup-box-2, .popup-box-2 .p-btn a{ background: url(popup-2.png) no-repeat 5000px 5000px; overflow: hidden;}
.popup-box-2{ background-position: 0 0; height: 467px; width: 714px;  position: relative;}
.popup-box-2 .p-btn{ margin: 362px 0 0 183px; text-align: center;}
.popup-box-2 .p-btn a{ display: inline-block; margin: 0 auto; width: 144px ; height: 52px; text-indent: -500px; float: left;}
.popup-box-2 .p-btn a:hover{ background-position: -195px -495px;}
.popup-box-2 .p-btn a:active{ background-position: -195px -563px;}
.popup-box-2 .p-btn a.m-2{ margin: 0 0 0 60px;}
.popup-box-2 .p-btn .m-2:hover{ background-position: -351px -495px;}
.popup-box-2 .p-btn .m-2:active{ background-position: -351px -563px;}
.promptclose-skin{ position: absolute; width: 40px ;height: 40px; right: 10px; top: 10px; cursor: pointer;}
/*main*/
.main{ padding-bottom: 54px;}
.header { }
.header .inner{ width: 1000px; margin: 0 auto; height: 60px; }
.header .logo{ background: url(zk-logo.png) no-repeat; width: 153px; height: 38px; float: left; margin-top: 11px;}
.header .tel{ float: right; color: #6f6f6f; font-size: 22px; margin-top: 10px;}
.header .tel p{ line-height: 38px;}
/*section*/
.section .s-1{ background-color: #dadada; }
.section .s-1 .inner-one, .section .s-1 .inner-two{ background: url(starbooks_2.jpg) no-repeat center 0; height: 273px;}
.section .s-1 .inner-two{ width: 1000px; margin: 0 auto;}
.section .s-1 .fixed-box{ float: right;}
.section .s-2{ width: 1000px; margin: 0 auto; background: url(starbooks_3.jpg) no-repeat; height: 383px; }
.section .s-3{ background: url(starbooks_4.jpg) repeat-x ;height: 510px; width: 1000px; margin: 0 auto;}
