/**/
.tabbox { padding:6px; background:#eaf3ff; border:solid 1px #3580dd; border-radius:6px; overflow:hidden; clear:both; margin:0 0 10px;}
.tabbox .tabLevel{ background:#fff; border-radius:6px; padding:20px 10px;}
.tabbox table{ border-collapse:collapse; width:95%; margin:0 auto; clear:both;}
.tabbox table td,.tabbox table th,.tabbox table thead tr.thtitle th{ font-size:14px; padding:10px; line-height:140%; word-break:break-all; word-wrap:break-word; color:#666;  background:#fff; border-top:4px solid #eaf3ff;}
.tabbox table thead td,.tabbox table thead th { background:#eaf3ff; color:#666; font-weight:bold; padding:5px 8px; font-size:12px; white-space:nowrap;}
.tabbox table a{ color:#333;}
.tabbox table thead tr.thtitle th{ color:#39f;}
.tabbox table select{ padding:5px; border:solid 1px #ccc; font:bold 14px/1.125 arial; color:#666; }
.tabbox .table_vox_bordered td, .tabbox .table_vox_bordered th{ border: 1px solid #ddd;}
/*payMainBox*/
.payMainBox{ clear:both; margin: 0 auto;}
.payMainBox .payStep { padding: 20px 0; text-align:center; clear:both;}
.payMainBox .payStep span{ display:inline-block; width:427px; height:40px;}
.payMainBox .payStep .s1{ background-position: 0 0;}
.payMainBox .payStep .s2{ background-position: 0 -61px;}
.payMainBox .payStep .s3{ background-position: 0 -123px;}
.payMainBox .payStep .s4{ background-position: 0 -184px;}
.payMainBox .payBtn{ clear:both; text-align:right; height:50px; padding:15px 0; }
.payMainBox .payTextart { color:#666; padding:10px 0;}
.payMainBox .payTextart p{line-height:20px; padding: 0 20px;}
.bank-box{ padding:0; overflow: hidden; zoom:1;}
.bank-box h1{ border-bottom: solid 1px #ccc; padding-bottom:10px; margin-bottom:10px; font-size:12px; color:#666;}
.bank-list { overflow: hidden; }
.bank-list li { float: left; width: 140px; padding:0 10px 10px 0; }
.bank-list li input{ margin-right:5px;}
.bank-list li label{ display: block; border: 1px solid #ddd; padding: 4px; cursor: pointer;}
.bank-list li.active label{ border: 2px solid #ff7d00; padding: 3px; background: url(../images/tickn.png) no-repeat right bottom #fff;}
.icon-info { background-color: #D2EEF7; border-style: solid solid solid none; border-width: 1px 1px 1px medium; font-weight: normal; height: 30px; line-height: 15px; padding: 0 3px; top: -1px; font: 12px/1.5 tahoma, arial, 宋体; }
.icon-bank { background: url(../images/paybank/bankicon.png) no-repeat #fff; display: inline-block; height: 30px; width: 120px; vertical-align: middle;  }
.ICBCB2C { background-position: 0 -40px; }
.CMB { background-position: 0 -80px; }
.CCB { background-position: 0 -320px; }
.BOCB2C { background-position: 0 -520px; }
.ABC { background-position: 0 -480px; }
.COMM { background-position: 0 -600px; }
.PSBC-DEBIT { background-position: 0 -400px; }
.CEBBANK { background-position: 0 -440px; }
.SPDB { background-position: 0 -360px; }
.GDB { background-position: 0 -280px; }
.CITIC { background-position: 0 -200px; }
.CIB { background-position: 0 -3365px; }
.SDB { background-position: 0 -240px; }
.CMBC { background-position: 0 -120px; }
.HZCBB2C { background-position: 0 -760px; }
.SHBANK { background-position: 0 -840px; }
.BJRCB { background-position: 0 -2640px; }
.SPABANK { background-position: 0 -1880px; }
.FDB { background-position: 0 -1320px; }
.NBBANK { background-position: 0 -1240px; }
.BJBANK { background-position: 0 -3240px; }
.WZCBB2C-DEBIT { background-position: 0 -1720px; }
.ICBCBTB { background-image: url(../images/paybank/ENV_ICBC_OUT.gif); background-position: 5px 5px;}
.CCBBTB { background-image: url(../images/paybank/ENV_CCB_OUT.gif); background-position: 5px 5px;}
.ABCBTB { background-image: url(../images/paybank/ENV_ABC_OUT.gif); background-position: 5px 5px;}
.SPDBB2B { background-image: url(../images/paybank/ENV_SPDB_OUT.gif); background-position: 5px 5px;}
.ALIPAY { background: url(../images/paybank/alipay.gif) no-repeat #FFF; }
.UMPAY { background: url(../images/paybank/UMPAY.gif) no-repeat #FFF; }
.CHINAUNICOM { background: url(../images/paybank/CHINAUNICOM.gif) no-repeat #FFF; }
.TELECOM { background: url(../images/paybank/TELECOM.gif) no-repeat #FFF; }
.chinaMobileBox{ width: auto !important;}
.chinaMobileBox .mobileLab{ display: inline-block; padding:  0 10px; color: #333;}
.chinaMobileBox .mobileLab input{ border:1px solid #ccc; padding: 7px; border-radius: 2px; color: #666;}
/*pay_open---------------------------20140512---*/
.pay_link_open{ margin: 82px auto; overflow: hidden; width: 600px;}
.pay_link_open dt{ float: left;}
.pay_link_open dl{ overflow: hidden;}
.pay_link_open dl dd{ font-family: "微软雅黑" regular; margin-left: 84px; font-size: 16px; line-height: 24px; width: 510px; font-weight: bold; padding-top: 6px;}
/*pay_info*/
.pay_link_info{ margin: 20px;}
.pay_link_info dl dt{ float: left; position: relative;}
.pay_link_info dl p.img{ width: 68px; height: 68px; padding: 4px; border: 1px solid #CCCCCC;}
.pay_link_info dl dd{ margin-left:95px;}
.pay_link_info dl dd.pay_link_info_box{ border: 1px solid #CCCCCC; border-radius: 4px; position: relative;}
.pay_link_info dl dd.pay_link_info_box h2{text-shadow: 0 0 0 1px #b8b8b8 inset; padding: 10px 15px;  line-height: 20px; font-size:14px;font-family: "微软雅黑" regular; }
.pay_link_info dl dd.pay_link_info_box h2 strong{ font-size: 12px;}
.pay_link_info dl dd.pay_link_info_box .down dl{ overflow: hidden;}
.pay_link_info dl dd.pay_link_info_box .down{ padding: 15px; background-color: #f7f7f7;}
.pay_link_info dl dd.pay_link_info_box .down p.img{ width: 128px; height: 108px;}
.pay_link_info dl dd.pay_link_info_box .down dd{ margin-left: 150px; font-size: 12px; color: #666666; line-height:28px; font-family: "微软雅黑" regular;}
.pay_link_info dl dd .font-info{ font-size: 12px;  font-family: "宋体"; color: #666666; margin: 20px 0 40px 0;}
.pay_link_info dl dd .font-info input{ border: 1px solid #CCCCCC; width: 135px; height: 25px; vertical-align: middle; margin: 0 8px; outline: none; padding: 0 5px;}
.pay_link_info dl .pay_link_info_box .arrow{ background: url("../images/pay-arrow.png") no-repeat; width: 11px; height: 10px; position: absolute; top: 15px; left: -11px; display: block;}
/*pay_way*/
.pay_link_way{ margin: 24px auto;width: 800px; overflow: hidden;}
.pay_link_way ul li.pay_link_way_top{ padding-top: 20px;}
.pay_link_way ul li{ float: left; margin-right: 20px;}
.pay_link_way ul li dl dt{ float: left;}
.pay_link_way .icons, .pay_link_detail .icons{ background: url("../images/pay-way.png") no-repeat 2000px 2000px; display: inline-block;}
.pay_link_way .icons_1{ width: 59px; height: 54px; background-position:0 0; }
.pay_link_way .icons_2{ width: 57px; height: 18px; background-position:0 -73px; }
.pay_link_way .icons_3{ width: 56px; height: 61px; background-position:-66px 0; }
.pay_link_detail .icons_4{ width: 96px; height: 100px; background-position:-137px 0; }
.pay_link_way ul li dl dd{ margin-left: 75px; font-size: 14px; font-family: "微软雅黑" regular; line-height: 26px;}
.pay_link_way ul li dl dd h4{ font-size:14px; }
.pay_link_way ul li dl dd p{ color: #808080;}
/*pay_detail*/
.pay_link_detail{ margin: 43px 70px 40px 70px;}
.pay_link_detail dl dt{ float: left;}
.pay_link_detail dl dd{ margin-left: 116px;}
.pay_link_detail dl dd h3{ height: 30px; font-size: 14px; }
.pay_link_detail dl dd p.title{ border: 1px solid #CCCCCC; padding: 5px; line-height: 25px; margin-bottom: 25px;}
.pay_link_detail dl dd p.get_link{ margin-bottom: 40px;}
.pay_link_link_detail p.foot{ text-align: center; padding-top: 30px; border-top: 1px solid #CCCCCC;}
#copy_info_url{ border: none; outline: none; background: none; resize: none; width: 98%;height: 75px; overflow: hidden; line-height: 24px;}
/*agentMobileBox*/
.agentMobileBox{}
.agentMobileBox dl{ overflow: hidden; height: 100%;}
.agentMobileBox dt{ float: left; width: 250px; padding: 35px 0;}
.agentMobileBox dt .mobile_icon{ width: 45px; height: 72px; background: url(../images/mobile.png) no-repeat; margin: 0 auto;}
.agentMobileBox dt p{ color: #999; line-height: 20px; text-align: center;}
.agentMobileBox dd{ margin-left: 255px; padding-top: 50px;}
.agentMobileBox dd .info{ font-size: 14px; margin-bottom: 20px;}
.agentMobileBox dd .info span{ color: #666;}
.agentMobileBox dd .int_box { margin-bottom: 5px;}
.agentMobileBox dd .submitGreenBtn{ background: url(../images/submitGreenBtn.png) no-repeat; width: 118px; height: 42px; text-align: center; color: #fff; font: bold 14px/42px ""; display: inline-block; vertical-align: middle; margin-left: 20px;}
.agentMobileBox .int_box input{ padding: 12px 10px; width: 200px; border: 1px solid #ccc; border-radius: 5px; color: #333; font-size: 14px; outline: none; box-shadow: 1px 1px 2px #ddd inset; vertical-align: middle;}
.agentMobileBox .init .error, .agentMobileBox .init .success{ background: url("../images/errorSuccess.png") no-repeat 0 4px; display: block; vertical-align: middle; margin-right: 5px; color: #cc0000; padding: 5px 0 5px 20px;}
.agentMobileBox .init .success{ background-position: 0 -25px; color: #41a200;}
.agentMobileBox h1.title{ background: url(../images/title_back.png) no-repeat; width: 154px; height: 39px; font: bold 16px/36px ""; padding: 0; margin: 0; color: #589de2; text-align: center; position: absolute; top: -36px;left: -1px;}
.agentMobileBox ul{ margin-top: 30px;}
.agentMobileBox li .title_name{ font: 14px/42px ""; color: #666; display: inline-block; float: left; text-align: right; padding-right: 10px; width: 180px; }
.agentMobileBox li p, .agentMobileBox li.btn{ margin-left: 200px;}
.agentMobileBox .agentLoginInfo{ color: #999; line-height: 24px; border: 1px dashed #ddd; background-color: #f8f8f8; padding: 10px; margin-top: 30px;}
.agentMobileBox .agentLoginInfo p{ padding-left: 20px;}
/*send_main_pay*/
.send_main_pay{}
.send_main_pay p{ margin: 12px 0 12px 10px;}
.send_main_pay p.p_1{ color: #3778f0; font-weight: bold; cursor: pointer;}
.send_main_pay p span{ color: #3778f0; }
.send_main_pay p i.arrow{ background: url("../images/send_arrow.png") no-repeat 300px 300px; display: inline-block; margin-right: 5px;}
.send_main_pay p i.arrow_down{background-position: -5px -9px; width: 10px; height: 11px;}
.send_main_pay p i.arrow_up{ background-position: -3px 4px; }
.send_main_pay p i.arrow_more{background-position: -3px -22px; width: 10px; height: 8px; margin-left: 5px;}
.send_info_message{ line-height: 25px; font-size: 12px; border: 1px solid #cccccc; padding:5px 15px; color: #666; width: 540px;}
.public_send_btn{ background:url("../images/success_bg_btn.png") repeat-x 5000px 5000px; display: inline-block; height: 40px; border-radius: 3px; line-height: 40px; padding: 0 30px; color: #fff; font-weight: bold;}
.public_send_btn:hover{ color: #fff;}
.public_well_btn{ padding:0 45px;}
.public_nomal_btn{padding:0 60px;}
.public_blue_btn{ background-position:0 -42px; border: 1px solid #007090;  }
.public_blue_btn:hover{ background-position: 0 -209px;}
.public_blue_btn:active{ background-position: 0 -377px;}
.public_orange_btn{ background-position:0 -126px;border: 1px solid #007090;  }
.public_orange_btn:hover{ background-position: 0 -293px;}
.public_orange_btn:active{ background-position: 0 -461px;}
.public_green_btn{ background-position:0 0; border: 1px solid #007090;  }
.public_green_btn:hover{ background-position: 0 -167px;}
.public_green_btn:active{ background-position: 0 -335px;}
.public_gray_btn{ background-position:0 -84px;   border: 1px solid #007090;  }
.public_gray_btn:hover{ background-position: 0 -251px;}
.public_gray_btn:active{ background-position: 0 -419px;}
/*payTypeBox*/
.switchMenuPopUp{ float: left; width: 156px;}
.switchMenuPopUp b{ font: bold 14px/1.125 arial; color:#666; margin-left:-20px; display:inline-block; vertical-align:middle;}
.switchMenuPopUp span{ float: left; padding:15px 0 15px 30px; position:relative;  width: 125px; color:#666; background:#fff; border:solid #c5d9f2 1px; border-right: none; border-radius:4px 0 0 4px; cursor:pointer; margin: 0 0 5px; font: bold 14px/1.125 arial; clear: both;}
.switchMenuPopUp span.sel{ background-color:#eaf3ff; right:-1px; border-color: #39f; color:#333; font-weight:bold; cursor:default; }
.switchMenuPopUp span i{ background: url(/public/skin/studentv3/images/recharge-icon.gif) no-repeat; width: 32px; height: 19px; display: block; position: absolute; right: 10px; top: 10px;}
.payTypeBox{ background-color: #fff; padding: 40px 0 ;}
.payTypeBox dl{ clear: both;}
.payTypeBox dt{ width: 150px; float: left; font: bold 14px/1.125 arial; color: #666; height: 30px; text-align: right; padding: 0; line-height: 42px;}
.payTypeBox dd{ margin-left: 160px; padding: 0 0 20px; }
.payTypeBox dd .lineHeight{ line-height: 45px;}
.payTypeBox dd .price{ color: #333;}
.payTypeBox dd .price span{ font: bold 24px/1.125 arial;}
.payTypeBox dd .price strong{ font-size: 14px; color: #666;}
.payTypeBox dd .int{ border:solid 1px #e6e6e6; padding:11px; width:250px; vertical-align:middle; outline: none; background-color: #fbfbfb; font-size: 14px; font-weight: bold; color: #333; height: 18px; margin-bottom: 10px;}
.payTypeBox dd .int:focus{ border-color: #6496b9; background-color: #fff;}
.payTypeBox dd .int_dis{ border-color: #e6e6e6;}
.payTypeBox .info{ background-color: #fef6c7; color: #3a3a3a; border: 1px solid #f3b4a2; padding: 15px; margin-right: 30px;}
.payTypeBox .info a{ color: #e20000; display: inline-block; margin: 0 10px; font-weight: bold;}
.payTypeBox .info p{ color: #333; line-height: 22px;}
.payTypeBox .info strong{ color: #F00;}
.payTypeBox .priceBox{}
.payTypeBox .priceBox a{ background-color: #f2fafd; border: 1px solid #cce1ec; padding: 5px 0; display: inline-block; text-align: center; width: 80px; margin-bottom: 5px;}
.payTypeBox .priceBox a span{ font-size: 24px; line-height: 1.125; color: #333; display: inline-block ; margin-right: 5px; }
.payTypeBox .priceBox a strong{ font-size: 12px; color: #666; }
.payTypeBox .priceBox a:hover{ background-color: #edfff1; border-color: #b8e4c1;}
.payTypeBox .priceBox a.active{ border: 2px solid #ff7d00; padding: 4px 0; width: 78px; background: url(../images/tickn.png) no-repeat right bottom #fff;}
.payTypeBox .priceBox .actualMoney{padding: 20px 0 10px; color: #666;}
.payTypeBox .priceBox .actualMoney strong{ color: #f00; margin: 0 2px;}
.payTypeBox .priceBox .actualMoney .v-small{display: none; color: #f00;}
.payTypeTitleBox { clear: both; border-bottom: 1px solid #ddd; height: 35px; margin: -10px 30px 20px; font: bold 14px/1.125 ""; color: #5b5b5b; }
.payTypeTitleBox .title{ float: left;}
.payTypeTitleBox .title strong{ color: #6597b8; display: inline-block; margin: 0 6px;}
.payTypeTitleBox .balance{ float: right; margin-top: -5px;}
.payTypeTitleBox .balance strong{ font-size: 24px; display: inline-block; margin: 0 5px; line-height: 140%; vertical-align: middle;}
html, body { width: 100%; height:100%; background: #fff;}
body, button, input, select, textarea { font-size: 12px; }
body, h1, h2, h3, h4, h5, h6, dl, dt, dd, ul, ol, li, th, td, p, blockquote, pre, form, fieldset, legend, input, button, textarea, hr { padding: 0; margin: 0;}
input, button, select { vertical-align: middle; }
table { border-collapse: collapse; }
li { list-style: none outside; }
fieldset, img { vertical-align: middle; border: 0 none; }
address, caption, cite, code, dfn, em, i, s, th, var { font-style: normal; font-weight: normal; }
s { vertical-align: middle; font: 0px/0px arial;}
a { color: #666; text-decoration: none; }
a:hover { color: #39f;}/*overall wrap*/
.clear { clear: both; font: 0pt/0 Arial; height: 0px; visibility: hidden; }
.postnAbs{ position:absolute; display:block; overflow:hidden; text-indent:-1000px; outline:none; }
.font14{ font-size:14px;}
.clrorange{ color:#f90;}
.clrblue{ color:#39f;}
.clrgray{ color:#666;}
.clrred{ color:#f00;}
.clrredt{ color:#c62705;}
.clrwhite{ color:#fff;}
.alicenter{ text-align:center;}
.aliright{ text-align:right;}
.padfive{ padding:5px;}
.padten{ padding:10px;}
.alpha_back { width: 100%; height: 100%; position: fixed; z-index: 2000; left: 0px; top: 0px; opacity:.70; background: black; }
.alpha_back { _position: absolute; _top: expression(documentElement.scrollTop); _left: expression(documentElement.scrollLeft); filter: alpha(opacity=70); }
.alpha_content_layer{ z-index: 3000; top: 50%; left: 50%; margin: -15% 0 0 -17%; position: fixed; _position:absolute; }
.alpha_layer_ie{_top: expression(documentElement.scrollTop);_left: expression(documentElement.scrollLeft); _position:absolute;}
/**/
.payColorBox{ background:url(../images/colorbox.png?1.0.1) no-repeat; width:360px; height:219px;}
.payColorBox .close{ height:40px; text-align: right;}
.payColorBox .close a{ display:inline-block; width:40px; height:30px; outline:none;}
/**/
.publicBtn { display: inline-block; *display:inline;*zoom:1;cursor: pointer; outline:none;  }
.publicBtn i ,.getGreen{ background: url(../images/btnall.png?1.0.0) no-repeat center 0; display: inline-block; height: 36px; *zoom:1; vertical-align: middle; font: bold 14px/1.125 arial; }
.publicBtn span{ vertical-align:middle; height:36px; padding: 0 10px; display:inline-block; line-height:36px;}
.publicBtn i.lB, .publicBtn i.rB { width: 10px;}
.publicBtn i.tB { color: #fff; padding: 0 15px;}
.publicBtn i.lB { background-position: left 0 ;}
.publicBtn i.rB { background-position: right 0; }
.blueBtn i.tB ,.blueBtn:hover i.tB{ background-position: center -37px;}
.blueBtn i.lB ,.blueBtn:hover i.lB{ background-position: left -37px; }
.blueBtn i.rB ,.blueBtn:hover i.rB { background-position: right -37px; }
.orangeBtn i.tB ,.orangeBtn:hover i.tB{ background-position: center -146px;}
.orangeBtn i.lB ,.orangeBtn:hover i.lB{ background-position: left -146px; }
.orangeBtn i.rB ,.orangeBtn:hover i.rB { background-position: right -146px; }
.grayBtn i.tB ,.grayBtn:hover i.tB{ background-position: center -74px; color:#ccc; padding:0;}
.grayBtn i.lB ,.grayBtn:hover i.lB{ background-position: left -74px; }
.grayBtn i.rB ,.grayBtn:hover i.rB { background-position: right -74px; }
.bluexBtn i{ background-position: 0 -111px; width:50px; height:25px; color:#fff; font:12px/1.125 arial; text-align:center; line-height:24px;}
.getGreen{ width:102px; height:35px; background-position: 0 -182px; font-size:12px; color:#6dab18 !important; outline:none; font:12px/35px arial; text-decoration:none !important;}
/**/
.iblock { background: url(../images/allimg.png?1.0.1) no-repeat 5000px 5000px; width:16px; height:16px; display:inline-block; vertical-align:middle; *zoom:1;}
.ibuy { background-position: -86px -86px;}
.iwrite { background-position: -48px -87px;}
.ireceiving{ background-position: 0 0; background-image:url(../images/bigicon.png); width:62px; height:62px;}
.iexclamation{ background-position: 0 0; background-image:url(../images/exclamation.png); width:67px; height:61px;}
.infoview{ background-position: 0 0; background-image:url(../images/bigticon.png); width:62px; height:62px;}
/**/
.promptAllBox{ padding:50px 10px; clear:both; text-align: center; width:100%; background:#fff;}
.promptAllBox span.txt{ color:#64a61e; font: bold 12px/18px arial; vertical-align:middle; display:inline-block; text-align:left;}
.promptAllBox p{ padding:5px 5px 5px 280px; text-align:left; color:#666;}
.promptAllBox .intbox{ border:solid 1px #ccc; padding:8px; width:180px; vertical-align:middle; border-radius:5px; outline: none;}
.promptAllBox .inttext{ padding: 10px 0 10px 375px; line-height:18px;}
/*New Skin*/
.header { width: 890px; margin: 0 auto; height: 120px; }
.header .logo { width: 140px; height: 60px; margin: 25px 0 0; float: left; display: block; }
.header .logo span{ background-position: -9px -7px;width:150px; height:60px; cursor: pointer;}
.header .payStep { margin: 35px 0 0; float:right;}
.header .payStep span{ width:425px; height:40px;}
.header .payStepAgent { background: url(../images/allimg_df.png) no-repeat; display: inline-block;}
.header .payStep .s1{ background-position: 0 -131px;}
.header .payStep .s2{ background-position: 0 -189px;}
.header .payStep .s3{ background-position: 0 -247px;}
.header .payStep .s4{ background-position: 0 -305px;}
.head_menu, .head_menu .head_ct { background: url(/public/skin/blue/images/public_nav_back.png?1.1.0) no-repeat 0 0; height:30px;}
.head_menu { background-position: 0 0; margin:30px 0 0;float:right;}
.head_menu .head_ct { background-position: right -37px; font: normal 12px/1.125 arial; margin: 0 0 0 15px; padding:0 15px 0 0; *display: inline; *zoom:1;}
.head_menu li{ float:left; position:relative; z-index:111;}
.head_menu a { color: #666; text-decoration: none; padding: 7px 15px; display: inline-block; background: url(/public/skin/blue/images/public_nav_back.png?1.1.0) no-repeat -658px -58px; }
.head_menu a:hover { color: #39f;}
.head_menu .plug_in_menu{ width:110px; position:absolute; left:0px; top:32px; display:none; z-index:111; background:#fff; border:solid 1px #ccc; border-radius:3px; padding:5px 0; box-shadow:1px 2px 2px rgb(204,204,204);}
.head_menu .plug_in_menu .assing_jian{ background:url(/public/skin/blue/images/assing_jian.png) no-repeat center top; font:1px/1.125 arial; height:6px; position:absolute; width:100%; top:-6px; }
.head_menu .plug_in_menu a{ display:block;}
.head_menu .plug_in_menu a:hover{ background:#39f; color:#fff;}
.main{ width:890px; margin:0 auto; padding: 0 0 30px;}
.main .curaddress{ color:#589de2; font: bold 14px/1.125 arial; padding:8px 12px; border-radius:5px; background:#eaf3ff; margin: 15px 0;}
/*table*/
.alexTable { background-color: #fff; border-radius: 6px; padding: 20px; overflow: hidden;}
.alexTable table{ border-collapse:collapse; width:100%; margin: 0 auto;}
.alexTable table td, .alexTable table th{ border: 1px solid #ddd; padding: 8px 20px; color: #666; background-color: #fff;}
.alexTable table th { background-color: #f5f5f5; color: #333;}
.alexTable .button-box{ text-align: center; padding: 20px;}
.info-message{color: #333; font: 12px/24px arial; padding: 10px; border: 1px dashed #ddd; background-color: #f8f8f8; text-align: center; margin:10px 0;}
.footer{ font:12px/1.125 arial; color:#999; clear:both; width:890px; margin: 0 auto; border-top:solid 1px #eee; padding: 10px 0; text-align:center;}
.footer p{ padding:3px;}
.footer p b{ color:#39f; font:bold 16px/1.125 arial; display:inline-block; vertical-align:middle;}
/*searchbox*/
.searchbox label{ display:inline-block; padding: 0 30px 0 0;}
/*day2013/04/01 yifei.peng */
.getOrange{ background:url(../images/shopbtn.png) no-repeat 0 0; width:180px; height:42px; font: bold 14px/42px arial; color:#fff !important; display: inline-block; text-align:center; outline:none;  margin-right: 30px;}
.getOrange:hover{ background-position: 0 -52px; color:#fff !important}
.getOrange:active{ background-position: 0 -104px; color:#fff !important}
.gPaygetGreen{ background-position: -190px 0;  margin: 0; }
.gPaygetGreen:hover{ background-position: -190px -52px;}
.gPaygetGreen:active{ background-position: -190px -104px;}
.getOrange_gray, .getOrange_gray:hover, .getOrange_gray:active{ background:url(../images/shopbtn_gray.png) no-repeat center 0 !important; cursor: default;}
.productView .revealPhoto{ float:left; width: 375px;}
.productView .revealPhoto a img{ width:360px; height:300px; border: solid 1px #ccc; padding:5px; display: block;}
.productView .revealPhoto .agreement{ clear: both; margin:  10px 0; font-size: 14px; width: 250px;}
.productView .revealPhoto img{ width:360px; height:300px; display:block;}
.productView .revealCtn{ float:right; width:440px; color:#666; }
.productView .revealCtn .intro{ font:bold 14px/24px arial; display:block; color:#333; border-bottom:solid 1px #ccc; padding-bottom:10px; margin: 0 30px 40px 0;}
.productView .revealCtn .intro strong{ color:#f00; display:block;}
.productView .revealCtn .price,
.productView .revealCtn .gift,
.productView .revealCtn .priceOriginal,
.productView .revealCtn .period{ padding: 0 0 18px;}
.productView .revealCtn .priceOriginal span{ font: 14px/1.125 arial; text-decoration: line-through;}
.productView .revealCtn .priceOriginal span b{ font-size: 24px; }
.productView .revealCtn .price span{ font:bold 14px/1.125 arial;}
.productView .revealCtn .price span b{ font-size:24px; color:#f00;}
.productView .revealCtn .gift span{font:bold 14px/1.125 arial;}
.productView .revealCtn .btn{ margin-top: 10px;}
.productView .revealCtn .infoLine{font: 12px/23px arial; padding:0 0 20px}
.productView .revealCtn .infoLine b{color:#e00; }
.productView .revealCtn .period .wrapLevel{ display: block; padding: 0 0 0 40px;}
.productView .revealCtn .period i{ display:inline-block; vertical-align:middle; border:solid 1px #3580dd; margin:0 3px 5px 0 ; color:#3580dd; padding:8px 14px 8px 6px; cursor:pointer;  border-radius:8px; background-color: #eaf3ff;}
.productView .revealCtn .period i b{ font-size:22px;}
.productView .revealCtn .period i.hover{ border:solid 3px #3580dd; background-color: #cde2ff; padding:6px 12px 6px 4px;  color: #3580dd;}
.productView .revealCtn .period i.sel{ border:solid 3px #f00; background: url(../images/tick.png?1.0.1) no-repeat right bottom #fff2f2; padding:6px 12px 6px 4px; vertical-align:middle; color: #000;}
.productView .revealCtn .period i.gray{ cursor: default;  background: url(../images/tickg.png?1.0.1) no-repeat right bottom #eaf3ff;}
.productView .revealCtn .period i.AfentiExamIcon b,
.productView .revealCtn .period i.AfentiBasicIcon b,
.productView .revealCtn .period i.AfentiTalentIcon b,
.productView .revealCtn .period i.AfentiTravelIcon b{ vertical-align: middle; width:114px; height:40px; display:inline-block;}
.productView .revealCtn .period i.AfentiExamIcon b{ background:url(../images/afentiIcon.png) no-repeat center center;}
.productView .revealCtn .period i.AfentiBasicIcon b{  background:url(../images/maoxiandaoIcon.png) no-repeat center center ;}
.productView .revealCtn .period i.AfentiTalentIcon b{  background:url(../images/afentiTalentIcon.png) no-repeat center center ;}
.productView .revealCtn .period i.AfentiTravelIcon b{  background:url(../images/afentiTravelIcon.png) no-repeat center center ;}
.productView .revealCtn .product i{ border-color: #999; background-color: #fff;}
.successBox{ width:570px; margin:0 auto; padding:50px 0;}
.successBox .content{ margin:-60px 0 0 100px;}
.successBox .content .txt,
.successBox .ctn{ display:block; padding: 0 0 10px; color: #666; font-size: 14px;}
.successBox .content .txt{ font: 30px/1.125 "微软雅黑", "Microsoft YaHei", Arial, "黑体"; color:#6c0}
.successBox .content .ctn{ font: 14px/22px arial; color:#666;}
.successBox .content .btn{ padding:50px 0 0}
.loseBox .content { margin:-65px 0 0 100px;}
.loseBox .content .txt{ color:#f90}
.paypopBox{ width:80%; padding: 60px 0 0 0;}
.paypopBox .content{ margin:-60px 0 0 70px;}
.paypopBox .content .ctn{ font-size:14px;}
/**/
.privilegeMain { border: 1px solid #ccc; margin: 20px auto 0;padding: 20px 10px; }
.privilegeMain h1 { clear: both; background: url(../images/exam/afenti_2.png) no-repeat 15px 0; display: block; border-bottom: 1px solid #ccc; padding: 3px 45px 15px; margin: 0 0 15px; font-size: 14px; color: #333; font-weight: normal;}
.privilegeMain dl { float: left; width: 275px; height:120px; padding: 10px 0; border-bottom: 1px dashed #ddd; }
.privilegeMain dt.atr_1, .privilegeMain dt.atr_2, .privilegeMain dt.atr_3, .privilegeMain dt.atr_4, .privilegeMain dt.atr_5, .privilegeMain dt.atr_6, .privilegeMain dt.atr_7, .privilegeMain dt.atr_8, .privilegeMain dt.atr_9, .privilegeMain dt.atr_10 { width: 100px; height: 100px; display: block; float: left;}
.privilegeMain dt.atr_1 { background: url(../images/exam/i_1.png) no-repeat; }
.privilegeMain dt.atr_2 { background: url(../images/exam/i_2.png) no-repeat; }
.privilegeMain dt.atr_3 { background: url(../images/exam/i_3.png) no-repeat; }
.privilegeMain dt.atr_4 { background: url(../images/exam/i_4.png) no-repeat; }
.privilegeMain dt.atr_5 { background: url(../images/exam/i_5.png) no-repeat; }
.privilegeMain dt.atr_6 { background: url(../images/exam/i_6.png) no-repeat; }
.privilegeMain dt.atr_7 { background: url(../images/exam/i_7.png) no-repeat; }
.privilegeMain dt.atr_8 { background: url(../images/exam/i_8.png) no-repeat; }
.privilegeMain dt.atr_9 { background: url(../images/exam/i_9.png) no-repeat; }
.privilegeMain dt.atr_10 { background: url(../images/exam/i_10.png) no-repeat center center; }
.privilegeMain dd h2{ font-size:14px; padding:10px;}
.privilegeMain dd p{ line-height:22px;}
.privilegeMain .ctnText{ padding: 10px 15px; font: 14px/22px arial; color: #444;}
.privilegeMain .ctnImg{ background: url(../images/AfentiTalentType.png?1.0.2) no-repeat 18px 0; height:50px; }
.privilegeMain .ctnImg_1{ background: url(../images/AfentiTalentType_1.png) no-repeat 18px 0; height:50px; }
.clearPorperty{float:none !important; width: auto !important; }
.alipayText{ font: 14px/1.125 arial ; color: #333; display: inline-block; padding: 0 10px; }
/*aw_main_box*/
.aw_main_box{ width: 834px; border: 1px solid #ddd; padding: 40px 0 0 20px; margin: 0 auto;}
.aw_main_box .mb_box{ margin-bottom: 125px;}
.aw_main_box .mb_box .title{ background: url("../travel/a_font.png") no-repeat 0 0; width: 380px; height: 42px; margin-bottom: 18px;}
.aw_main_box .mb_box .title_01{ background-position: 0 -42px;}
.aw_main_box .mb_box .b_text{ font-size: 18px; color: #5a5a5a; margin-bottom: 35px;}
.aw_main_box .mb_box .b_text span{ width: 26px; height: 26px; border: 3px solid #0099e5; color: #0099e5; background-color: #cbf4ff; border-radius: 50%; display: inline-block; vertical-align: middle; text-align: center; font: bold 18px/24px "arial"; margin: 0 10px 0 15px; }
.aw_main_box .mb_box .b_con{ text-align: center; margin-bottom: 30px; padding-left: 15px;}
.aw_main_box .mb_box .b_con .call{ background: url("../travel/a_con_01.jpg") no-repeat 0 0; width: 629px; height: 379px; display: inline-block;}
.aw_main_box .mb_box .b_con span.bc{ background: url("../travel/a_con_08.jpg") no-repeat 0 0; width: 773px; height: 123px; display: inline-block;}
.aw_main_box .mb_box .b_con .word{ background: url("../travel/a_con_02.jpg") no-repeat 0 0; width: 640px; height: 334px; display: inline-block;}
.aw_main_box .mb_box .b_con .step{ background: url("../travel/a_con_4.png") no-repeat 0 0; width: 719px; height: 287px; display: inline-block;}
.aw_main_box .mb_box .b_con span.rank{ background: url("../travel/a_con_07.jpg") no-repeat 0 0; width: 770px; height: 160px; display: inline-block;}
.aw_main_box .mb_box .b_con span.game{ background: url("../travel/a_con_05.jpg") no-repeat 0 0; width: 707px; height: 140px; display: inline-block;}
/*payment-code-box*/
.payment-code-box{}
.payment-code-box .code-img{width:200px; height: 200px; border: 1px solid #ddd; text-align: center; line-height: 200px;}
.payment-code-box .code-info{ background:url(../images/qrcode-back.png) no-repeat 20px center #456083; padding: 15px 0 15px 80px; color: #fff; font-size: 14px;  line-height: 140%; width: 122px; border-radius: 2px; margin-top: 15px; clear: both;}

.ticketBox .trBox td{padding:10px 0 0 8px;border-top:none}
.ticketBox .n-padd{padding:0 10px 0 8px;border-top:none}
.ticketBox .num{padding-bottom:14px}
.ticketBox .num span{margin-right:20px;display:inline-block;padding:2px 6px;color:#fff;font-size:12px;background:#f6a623;border-radius:6px}
.ticketBox .selBox{padding-right:30px;box-sizing:border-box;text-align:right}
.ticketBox .selBox select{min-width:224px;text-align:center}