@charset "UTF-8";
html{font-size:18px}
@media only screen and (min-width:360px){html{font-size:20px!important}
}
@media only screen and (min-width:375px){html{font-size:21px!important}
}
@media only screen and (min-width:400px){html{font-size:22px!important}
}
@media only screen and (min-width:414px){html{font-size:23px!important}
}
@media only screen and (min-width:480px){html{font-size:24px!important}
}
@media only screen and (min-width:540px){html{font-size:26px!important}
}
@media only screen and (min-width:640px){html{font-size:28px!important}
}
@media only screen and (min-width:768px){html{font-size:30px!important}
}
@media only screen and (min-width:960px){html{font-size:36px!important}
}
html{-webkit-overflow-scrolling:touch;overflow-scrolling:touch;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;-webkit-user-select:none;-ms-user-select:none}
body,button,input,select,textarea{font-family:TrebuchetMS,Rotobo,"Microsoft YaHei",sans-serif}
body,dd,dl,dt,form,h1,h2,h3,h4,h5,h6,html,li,ol,p,select,ul{margin:0;padding:0}
li,ol,ul{list-style-type:none}
em,i{font-style:normal}
a{color:#333}
a{text-decoration:none}
a img{border:0 none}
input:-ms-input-placeholder,input::-moz-placeholder,input::-webkit-input-placeholder{color:#999}
input:focus:-ms-input-placeholder,input:focus::-moz-placeholder,input:focus::-webkit-input-placeholder{color:transparent}
button,input[type=button],input[type=text],input[type=password],input[type=submit],input[type=search],input[type=email],input[type=number],input[type=phone],textarea{-webkit-appearance:none;-moz-appearance:none;-webkit-border-image:none;border-image:none;-webkit-border-radius:0;border-radius:0;-webkit-box-sizing:border-box;box-sizing:border-box}
button,input[type=reset],input[type=button],input[type=submit]{cursor:pointer;-webkit-appearance:button}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
table{border-collapse:collapse;border-spacing:0}
td{vertical-align:top}
.hidden{display:none!important;visibility:hidden}
.visuallyhidden{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px}
.visuallyhidden.focusable:active,.visuallyhidden.focusable:focus{clip:auto;height:auto;margin:0;overflow:visible;position:static;width:auto}
.invisible{visibility:hidden}
.clearfix:after,.clearfix:before{content:"";display:table}
.clearfix:after{clear:both}
.clearfix{zoom:1}
@media print{*{background:0 0!important;color:#000!important;text-shadow:none!important;filter:none!important;-ms-filter:none!important}
a,a:visited{text-decoration:underline}
a[href]:after{content:" (" attr(href) ")"}
abbr[title]:after{content:" (" attr(title) ")"}
.ir a:after,a[href^="javascript:"]:after,a[href^="#"]:after{content:""}
blockquote,pre{border:1px solid #999;page-break-inside:avoid}
thead{display:table-header-group}
img,tr{page-break-inside:avoid}
img{max-width:100%!important}
@page{margin:.5cm}
h2,h3,p{orphans:3;widows:3}
h2,h3{page-break-after:avoid}
}
body{background:#41e3df}
.star-icon{display:inline-block;vertical-align:middle;width:.5rem;height:.5rem;background:url(../images/star-icon.png?v=973c5c05f7) no-repeat;background-size:100% 100%}
.beans-icon{display:inline-block;vertical-align:middle;width:1.05rem;height:1.05rem;background:url(../images/beans-icon.png?v=efb6b7b0e7) no-repeat;background-size:100% 100%}
.ta-header{width:100%;height:8rem;background:url(../images/header-bg.jpg?v=29f65a71eb) no-repeat;background-size:100% 100%}
.ta-main{margin-top:-.5rem}
.ta-main .title{padding:0 .25rem;margin:0 .5rem;height:1.25rem;line-height:1.25rem;background:#00bbc7;border-radius:1.25rem;font-size:.6rem;color:#fff}
.ta-main .title .star-icon{position:relative;top:-.075rem;margin:0 .25rem}
.ta-main .title .time{font-weight:700;font-size:.5rem}
.ta-main .name{padding:1rem 0;font-weight:700;text-align:center;font-size:.75rem;color:#fff}
.ta-main .name i{display:inline-block;margin:0 .125rem}
.ta-main .pic{margin-bottom:1.125rem;width:100%;height:8.05rem;background:url(../images/main-bg.jpg?v=b0ae11094d) no-repeat;background-size:100% 100%}
.ta-main .selectBox{margin:.625rem .5rem;overflow:hidden}
.ta-main .selectBox .item{cursor:pointer;float:left;width:25%;text-align:center;font-size:.6rem;color:#fff}
.ta-main .selectBox .item span{display:inline-block;vertical-align:middle}
.ta-main .selectBox .item .radio{display:inline-block;vertical-align:middle;margin:0 .25rem;width:.9rem;height:.9rem;border-radius:.9rem;background:#fff}
.ta-main .selectBox .item .radio.active{background:#ff6262;width:.65rem;height:.65rem;border:.125rem solid #fff;border-radius:.9rem}
.ta-main .tips{padding-bottom:.5rem;font-size:.6rem;text-align:center;color:#fff}
.ta-footer{height:3.75rem;text-align:center}
.ta-footer .inner{position:fixed;left:0;bottom:0;z-index:2;width:100%;padding:.625rem 0;background:#41e3df;text-align:center}
.ta-footer .btn{display:inline-block;width:9rem;background:#ff6262;padding:.5rem 0;border-bottom:.075rem solid #2f9594;border-radius:1.5rem;text-align:center;font-weight:700;font-size:.75rem;color:#fff}

.disabled{pointer-events:none;}

.ta-main .selectBox.disabled .item{color:#f1f1f1;}
.ta-main .selectBox.disabled .item .radio{background: #ccc;}
.ta-main .selectBox.disabled .item .radio.active{background:#999;border-color:#ccc;}