@charset "UTF-8";
html{font-size:20px}
@media only screen and (min-width:400px){html{font-size:21.33px!important}
}
@media only screen and (min-width:414px){html{font-size:22.08px!important}
}
@media only screen and (min-width:480px){html{font-size:25.6px!important}
}
@media only screen and (min-width:768px){html{font-size:30px!important}
}
@media only screen and (min-width:960px){html{font-size:36px!important}
}
html{overflow-y:scroll;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;-webkit-user-select:none;-ms-user-select:none}
body,button,input,select,textarea{font-family:TrebuchetMS,Rotobo,"Microsoft YaHei",sans-serif}
body,dd,dl,dt,form,h1,h2,h3,h4,h5,h6,html,li,ol,p,select,ul{margin:0;padding:0}
li,ol,ul{list-style-type:none}
em,i{font-style:normal}
a,a:visited{color:#333}
a{text-decoration:none}
a img{border:0 none}
input:-ms-input-placeholder,input::-moz-placeholder,input::-webkit-input-placeholder{color:#999}
input:focus:-ms-input-placeholder,input:focus::-moz-placeholder,input:focus::-webkit-input-placeholder{color:transparent}
button,input[type=button],input[type=text],input[type=password],input[type=submit],input[type=search],input[type=email],input[type=number],input[type=phone],textarea{-webkit-appearance:none;-moz-appearance:none;-webkit-border-image:none;border-image:none;-webkit-border-radius:0;border-radius:0;-webkit-box-sizing:border-box;box-sizing:border-box}
button,input[type=reset],input[type=button],input[type=submit]{cursor:pointer;-webkit-appearance:button}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
table{border-collapse:collapse;border-spacing:0}
td{vertical-align:top}
.hidden{display:none!important;visibility:hidden}
.visuallyhidden{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px}
.visuallyhidden.focusable:active,.visuallyhidden.focusable:focus{clip:auto;height:auto;margin:0;overflow:visible;position:static;width:auto}
.invisible{visibility:hidden}
.clearfix:after,.clearfix:before{content:"";display:table}
.clearfix:after{clear:both}
.clearfix{zoom:1}
@media print{*{background:0 0!important;color:#000!important;text-shadow:none!important;filter:none!important;-ms-filter:none!important}
a,a:visited{text-decoration:underline}
a[href]:after{content:" (" attr(href) ")"}
abbr[title]:after{content:" (" attr(title) ")"}
.ir a:after,a[href^="javascript:"]:after,a[href^="#"]:after{content:""}
blockquote,pre{border:1px solid #999;page-break-inside:avoid}
thead{display:table-header-group}
img,tr{page-break-inside:avoid}
img{max-width:100%!important}
@page{margin:.5cm}
h2,h3,p{orphans:3;widows:3}
h2,h3{page-break-after:avoid}
}
html{font-size:20px}
@media only screen and (min-width:400px){html{font-size:21.33px!important}
}
@media only screen and (min-width:414px){html{font-size:22.08px!important}
}
@media only screen and (min-width:480px){html{font-size:25.6px!important}
}
@media only screen and (min-width:768px){html{font-size:30px!important}
}
@media only screen and (min-width:960px){html{font-size:36px!important}
}
body{background:#f1f7fc}
.w-btn{display:inline-block;width:100%;padding:.5rem 0;background:#6d8ce7;border-radius:1rem;text-align:center;font-size:.85rem;color:#fff}
.tips{padding:.375rem .75rem;background:#f1f7fc;font-size:.6rem;line-height:.9rem;color:#7a7f8d}
.main{padding:.25rem .75rem;margin-bottom:.75rem;background:#fff}
.main .title{padding:.25rem 0;font-size:.75rem;line-height:.75rem;color:#323232}
.main .title .w-btn{margin:0 .5rem;width:3.75rem;padding:.3rem 0;font-size:.6rem}
.main input{display:block;width:100%;margin:.5rem 0;padding:.5rem;border:.025rem solid #828593;outline-style:none;font-size:.7rem}
.main input::-webkit-input-placeholder{color:#c6c8cd}
.main input::-moz-input-placeholder{color:#c6c8cd}
.main input::-ms-input-placeholder{color:#c6c8cd}
.main textarea{width:100%;height:5.25rem;margin:.5rem 0;padding:.5rem;outline-style:none;border:.025rem solid #828593;font-size:.7rem;resize:none}
.main .picBox{margin-bottom:.25rem;width:2.5rem;height:2.5rem;background:#f6f6f6}
.main .picBox img{display:block;width:100%;height:100%}
.main .text{font-size:.6rem;line-height:1rem;color:#7a7f8d}
.footer{width:100%;height:4.75rem}
.footer .text{text-align:center;font-size:.6rem;line-height:.9rem;color:#a9a9a9}
.footer .text .tel{color:#6d8ce7}
.footer .btnBox{padding:.75rem}
.fixBottom{position:fixed;left:0;bottom:0;width:100%;z-index:9;background:#f1f7fc}
.success{width:90%;text-align:center;font-size:1.15rem;color:#565c6f; margin: 0 auto; padding-top: 30%;}
.success .text{padding-top:1.25rem;font-size:.8rem}
.webuploader-container{position:relative}
.webuploader-element-invisible{position:absolute!important;clip:rect(1px 1px 1px 1px);clip:rect(1px,1px,1px,1px)}
.webuploader-pick{display:inline-block;background:#6d8ce7;border-radius:1rem;text-align:center;color:#fff;margin:0 .5rem;width:3.75rem;padding:.3rem 0;font-size:.6rem}
.webuploader-pick-hover{background:#00a2d4}
.webuploader-pick-disable{opacity:.6;pointer-events:none}
.dialog-alert .da-mask{position:fixed;top:0;bottom:100%;background-color:rgba(0,0,0,.6);width:100%;height:100%;z-index:100}
.dialog-alert .da-content{position:fixed;width:85%;top:50%;left:50%;z-index:101;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%);background-color:#fafafc;text-align:center;border-radius:4px}
.dialog-alert .da-hd{padding:1rem 1rem 0;font-size:.75rem;color:#888;word-wrap:break-word;word-break:break-all}
.dialog-alert .da-ft{position:relative;line-height:2.1rem;margin-top:1rem;font-size:.85rem;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex}
.dialog-alert .da-ft:after{content:" ";position:absolute;left:0;top:0;width:100%;height:.05rem;border-top:1px solid #d5d5d6;color:#d5d5d6;-webkit-transform-origin:0 0;transform-origin:0 0;-webkit-transform:scaleY(.5);transform:scaleY(.5)}
.dialog-alert .da-ft a{cursor:pointer;display:block;-webkit-box-flex:1;-webkit-flex:1;-ms-flex:1;flex:1;color:#3cc51f;text-decoration:none;-webkit-tap-highlight-color:transparent}