@charset "UTF-8";
html{overflow-y:scroll;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;-webkit-user-select:none;-ms-user-select:none}
body,button,input,select,textarea{font-family:TrebuchetMS,Rotobo,"Microsoft YaHei",sans-serif}
body,dd,dl,dt,form,h1,h2,h3,h4,h5,h6,html,li,ol,p,select,ul{margin:0;padding:0}
li,ol,ul{list-style-type:none}
em,i{font-style:normal}
a,a:visited{color:#333}
a{text-decoration:none}
a img{border:0 none}
input:-ms-input-placeholder,input::-moz-placeholder,input::-webkit-input-placeholder{color:#999}
input:focus:-ms-input-placeholder,input:focus::-moz-placeholder,input:focus::-webkit-input-placeholder{color:transparent}
button,input[type=button],input[type=text],input[type=password],input[type=submit],input[type=search],input[type=email],input[type=number],input[type=phone],textarea{-webkit-appearance:none;-moz-appearance:none;-webkit-border-image:none;border-image:none;-webkit-border-radius:0;border-radius:0;-webkit-box-sizing:border-box;box-sizing:border-box}
button,input[type=reset],input[type=button],input[type=submit]{cursor:pointer;-webkit-appearance:button}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
table{border-collapse:collapse;border-spacing:0}
td{vertical-align:top}
.hidden{display:none!important;visibility:hidden}
.visuallyhidden{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px}
.visuallyhidden.focusable:active,.visuallyhidden.focusable:focus{clip:auto;height:auto;margin:0;overflow:visible;position:static;width:auto}
.invisible{visibility:hidden}
.clearfix:after,.clearfix:before{content:"";display:table}
.clearfix:after{clear:both}
.clearfix{zoom:1}
@media print{*{background:0 0!important;color:#000!important;text-shadow:none!important;filter:none!important;-ms-filter:none!important}
a,a:visited{text-decoration:underline}
a[href]:after{content:" (" attr(href) ")"}
abbr[title]:after{content:" (" attr(title) ")"}
.ir a:after,a[href^="javascript:"]:after,a[href^="#"]:after{content:""}
blockquote,pre{border:1px solid #999;page-break-inside:avoid}
thead{display:table-header-group}
img,tr{page-break-inside:avoid}
img{max-width:100%!important}
@page{margin:.5cm}
h2,h3,p{orphans:3;widows:3}
h2,h3{page-break-after:avoid}
}
.unusualAppeal{background:#fff;font-size:14px;color:#4e5656;padding:20px 20px 0}
.unusualAppeal .tab{overflow:hidden;*overflow:hidden;*zoom:1}
.unusualAppeal .tab li{float:left;cursor:pointer;width:117px;padding:8px 0;margin-right:-1px;border:1px solid #dfdfdf;border-radius:2px;text-align:center}
.unusualAppeal .tab li.active{position:relative;z-index:2;border-color:#189cfb;color:#189cfb}
.unusualAppeal .tips{padding:10px 0;line-height:20px}
.unusualAppeal .tips .txtBlue{color:#189cfb}
.unusualAppeal .main{margin-bottom:10px}
.unusualAppeal .main .title{padding:10px 0}
.unusualAppeal .main input{display:block;width:400px;padding:6px 10px;border:1px solid #dae6ee;outline-style:none;font-size:14px;line-height:16px}
.unusualAppeal .main input::-webkit-input-placeholder{color:#c6c8cd}
.unusualAppeal .main input::-moz-input-placeholder{color:#c6c8cd}
.unusualAppeal .main input::-ms-input-placeholder{color:#c6c8cd}
.unusualAppeal .main .describe{position:relative;width:100%}
.unusualAppeal .main .describe textarea{width:100%;height:100px;padding:10px;outline-style:none;border:1px solid #dae6ee;font-size:14px;resize:none}
.unusualAppeal .main .describe .count{position:absolute;bottom:5px;right:10px;color:#a9a9a9}
.unusualAppeal .main .picBox{float:left;cursor:pointer;width:88px;height:88px;border:1px dashed #dae6ee;text-align:center;line-height:88px;font-size:12px;color:#2180c1}
.unusualAppeal .main .picBox img{display:block;width:100%;height:100%}
.unusualAppeal .main .info{margin-left:100px}
.unusualAppeal .main .info .text{color:#a9a9a9}
.unusualAppeal .footer{clear:both;width:100%;padding:20px 0;text-align:center}
.w-btn{background-color:#189cfb;color:#fff;border:1px solid #0979ca;display:inline-block;padding:15px 0;text-decoration:none;width:166px;text-align:center;font:18px/1.125 "微软雅黑","Microsoft YaHei",Arial;vertical-align:middle;border-radius:4px}
.w-btn:hover{background-color:#52b4fb;color:#fff}
.w-btn:active{background-color:#0084e3}
.w-btn-small{padding:12px 0;width:155px;font-size:14px}
.w-btn-well{padding:8px 0;width:120px;font-size:16px}
.w-btn-large{padding:20px 0;width:220px}
.dialog-alert .da-mask{position:fixed;top:0;bottom:100%;background-color:rgba(0,0,0,.6);width:100%;height:100%;z-index:100}
.dialog-alert .da-content{position:fixed;width:85%;top:50%;left:50%;z-index:101;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%);background-color:#fafafc;text-align:center;border-radius:4px}
.dialog-alert .da-hd{padding:20px 20px 0;font-size:15px;color:#888;word-wrap:break-word;word-break:break-all}
.dialog-alert .da-ft{position:relative;line-height:42px;margin-top:20px;font-size:17px;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex}
.dialog-alert .da-ft:after{content:" ";position:absolute;left:0;top:0;width:100%;height:1px;border-top:1px solid #d5d5d6;color:#d5d5d6;-webkit-transform-origin:0 0;transform-origin:0 0;-webkit-transform:scaleY(.5);transform:scaleY(.5)}
.dialog-alert .da-ft a{cursor:pointer;display:block;-webkit-box-flex:1;-webkit-flex:1;-ms-flex:1;flex:1;color:#3cc51f;text-decoration:none;-webkit-tap-highlight-color:transparent}
.webuploader-container{position:relative}
.webuploader-element-invisible{position:absolute!important;clip:rect(1px 1px 1px 1px);clip:rect(1px,1px,1px,1px)}
.webuploader-pick-disable{opacity:.6;pointer-events:none}