body,dd,dl,dt,form,h1,h2,h3,h4,h5,h6,html,li,ol,p,select,ul{margin:0;padding:0}
html{font:20px/1.5 "Microsoft YaHei",Arial}
body,html{width:100%;height:100%;color:#333}
body,input,option,select{-webkit-text-size-adjust:none}
li,ol,ul{list-style-type:none}
em,i{font-style:normal}
button,input,textarea{outline:0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
a,a:visited{color:#333}
a{text-decoration:none}
a img{border:0 none}
button,input[type=button],input[type=text],input[type=password],input[type=submit],input[type=search],input[type=email],input[type=number],input[type=phone],textarea{-webkit-appearance:none;-moz-appearance:none;-webkit-border-image:none;border-image:none;-webkit-border-radius:0;border-radius:0;-webkit-box-sizing:border-box;box-sizing:border-box}
*{-webkit-tap-highlight-color:transparent;background-clip:padding-box}
.sDetail{background:#fff}
.sDetail .banner{width:100%;height:15rem;background:url(../images/sWmain-banner.png) no-repeat;background-size:100% 100%}
.sDetail .info{padding:0 .9rem;background:#fff;border-radius:0 0 2.9rem 2.9rem;font-size:1.35rem;color:#575757}
.sDetail .info .title{margin:1.5rem auto;width:19.5rem;padding:1rem 0;background:#e8eef7;text-align:center}
.sDetail .info .time{width:100%;margin:2rem 0;text-align:center;font-size:1.6rem}
.sDetail .info .rules .text{position:relative;display:inline-block;padding:0 0 .8rem 2.5rem}
.sDetail .info .rules .text span{position:absolute;left:0;top:0;display:inline-block;width:2.1rem;height:2.1rem;border-radius:2.1rem;background:#ddb4ff;text-align:center;line-height:2.1rem;font-size:1.35rem;color:#fff}