.school,.teacher,[data-href]{cursor:pointer;}
.orange-color{color:#ff7d5a!important}
.bluegrey-color{color:#7f86ad!important}
.blue-color{color:#41b0ff}
.tab-main>div:not(:first-child){display:none}
.dropdown-layer{display:none;position:absolute;z-index:2}
.show{display:block}
.hide{display:none}
.left{float:left}
.right{float:right}
.orange-color{color:#ff7d5a}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.head{color:#76797e;/*border-bottom:.05rem solid #cdd3dc;*/position:relative;padding:.375rem 1rem 0;line-height:2.25rem;height:2.5rem;box-sizing:border-box;overflow:hidden}
.head .inner-right{font-size:.9rem;color:#ff7d5a;float:right}
.return{float:left;cursor:pointer;font-size:.9rem;color:#76797e}
.return .return-icon{margin-right:.25rem;display:inline-block;width:.4rem;height:.7rem;background:url(/public/rebuildRes/image/mobile/home/icon_arrow_left.png?v=6f6e5554dd) no-repeat;background-size:100% 100%}
.return-line{float:left;content:"";height:.95rem;margin:.65rem .625rem 0 .4rem;border-right:1px solid #979797}
.h-title{float:left;font-size:.9rem;color:#76797e}
.name{font-size:.75rem;line-height:1rem;color:#50546d;padding:.25rem 0}
.name .inner-right{font-size:.55rem;color:#7f86ad;float:right;cursor: pointer;}
.dl{position:relative;font-size:.65rem;line-height:1rem;min-height:1rem;padding:.25rem 0 .25rem 3.5rem;color:#636880}
.dl .dt{position:absolute;top:.25rem;left:0}

.gap-line{line-height:2.25rem;font-size:.75rem;color:#77595a;border-bottom:.05rem solid #cdd3dc;background:#fff9f5}
.gap-line .item{position:relative;text-align:center}
.gap-line .item:not(:last-child):after{content:".";width:0;overflow:hidden;position:absolute;height:1.525rem;margin-top:.35rem;top:0;right:0;border-right:.075rem solid #979797}
.gap-line .the{border:none;color:#ff7d5a}

.list .item{padding:.2rem 1.025rem .7rem;border-bottom:.05rem solid #cdd3dc;}
.flow .item{clear:both;position:relative;padding:0 1.025rem;border-bottom:.05rem solid #f0eff5 ;line-height:2.5rem;color:#50546d;font-size:.75rem;}
.item .inner-right{cursor:pointer;float:right;color:#ff7d5a;background:url(/public/rebuildRes/image/mobile/home/icon_arrow_right.png?v=c73404835e) right center no-repeat;background-size:.45rem .85rem;padding-right:.8rem}
.item .right{cursor:pointer;float:right;color:#ff7d5a;}
.flow .item .inner-right-text{float:right;color:#76797e}
.flow .item .content{display:block;width:100%;resize:none;line-height:.9rem;font-size:.75rem;border:none;margin-bottom:1.25rem;color:#50546d}
.flow .item .content:focus{outline:0}
.flow .tip{line-height:1.925rem;font-size:.65rem;color:#7f86ad;text-align:left}
.s-list .item{border-bottom:.05rem solid #cdd3dc;font-size:.75rem;padding:0 1.025rem;line-height:2.5rem;color: #888A8E;cursor: pointer}
.s-list .inner-right{float:right}
.c-main .item{padding:.75rem .45rem}
.c-main .btn-stroke{margin:0 .3rem .5rem;cursor: pointer;}
.flow .tip .inner-right{float:right;color:#76797e;background:0 0;padding:0}
.flow .GPS{line-height:3rem}
.flow .GPS .inner-right{float:right;color:#76797e;background:0 0;margin-top:.55rem}
.flow .photo{padding:.25rem 0 .75rem;line-height:3.75rem;color:#636880}
.flow .photo .shot{float:left;}
.flow .photo .pick{float:right}
.flow .photo .file{float:right;width:3.75rem;height:3.75rem;border:1px dashed #636880;border-radius:.2rem;color:#636880;background:#f9f9fa;font-size:1.95rem;margin-left:.5rem;cursor:pointer;}
.flow .t-visit .inner-right{background:url(/public/rebuildRes/image/mobile/home/icon_arrow_right.png?v=c73404835e) right center no-repeat;background-size:.45rem .85rem;width:100%}
.flow .t-visit .t-list{width:80%;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;font-size:.75rem;color:#50546d}
.flow .visit-result .inner-right{background:url(/public/rebuildRes/image/mobile/home/icon_arrow_right.png?v=c73404835e) right center no-repeat;background-size:.45rem .85rem;color:#ff7d5a;padding-right:.8rem;font-size:.75rem}
.flow .undo .inner-right{float:right;color:#76797e;background:0 0;padding:0;font-size:.65rem}
.visit-detail .item:not(:last-of-type){border-bottom-style:dashed}
.visit-detail .item{font-size:.65rem}
.visit-detail .item .inner-right,.visit-detail .item .t-name{white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
.visit-detail .item .t-name{float:left;width:20%}
.visit-detail .item .inner-right{width:78%;background:0 0;padding:0;color:#76797e}
.tip .suggestion{color:#50546d;line-height:1rem;font-size:.65rem;padding-bottom:1rem}
.item .photo2{padding:.75rem 0}
.item .photo2 .shot{height:3.75rem;line-height:.7rem}
.item .photo2 .pick .text{height:3.75rem;float:left;line-height:.9rem;width:6.05rem;margin-left:.85rem}
.item .photo2 .pick .text .dt{font-size:.55rem;color:#636880;line-height:1.25rem}
.item .photo2 .pick .text .dd{color:#a2a4a8}
.item .photo2 .file{float:left}
.s-record{margin-left:.75rem;border-left:.05rem solid #cdd3dc;padding:0 1.05rem 1.05rem .75rem}
.s-record .item{padding-top:.75rem}
.s-record .item .time{font-size:.55rem;color:#7f86ad;position:relative;text-indent:.3rem}
.s-record .item .time:before {content: ".";color: transparent;position: absolute;width: .3rem;height: .3rem;background: #9199bb;border-radius: 50%;top: 50%;-webkit-transform: translateY(-50%); /* Safari 和 Chrome */-moz-transform: translateY(-50%);	/* Firefox */-ms-transform: translateY(-50%);	/* IE 9 */-o-transform: translateY(-50%); 	/* Opera */transform: translateY(-50%);left: -.9rem;}
.s-record .item .info{border:.05rem solid #cdd3dc;padding:.75rem;color:#50546d;font-size:.65rem;line-height:1.15rem;margin-top:.45rem}
.w-record .item{padding-top:1rem}
.w-record .item .inner-right-text{font-size:.55rem}
.w-record .item .content{font-size:.65rem}
.inner-right input,.inner-right-text input{text-align: right;color:#50546d;font-size:0.75rem;border:none;}
.inner-right input:focus,.inner-right-text input:focus{outline: none;}
.inner-right.select-date{background:url(/public/rebuildRes/image/mobile/home/icon_arrow_down.png?v=c73404835e) right center no-repeat !important;background-size:.85rem .45rem !important;padding-right:1rem !important;}
.error-page{text-align:center;font-size:.9rem;margin-top:3.5rem;height:8.625rem;background:url(images/error_page.png?v=97e6593fb4) center center no-repeat,#fff;background-size:auto 8.625rem}
.error-tip{text-align:center;font-size:.9rem;padding:0 2rem;color:#9199bb;margin-top:1rem;}
.back{margin-top:1.825rem;font-size:.9rem;color:#76797e!important;border-color:#76797e}
.center{position:relative;left:50%;-webkit-transform:translateX(-50%);-moz-transform:translateX(-50%);-ms-transform:translateX(-50%);-o-transform:translateX(-50%);transform:translateX(-50%)}
.login-wrapper{padding:7rem 1.175rem 0;background:url(images/login.png?v=b847b2f928) center 1.35rem no-repeat;background-size:auto 4.075rem}
.login{padding:0 .7rem}
.input-control{position:relative;border-bottom:.05rem solid #cdd3dc;padding:.25rem 0 .4rem 0;margin-bottom:.6rem}
.input-control label{float:left;width:1rem;height:1rem}
.input-control input{padding:.5rem 0;font-size:.75rem;line-height:1rem;width:88%;border:none}
.input-control input:focus{outline:0}
.auth-code{position:relative}
.auth-code .inner-right{position:absolute;right:0;width:4rem;height:1.5rem}
.login{margin-top:1.75rem;line-height:2.5rem;height:2.5rem;text-align:center;background:#ff7d5a;color:#fff;border-radius:.2rem;font-size:.9rem}
.phone-login{float:right;color:#7f86ad;font-size:.9rem;line-height:2rem}
.send-code{width:4.5rem!important;bottom:.15rem;font-size:.75rem;color:#ff7d5a;border:.05rem solid #ff7d5a;border-radius:.1rem;line-height:1.5rem;text-align:center}

.icon{display: inline-block;vertical-align: middle;width: .65rem;height: .65rem;background-size: 100% 100%}
.icon.effect{background-image:url(/public/rebuildRes/image/mobile/home/icon_title_effect.png);margin: 0 .25rem .1rem 0;}
.icon.img{background-image:url(/public/rebuildRes/image/mobile/intoSchool/icon_title-image.png);margin: 0 .25rem .1rem 0;}
.icon.tips{background-image:url(/public/rebuildRes/image/mobile/intoSchool/icon_title-prompt.png);margin: 0 .25rem .1rem 0;}
.icon.theme{background-image:url(/public/rebuildRes/image/mobile/intoSchool/icon_title-theme.png);margin: 0 .25rem .1rem 0;}
.icon.visit{background-image:url(/public/rebuildRes/image/mobile/intoSchool/icon_title-visit.png);margin: 0 .25rem .1rem 0;}
.sub_btn{float: right;font-size:.9rem;color:#c2c8d4;}
.user-icon{margin-right:.2rem;display: inline-block;vertical-align: middle;width: 1rem;height: 1.025rem;background-repeat: no-repeat;background-image:url(images/icon01.png);background-size:100% 100%;}
.user-icon.password-icon{background-image:url(images/icon02.png);}
.user-icon.code-icon{background-image:url(images/icon03.png);}
.user-icon.phone-icon{width: .75rem;background-image:url(images/icon04.png);}
.bgf1{background-color:#f1f2f5}
.schoolRecord-pop{position:fixed;top:0;left:0;right:0;bottom:0;width:100%;height:100%;background-color:rgba(0,0,0,.6);z-index:9}
.schoolRecord-pop .inner{position:fixed;top:50%;left:50%;width:15.5rem;height:14.5rem;transform:translate(-50%,-50%);-webkit-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);-moz-transform:translate(-50%,-50%);-o-transform:translate(-50%,-50%);background-color:#fff;border-radius:.2rem;overflow:hidden}
.schoolRecord-pop .inner .sre-list{padding:1rem}
.schoolRecord-pop .inner .sre-list li{margin:.5rem 0;height:1.75rem;line-height:1.75rem;border:.05rem solid #636880;border-radius:.2rem;cursor:pointer}
.schoolRecord-pop .inner .sre-list li .sre-title{padding-left:.75rem;font-size:.8rem;color:#636880}
.schoolRecord-pop .inner .sre-list li .sre-title .txt{padding:.4rem;float:right;text-align:right;border:0 none;outline:0}
.schoolRecord-pop .inner .sre-btn{height:2.775rem;font-size:0;line-height:2.775rem;border-top:.025rem solid #cdd3dc}
.schoolRecord-pop .inner .sre-btn a{width:50%;display:inline-block;text-align:center;font-size:.9rem}
.schoolRecord-pop .inner .sre-btn a.sure_btn{color:#fff;background-color:#ff7d5a}
.schoolRecord-pop .inner .sre-btn a.cancel_btn{color:#636880;background-color:#fff}
.srd-top{margin-top:.5rem;height:2.125rem;text-align:center;font-size:0;line-height:2.125rem;background:#fff6ee;border-top:.025rem solid #dde2ea;border-bottom:.025rem solid #dde2ea}
.srd-top span{padding:0 1.625rem;display:inline-block;font-size:.75rem;color:#77595a;cursor:pointer}
.srd-top span.active{color:#ff7d5a}
.srd-time{padding:.75rem 0 .375rem 1rem;font-size:.65rem;color:#9199bb;background-color:#fff}
.srd-module{margin:.5rem 0;background-color:#fff}
.srd-module .mHead{margin-left:1rem;padding:.5rem 1rem .5rem 0;font-size:.65rem;color:#9199bb;border-bottom:.025rem dashed #dde2ea}
.srd-module .mHead .mRight{float:right;color:#636880;line-height:1.125rem}
.srd-module .mHead .ml-icon{display:inline-block;vertical-align:middle;width:.65rem;height:.625rem;background:url(../images/schoolrecord-icon01.png) no-repeat;background-size:100% 100%}
.srd-module .mHead .mr-icon{display:inline-block;vertical-align:middle;width:.875rem;height:.875rem;text-align:center;font-size:.55rem;color:#fff;line-height:.875rem;background:#fbbc74;border-radius:2.5rem}
.srd-module .mInfo{padding:.75rem;font-size:.65rem;color:#636880}
.srd-module .mTable table{width:100%;text-align:center;font-size:.65rem;color:#636880}
.srd-module .mTable table thead tr{border-bottom:.025rem solid #e6e9f0}
.srd-module .mTable table tr:nth-child(even){background-color:#f9f9fa}
.srd-module .mTable table tr td{padding:.75rem 0;vertical-align:middle;width:20%}
.srd-module .mTable table tfoot td{padding-left:.75rem;text-align:left}
.fontDefault{color:#636880}
.fontDefault.fontOrange{color:#FF7D5A}
.fontDefault.fontRed{color:#FB2C16}
.fontDefault.fontGreen{color:#70BBA0}
.srd-foot{margin:2.125rem 0}
.srd-foot .view_btn{margin:0 4.25rem;padding:.5rem 0;display:block;text-align:center;font-size:.75rem;color:#9199bb;background:#fff;border:.05rem solid #9199bb;border-radius:.2rem}
.schoolRecord-pop{position:fixed;top:0;left:0;right:0;bottom:0;width:100%;height:100%;background-color:rgba(0,0,0,.6);z-index:9}
.schoolRecord-pop .inner{position:fixed;top:50%;left:50%;width:15.5rem;height:14.5rem;transform:translate(-50%,-50%);-webkit-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);-moz-transform:translate(-50%,-50%);-o-transform:translate(-50%,-50%);background-color:#fff;border-radius:.2rem;overflow:hidden}
.schoolRecord-pop .inner .sre-list{padding:1rem}
.schoolRecord-pop .inner .sre-list li{margin:.5rem 0;height:1.75rem;line-height:1.75rem;border:.05rem solid #636880;border-radius:.2rem;cursor:pointer}
.schoolRecord-pop .inner .sre-list li .sre-title{padding-left:.75rem;font-size:.8rem;color:#636880;margin-top:0.085rem}
.schoolRecord-pop .inner .sre-list li .sre-title .txt{padding:.4rem;float:right;width:8rem;text-align:right;border:0 none;outline:0}
.schoolRecord-pop .inner .sre-btn{height:2.775rem;font-size:0;line-height:2.775rem;border-top:.025rem solid #cdd3dc}
.schoolRecord-pop .inner .sre-btn a{width:50%;display:inline-block;text-align:center;font-size:.9rem}
.schoolRecord-pop .inner .sre-btn a.sure_btn{color:#fff;background-color:#ff7d5a}
.schoolRecord-pop .inner .sre-btn a.cancel_btn{color:#636880;background-color:#fff}
.srd-top span{padding:0 1.625rem;display:inline-block;font-size:.75rem;color:#77595a;cursor:pointer}
.srd-module .mTable table{width:100%;text-align:center;font-size:.65rem;color:#636880}
.srd-module .mTable table thead tr{border-bottom:.025rem solid #e6e9f0}
.srd-module .mTable table tr:nth-child(even){background-color:#f9f9fa}
.srd-module .mTable table tr td{padding:.75rem 0;vertical-align:middle;width:20%}
.srd-module .mTable table tfoot td{padding-left:.75rem;text-align:left}
.schoolParticular-point{position:relative;padding:0 0 0 1.9rem;height:2rem;font-size:.65rem;color:#ff7d5a;line-height:2rem;background:#fff6ee}
.schoolParticular-point:after{position:absolute;top:50%;left:1rem;content:'';margin:-.325rem 0 0 0;width:.65rem;height:.65rem;background:url(/public/rebuildRes/image/mobile/res/school-particular-icon01.png) no-repeat;background-size:100%}
.schoolParticular-point a{position:relative;display:block;font-size:.65rem;color:#ff7d5a}
.schoolParticular-point a:after{position:absolute;top:50%;right:1rem;content:'';margin:-.325rem 0 0 0;width:.35rem;height:.65rem;background:url(/public/rebuildRes/image/mobile/res/school-particular-arrow01.png) no-repeat;background-size:100%}
.schoolParticular-box{margin:.5rem 0;background:#fff}
.schoolParticular-box .particular-info{padding:.375rem 1rem;font-size:.65rem;color:#636880;line-height:1.4rem}
.schoolParticular-box .particular-info .txtOrange{color:#ff7d5a}
.schoolParticular-box .particular-image{margin-left:1rem;padding:.65rem 1rem .65rem 0;border-bottom:.05rem solid #dde2ea;overflow:hidden}
.schoolParticular-box .particular-image:last-child{border:none}
.schoolParticular-box .particular-image .left{float:left;font-size:.75rem;color:#636880}
.schoolParticular-box .particular-image .left .p-1{padding:.65rem 0 0 0}
.schoolParticular-box .particular-image .left i{margin-left:.25rem;display:inline-block;vertical-align:middle;width:.7rem;height:.7rem;background:url(/public/rebuildRes/image/mobile/res/school-particular-icon04.png) no-repeat;background-size:100% 100%}
.schoolParticular-box .particular-image .right{float:right;font-size:.65rem;color:#898c91;line-height:1.025rem}
.schoolParticular-box .particular-image .right a{position:relative;padding-right:1rem;display:block}
.schoolParticular-box .particular-image .right a img{position:relative;width:2.25rem;height:2.25rem;background:#edf3fa;border-radius:.2rem;overflow:hidden}
.schoolParticular-box .particular-image .right a img:after{position:absolute;top:50%;left:50%;content:'';margin:-.6rem 0 0 -.6rem;width:1.2rem;height:1.2rem;background:url(/public/rebuildRes/image/mobile/res/school-particular-icon03.png) no-repeat;background-size:100% 100%}
.schoolParticular-box .particular-image .right a:after{position:absolute;top:50%;right:0;content:'';margin:-.425rem 0 0 0;width:.45rem;height:.85rem;background:url(/public/rebuildRes/image/mobile/res/school-particular-arrow02.png) no-repeat;background-size:100% 100%}
.particular-title{position:relative;margin:0 0 0 1rem;height:2rem;font-size:.65rem;color:#9199bb;line-height:2rem;border-bottom:.05rem dashed #dde2ea}
.particular-title .data{padding:0 1rem 0 0;float:right}
textarea {word-wrap:break-word;padding: .5rem 1rem;display: block; width: 100%;font-size: .75rem; color:#000;height: 5.625rem; border: 0 none; resize: none; outline: none;}
.particular-subtitle{padding:.5rem 0 0 1rem;font-size:.65rem;color:#9199bb}
.schoolParticular-pop{position:fixed;top:0;left:0;width:100%;height:100%;background-color:rgba(0,0,0,.6)}
.schoolParticular-pop .inner{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-webkit-transform:translate(-50%,-50%);-moz-transform:translate(-50%,-50%);-o-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);width:15.5rem;border-radius:.2rem;background-color:#fff;overflow:hidden}
.schoolParticular-pop h1{padding:1.5rem 0 0 0;text-align:center;font-size:.9rem;color:#ff7d5a;font-weight:400}
.schoolParticular-pop ul{margin:1.125rem 1.75rem;height:5rem;overflow-y:auto}
.schoolParticular-pop ul li{margin-bottom:.625rem;font-size:.75rem;color:#636880}
.schoolParticular-pop .info{padding:1.125rem 0 1.75rem 0;text-align:center;font-size:.75rem;color:#636880;line-height:1.15rem}
.schoolParticular-pop .item{padding:.25rem 0 0 0;text-align:center;font-size:.55rem;color:#898c91}
.schoolParticular-pop .btn{display:-webkit-box;display:-moz-box}
.schoolParticular-pop .btn a{-webkit-box-flex:1;-moz-box-flex:1;width:100%;display:block;height:2.25rem;text-align:center;font-size:.9rem;color:#fff;line-height:2.25rem;background-color:#ff7d5a}
.schoolParticular-pop .btn a.white_btn{color:#636880;height:2.2rem;background-color:#fff;border-top:.05rem solid #cdd3dc}
.schoolParticular-list{margin:.5rem 0;background-color:#fff}
.schoolParticular-list li{margin:0 0 0 1rem;border-bottom:.05rem solid #dde2ea}
.schoolParticular-list li:last-child{border:none}
.schoolParticular-list li input{padding:.85rem 0;width:100%;font-size:.75rem;color:#636880;border:none;outline:0}
.schoolParticular-info{padding:.5rem 1rem;margin:.5rem 0;background-color:#fff}
.schoolParticular-info p{padding:.25rem 0;font-size:.75rem;color:#636880;line-height:1.15rem}
.mobileCRM-V2-info{font-size:.75rem}
.school_length input{width:10%;font-size:.75rem;text-align:center;}
.school_length span{margin-left:13%;}
.school_length ul li {width:100%;text-align:center;}
.schoolParticular-edit{margin:.5rem 0;background-color:#fff}
.schoolParticular-edit .edit-title{padding:.75rem 0;margin-left:1rem;font-size:.75rem;color:#636880;border-bottom:.05rem dashed #dde2ea}
.schoolParticular-edit .edit-title span{font-size:.65rem;color:#898c91}
.schoolParticular-edit .edit-list ul{overflow:hidden}
.schoolParticular-edit .edit-list li{padding:.25rem 1rem .25rem 0;overflow:hidden;border-bottom:.05rem solid #dde2ea;margin-left:1rem;}
.schoolParticular-edit .edit-list li div{float:left;width:30%;font-size:.65rem;color:#636880;text-align:left}
.schoolParticular-edit .edit-list li div:nth-child(3){float:left;width:33.33%;font-size:.65rem;color:#636880;text-align:center}
.schoolParticular-edit .edit-list li div input{width:1.75rem;text-align:center;color:#ff8564;border:none;outline:0;font-size:.75rem;}
.schoolParticular-edit .edit-list li:last-child{border:none}
.photoLibrary-box{background-color:#fff}
.photoLibrary-box .add_btn{position:relative;margin:.75rem;display:block;width:5rem;height:6.25rem;background:#fff;border-radius:.25rem;border:.025rem dashed #d2d2d2}
.photoLibrary-box .add_btn:after{position:absolute;top:50%;left:50%;content:'';margin:-1rem 0 0 -1rem;width:2rem;height:2rem;background:url(/public/rebuildRes/image/mobile/res/add-btn.png) no-repeat;background-size:100% 100%}
.photoLibrary-box .time{padding:.375rem .625rem;font-size:.75rem;color:#636880}
.photoLibrary-box .photo-list{padding:0 .375rem;overflow:hidden}
.photoLibrary-box .photo-list li{float:left;width:33.33%}
.photoLibrary-box .photo-list li .image{margin:0 auto;width:5rem;height:6.25rem;background:#f1f1f1;border-radius:.25rem;overflow:hidden;cursor:pointer}
.photoLibrary-box .photo-list li .image img{width:100%;height:100%}
.photoLibrary-content{margin:.5rem}
.photoLibrary-content .image img{display:block;width:100%;height:100%}
.vir-content{margin-bottom:.5rem; overflow: hidden;}
.vir-title{margin-left:1rem;height:1.875rem;line-height:1.875rem;font-size: .65rem;color:#9199bb;border-bottom:1px dashed #dde2ea}
.vir-content .text textarea {word-break: break-all;padding: .5rem 1rem;display: block; width: 90%;font-size: .75rem; color:#c2c8d4;height: 5.625rem; border: 0 none; resize: none; outline: none;}
.icon-ENGLISH{background:url(/public/rebuildRes/image/mobile/res/icon-ENGLISH.png) ; display:inline-block;vertical-align:middle;width:.875rem;height:.875rem;background-size:100% 100%;}
.icon-MATH{background:url(/public/rebuildRes/image/mobile/res/icon-MATH.png) ; display:inline-block;vertical-align:middle;width:.875rem;height:.875rem;background-size:100% 100%;}
.icon-CHINESE{background:url(/public/rebuildRes/image/mobile/res/icon-CHINESE.png) ; display:inline-block;vertical-align:middle;width:.875rem;height:.875rem;background-size:100% 100%;}
.icon-PHYSICS{background:url(/public/rebuildRes/image/mobile/res/icon-PHYSICS.png) ; display:inline-block;vertical-align:middle;width:.875rem;height:.875rem;background-size:100% 100%;}
.icon-CHEMISTRY{background:url(/public/rebuildRes/image/mobile/res/icon-CHEMISTRY.png) ; display:inline-block;vertical-align:middle;width:.875rem;height:.875rem;background-size:100% 100%;}
.icon-BIOLOGY{background:url(/public/rebuildRes/image/mobile/res/icon-BIOLOGY.png) ; display:inline-block;vertical-align:middle;width:.875rem;height:.875rem;background-size:100% 100%;}
.icon-POLITICS{background:url(/public/rebuildRes/image/mobile/res/icon-POLITICS.png) ; display:inline-block;vertical-align:middle;width:.875rem;height:.875rem;background-size:100% 100%;}
.icon-GEOGRAPHY{background:url(/public/rebuildRes/image/mobile/res/icon-GEOGRAPHY.png) ; display:inline-block;vertical-align:middle;width:.875rem;height:.875rem;background-size:100% 100%;}
.icon-HISTORY{background:url(/public/rebuildRes/image/mobile/res/icon-HISTORY.png) ; display:inline-block;vertical-align:middle;width:.875rem;height:.875rem;background-size:100% 100%;}
.icon-INFORMATION{background:url(/public/rebuildRes/image/mobile/res/icon-INFORMATION.png) ; display:inline-block;vertical-align:middle;width:.875rem;height:.875rem;background-size:100% 100%;}
.permissionSetting-box{padding:.75rem;margin-bottom:.5rem;background-color:#fff}
.permissionSetting-box .set_title{font-size:.7rem;color:#9199bb}
.permissionSetting-box .set_content{padding:.375rem .375rem 0 .375rem;font-size:.65rem;color:#636880}
.permissionSetting-box .set_content .list{padding:.3rem 0;line-height:1rem;overflow:hidden}
.permissionSetting-box .set_content .list div{float:left;width:50%}
.permissionSetting-box .set_content .list .right .font.orange{color:#ff7d5a}
.permissionSetting-box .set_content .list .right .btn{float:right;padding:0 .375rem;display:inline-block;text-align:center;font-size:.6rem;color:#fff;line-height:1rem;background-color:#ff7d5a;border-radius:.2rem}
.permissionSetting-box .set_content .list .right .btn.gray{background-color:#ccc;cursor:default}
.visit_box{padding:0 .75rem;margin:.5rem 0;background-color:#fff}
.visit_box .v_title{font-size:.7rem;color:#9199bb;padding:.625rem 0 .45rem 0}
.visit_box .v_side .list{overflow:hidden}
.visit_box .v_side .list .subtitle{float:left;font-size:.65rem;color:#636880}
.visit_box .v_side .list .per{font-size:.65rem;color:#636880}
.visit_box .v_side .list ul{margin-left:5rem}
.visit_box .v_side .list ul li{float:left}
.visit_box .v_side .list ul li span{margin:0 .25rem;display:inline-block;vertical-align:top;width:1rem;height:1rem;background-image:url(/public/rebuildRes/image/mobile/res/icon1.png);background-repeat:no-repeat;background-size:100% 100%}
.visit_box .v_side .list ul li.active span{background-image:url(/public/rebuildRes/image/mobile/res/icon2.png)}
.visit_content{color:#636880;background:#fff}
.visit_content .title{padding:.45rem .75rem;font-size:.7rem;color:#636880;background:#ebebeb}
.visit_content .list{padding:0 .75rem}
.visit_content .list li{margin:.75rem 0;font-size:.65rem;color:#636880}
.visit_content .list li .txt{float:left;width:3rem}
.visit_content .list li .item{margin-left:3.5rem}
.visit_content .content{padding:.75rem 0;margin:0 .75rem;font-size:.65rem;color:#636880;border-bottom:1px solid #e6e6e6}
.visit_content .content .headTxt{padding-bottom:.25rem;color:#ff7d5a}
.visit_content .content .info{line-height:.95rem}
.visit_content .column li{margin:0 .75rem;font-size:.65rem;color:#636880;border-bottom:1px solid #e6e6e6}
.visit_content .column li a{position:relative;padding:.55rem 0;display:block}
.visit_content .column li a:before{position:absolute;top:50%;right:0;content:'';margin:-.275rem 0 0 0;width:.3rem;height:.55rem;background:url(/public/rebuildRes/image/mobile/res/arrow1.png) no-repeat;background-size:100% 100%}
.visit_content .column li:last-child{border:none}