.honour_big,.honour_small,.honour_small_g{background-repeat: no-repeat !important; display:inline-block !important;  padding:0 !important; cursor: pointer; overflow:hidden;}
.honour_small ,.honour_small_g{ width: 32px !important; height: 32px !important; margin:2px 3px!important;}
.honour_small_g{ background:url(../images/honour/32/g1.png) 0 -32px !important;}
.honour_small_1{ background:url(../images/honour/32/1.png); background-position: 0 0 !important;}
.honour_small_2{ background:url(../images/honour/32/2.png);}
.honour_small_3{ background:url(../images/honour/32/3.png);}
.honour_small_4{ background:url(../images/honour/32/4.png);}
.honour_small_5{ background:url(../images/honour/32/5.png);}
.honour_small_6{ background:url(../images/honour/32/6.png);}
.honour_small_7{ background:url(../images/honour/32/7.png);}
.honour_small_8{ background:url(../images/honour/32/8.png);}
.honour_small_9{ background:url(../images/honour/32/9.png);}
.honour_small_10{ background:url(../images/honour/32/10.png);}
.honour_small_11{ background:url(../images/honour/32/11.png);}
.honour_small_12{ background:url(../images/honour/32/12.png);}
.honour_small_13{ background:url(../images/honour/32/13.png);}
.honour_small_14{ background:url(../images/honour/32/14.png);}
.honour_small_15{ background:url(../images/honour/32/15.png);}
.honour_small_16{ background:url(../images/honour/32/16.png);}
.honour_small_17{ background:url(../images/honour/32/17.png);}
.honour_small_18{ background:url(../images/honour/32/18.png);}
.honour_small_19{ background:url(../images/honour/32/19.png);}
.honour_small_20{ background:url(../images/honour/32/20.png);}
.honour_small_21{ background:url(../images/honour/32/21.png);}
.honour_small_22{ background:url(../images/honour/32/22.png);}
.honour_small_23{ background:url(../images/honour/32/23.png);}
.honour_small_24{ background:url(../images/honour/32/24.png);}
.honour_small_25{ background:url(../images/honour/32/25.png);}
.honour_small_26{ background:url(../images/honour/32/26.png);}
.honour_small_27{ background:url(../images/honour/32/27.png);}
.honour_small_28{ background:url(../images/honour/32/28.png);}
.honour_small_29{ background:url(../images/honour/32/29.png);}
.honour_small_30{ background:url(../images/honour/32/30.png);}
.honour_small_31{ background:url(../images/honour/32/31.png);}
.honour_small_32{ background:url(../images/honour/32/32.png);}
.honour_small_33{ background:url(../images/honour/32/33.png);}
.honour_small_34{ background:url(../images/honour/32/34.png);}
.honour_small_35{ background:url(../images/honour/32/35.png);}
.honour_small_36{ background:url(../images/honour/32/36.png);}
.honour_big { width: 96px !important; height: 96px !important; margin:6px !important; }
.honour_big_1{ background:url(../images/honour/96/1.png);}
.honour_big_2{ background:url(../images/honour/96/2.png);}
.honour_big_3{ background:url(../images/honour/96/3.png);}
.honour_big_4{ background:url(../images/honour/96/4.png);}
.honour_big_5{ background:url(../images/honour/96/5.png);}
.honour_big_6{ background:url(../images/honour/96/6.png);}
.honour_big_7{ background:url(../images/honour/96/7.png);}
.honour_big_8{ background:url(../images/honour/96/8.png);}
.honour_big_9{ background:url(../images/honour/96/9.png);}
.honour_big_10{ background:url(../images/honour/96/10.png);}
.honour_big_11{ background:url(../images/honour/96/11.png);}
.honour_big_12{ background:url(../images/honour/96/12.png);}
.honour_big_13{ background:url(../images/honour/96/13.png);}
.honour_big_14{ background:url(../images/honour/96/14.png);}
.honour_big_15{ background:url(../images/honour/96/15.png);}
.honour_big_16{ background:url(../images/honour/96/16.png);}
.honour_big_17{ background:url(../images/honour/96/17.png);}
.honour_big_18{ background:url(../images/honour/96/18.png);}
.honour_big_19{ background:url(../images/honour/96/19.png);}
.honour_big_20{ background:url(../images/honour/96/20.png);}
.honour_big_21{ background:url(../images/honour/96/21.png);}
.honour_big_22{ background:url(../images/honour/96/22.png);}
.honour_big_23{ background:url(../images/honour/96/23.png);}
.honour_big_24{ background:url(../images/honour/96/24.png);}
.honour_big_25{ background:url(../images/honour/96/25.png);}
.honour_big_26{ background:url(../images/honour/96/26.png);}
.honour_big_27{ background:url(../images/honour/96/27.png);}
.honour_big_28{ background:url(../images/honour/96/28.png);}
.honour_big_29{ background:url(../images/honour/96/29.png);}
.honour_big_30{ background:url(../images/honour/96/30.png);}
.honour_big_31{ background:url(../images/honour/96/31.png);}
.honour_big_32{ background:url(../images/honour/96/32.png);}
.honour_big_33{ background:url(../images/honour/96/33.png);}
.honour_big_34{ background:url(../images/honour/96/34.png);}
.honour_big_35{ background:url(../images/honour/96/35.png);}
.honour_big_36{ background:url(../images/honour/96/36.png);}
