.practice_big,.practice_small{background-repeat: no-repeat !important; display:inline-block !important;  padding:0 !important;  margin:0 !important; overflow:hidden;}
.practice_small { width: 46px !important; height: 46px !important;}
.practice_small_1{ background:url(../images/practice/46/1.png?1.1.0)}
.practice_small_2{ background:url(../images/practice/46/2.png?1.1.0)}
.practice_small_3{ background:url(../images/practice/46/3.png?1.1.0)}
.practice_small_4{ background:url(../images/practice/46/4.png?1.1.0)}
.practice_small_5{ background:url(../images/practice/46/5.png?1.1.0)}
.practice_small_6{ background:url(../images/practice/46/6.png?1.1.0)}
.practice_small_7{ background:url(../images/practice/46/7.png?1.1.0)}
.practice_small_8{ background:url(../images/practice/46/8.png?1.1.0)}
.practice_small_9{ background:url(../images/practice/46/9.png?1.1.0)}
.practice_small_10{ background:url(../images/practice/46/10.png?1.1.0)}
.practice_small_11{ background:url(../images/practice/46/11.png?1.1.0)}
.practice_small_12{ background:url(../images/practice/46/12.png?1.1.0)}
.practice_small_13{ background:url(../images/practice/46/13.png?1.1.0)}
.practice_small_14{ background:url(../images/practice/46/14.png?1.1.0)}
.practice_small_15{ background:url(../images/practice/46/15.png?1.1.0)}
.practice_small_16{ background:url(../images/practice/46/16.png?1.1.0)}
.practice_small_17{ background:url(../images/practice/46/17.png?1.1.0)}
.practice_small_18{ background:url(../images/practice/46/18.png?1.1.0)}
.practice_small_19{ background:url(../images/practice/46/19.png?1.1.0)}
.practice_small_20{ background:url(../images/practice/46/20.png?1.1.0)}
.practice_small_21{ background:url(../images/practice/46/21.png?1.1.0)}
.practice_small_22{ background:url(../images/practice/46/22.png?1.1.0)}
.practice_small_23{ background:url(../images/practice/46/23.png?1.1.0)}
.practice_small_24{ background:url(../images/practice/46/24.png?1.1.0)}
.practice_small_25{ background:url(../images/practice/46/25.png?1.1.0)}
.practice_small_26{ background:url(../images/practice/46/26.png?1.1.0)}
.practice_small_27{ background:url(../images/practice/46/27.png?1.1.0)}
.practice_small_28{ background:url(../images/practice/46/28.png?1.1.0)}
.practice_small_29{ background:url(../images/practice/46/29.png?1.1.0)}
.practice_small_30{ background:url(../images/practice/46/30.png?1.1.0)}
.practice_small_31{ background:url(../images/practice/46/31.png?1.1.0)}
.practice_small_32{ background:url(../images/practice/46/32.png?1.1.0)}
.practice_small_33{ background:url(../images/practice/46/33.png?1.1.0)}
.practice_small_34{ background:url(../images/practice/46/34.png?1.1.0)}
.practice_small_35{ background:url(../images/practice/46/35.png?1.1.0)}
.practice_small_36{ background:url(../images/practice/46/36.png?1.1.0)}
.practice_small_37{ background:url(../images/practice/46/37.png?1.1.0)}
.practice_small_38{ background:url(../images/practice/46/38.png?1.1.0)}
.practice_small_39{ background:url(../images/practice/46/39.png?1.1.0)}
.practice_small_40{ background:url(../images/practice/46/40.png?1.1.0)}
.practice_small_41{ background:url(../images/practice/46/41.png?1.1.1)}
/*.practice_small_42{ background:url(../images/practice/46/42.png?1.1.0)}*/
.practice_small_43{ background:url(../images/practice/46/43.png?1.1.1)}
.practice_small_44{ background:url(../images/practice/46/44.png?1.1.1)}
/*.practice_small_45{ background:url(../images/practice/46/45.png?1.1.0)}*/
.practice_small_46{ background:url(../images/practice/46/46.png?1.1.1)}
.practice_small_47{ background:url(../images/practice/46/47.png?1.1.1)}
.practice_small_48{ background:url(../images/practice/46/48.png?1.1.1)}
.practice_small_49{ background:url(../images/practice/46/49.png?1.1.1)}
.practice_small_50{ background:url(../images/practice/46/50.png?1.1.0)}
.practice_small_51{ background:url(../images/practice/46/51.png?1.1.0)}
.practice_small_52{ background:url(../images/practice/46/52.png?1.1.0)}
/*70-70*/
.practice_big { width: 70px !important; height: 70px !important;}
.practice_big_1{ background:url(../images/practice/70/1.png?1.1.0)}
.practice_big_2{ background:url(../images/practice/70/2.png?1.1.0)}
.practice_big_3{ background:url(../images/practice/70/3.png?1.1.0)}
.practice_big_4{ background:url(../images/practice/70/4.png?1.1.0)}
.practice_big_5{ background:url(../images/practice/70/5.png?1.1.0)}
.practice_big_6{ background:url(../images/practice/70/6.png?1.1.0)}
.practice_big_7{ background:url(../images/practice/70/7.png?1.1.0)}
.practice_big_8{ background:url(../images/practice/70/8.png?1.1.0)}
.practice_big_9{ background:url(../images/practice/70/9.png?1.1.0)}
.practice_big_10{ background:url(../images/practice/70/10.png?1.1.0)}
.practice_big_11{ background:url(../images/practice/70/11.png?1.1.0)}
.practice_big_12{ background:url(../images/practice/70/12.png?1.1.0)}
.practice_big_13{ background:url(../images/practice/70/13.png?1.1.0)}
.practice_big_14{ background:url(../images/practice/70/14.png?1.1.0)}
.practice_big_15{ background:url(../images/practice/70/15.png?1.1.0)}
.practice_big_16{ background:url(../images/practice/70/16.png?1.1.0)}
.practice_big_17{ background:url(../images/practice/70/17.png?1.1.0)}
.practice_big_18{ background:url(../images/practice/70/18.png?1.1.0)}
.practice_big_19{ background:url(../images/practice/70/19.png?1.1.0)}
.practice_big_20{ background:url(../images/practice/70/20.png?1.1.0)}
.practice_big_21{ background:url(../images/practice/70/21.png?1.1.0)}
.practice_big_22{ background:url(../images/practice/70/22.png?1.1.0)}
.practice_big_23{ background:url(../images/practice/70/23.png?1.1.0)}
.practice_big_24{ background:url(../images/practice/70/24.png?1.1.0)}
.practice_big_25{ background:url(../images/practice/70/25.png?1.1.0)}
.practice_big_26{ background:url(../images/practice/70/26.png?1.1.0)}
.practice_big_27{ background:url(../images/practice/70/27.png?1.1.0)}
.practice_big_28{ background:url(../images/practice/70/28.png?1.1.0)}
.practice_big_29{ background:url(../images/practice/70/29.png?1.1.0)}
.practice_big_30{ background:url(../images/practice/70/30.png?1.1.0)}
.practice_big_31{ background:url(../images/practice/70/31.png?1.1.0)}
.practice_big_32{ background:url(../images/practice/70/32.png?1.1.0)}
.practice_big_33{ background:url(../images/practice/70/33.png?1.1.0)}
.practice_big_34{ background:url(../images/practice/70/34.png?1.1.0)}
.practice_big_35{ background:url(../images/practice/70/35.png?1.1.0)}
.practice_big_36{ background:url(../images/practice/70/36.png?1.1.0)}
.practice_big_37{ background:url(../images/practice/70/37.png?1.1.0)}
.practice_big_38{ background:url(../images/practice/70/38.png?1.1.0)}
.practice_big_39{ background:url(../images/practice/70/39.png?1.1.0)}
.practice_big_40{ background:url(../images/practice/70/40.png?1.1.0)}
.practice_big_41{ background:url(../images/practice/70/41.png?1.1.1)}
/*.practice_big_42{ background:url(../images/practice/70/42.png?1.1.0)}*/
.practice_big_43{ background:url(../images/practice/70/43.png?1.1.1)}
.practice_big_44{ background:url(../images/practice/70/44.png?1.1.1)}
/*.practice_big_45{ background:url(../images/practice/70/45.png?1.1.0)}*/
.practice_big_46{ background:url(../images/practice/70/46.png?1.1.1)}
.practice_big_47{ background:url(../images/practice/70/47.png?1.1.1)}
.practice_big_48{ background:url(../images/practice/70/48.png?1.1.1)}
.practice_big_49{ background:url(../images/practice/70/49.png?1.1.1)}
.practice_big_50{ background:url(../images/practice/70/50.png?1.1.0)}
.practice_big_51{ background:url(../images/practice/70/51.png?1.1.0)}
.practice_big_52{ background:url(../images/practice/70/52.png?1.1.0)}
/*gray*/
.practice_big_g_1{ background:url(../images/practice/70g/1.png?1.1.0)}
.practice_big_g_2{ background:url(../images/practice/70g/2.png?1.1.0)}
.practice_big_g_3{ background:url(../images/practice/70g/3.png?1.1.0)}
.practice_big_g_4{ background:url(../images/practice/70g/4.png?1.1.0)}
.practice_big_g_5{ background:url(../images/practice/70g/5.png?1.1.0)}
.practice_big_g_6{ background:url(../images/practice/70g/6.png?1.1.0)}
.practice_big_g_7{ background:url(../images/practice/70g/7.png?1.1.0)}
.practice_big_g_8{ background:url(../images/practice/70g/8.png?1.1.0)}
.practice_big_g_9{ background:url(../images/practice/70g/9.png?1.1.0)}
.practice_big_g_10{ background:url(../images/practice/70g/10.png?1.1.0)}
.practice_big_g_11{ background:url(../images/practice/70g/11.png?1.1.0)}
.practice_big_g_12{ background:url(../images/practice/70g/12.png?1.1.0)}
.practice_big_g_13{ background:url(../images/practice/70g/13.png?1.1.0)}
.practice_big_g_14{ background:url(../images/practice/70g/14.png?1.1.0)}
.practice_big_g_15{ background:url(../images/practice/70g/15.png?1.1.0)}
.practice_big_g_16{ background:url(../images/practice/70g/16.png?1.1.0)}
.practice_big_g_17{ background:url(../images/practice/70g/17.png?1.1.0)}
.practice_big_g_18{ background:url(../images/practice/70g/18.png?1.1.0)}
.practice_big_g_19{ background:url(../images/practice/70g/19.png?1.1.0)}
.practice_big_g_20{ background:url(../images/practice/70g/20.png?1.1.0)}
.practice_big_g_21{ background:url(../images/practice/70g/21.png?1.1.0)}
.practice_big_g_22{ background:url(../images/practice/70g/22.png?1.1.0)}
.practice_big_g_23{ background:url(../images/practice/70g/23.png?1.1.0)}
.practice_big_g_24{ background:url(../images/practice/70g/24.png?1.1.0)}
.practice_big_g_25{ background:url(../images/practice/70g/25.png?1.1.0)}
.practice_big_g_26{ background:url(../images/practice/70g/26.png?1.1.0)}
.practice_big_g_27{ background:url(../images/practice/70g/27.png?1.1.0)}
.practice_big_g_28{ background:url(../images/practice/70g/28.png?1.1.0)}
.practice_big_g_29{ background:url(../images/practice/70g/29.png?1.1.0)}
.practice_big_g_30{ background:url(../images/practice/70g/30.png?1.1.0)}
.practice_big_g_31{ background:url(../images/practice/70g/31.png?1.1.0)}
.practice_big_g_32{ background:url(../images/practice/70g/32.png?1.1.0)}
.practice_big_g_33{ background:url(../images/practice/70g/33.png?1.1.0)}
.practice_big_g_34{ background:url(../images/practice/70g/34.png?1.1.0)}
.practice_big_g_35{ background:url(../images/practice/70g/35.png?1.1.0)}
.practice_big_g_36{ background:url(../images/practice/70g/36.png?1.1.0)}
.practice_big_g_37{ background:url(../images/practice/70g/37.png?1.1.0)}
.practice_big_g_38{ background:url(../images/practice/70g/38.png?1.1.0)}
.practice_big_g_39{ background:url(../images/practice/70g/39.png?1.1.0)}
.practice_big_g_40{ background:url(../images/practice/70g/40.png?1.1.0)}
.practice_big_g_41{ background:url(../images/practice/70g/41.png?1.1.0)}
/*.practice_big_g_42{ background:url(../images/practice/70g/42.png?1.1.0)}*/
.practice_big_g_43{ background:url(../images/practice/70g/43.png?1.1.0)}
.practice_big_g_44{ background:url(../images/practice/70g/44.png?1.1.0)}
/*.practice_big_g_45{ background:url(../images/practice/70g/45.png?1.1.0)}*/
.practice_big_g_46{ background:url(../images/practice/70g/46.png?1.1.0)}
.practice_big_g_47{ background:url(../images/practice/70g/47.png?1.1.0)}
.practice_big_g_48{ background:url(../images/practice/70g/48.png?1.1.0)}
.practice_big_g_49{ background:url(../images/practice/70g/49.png?1.1.0)}
.practice_big_g_50{ background:url(../images/practice/70g/50.png?1.1.0)}
.practice_big_g_51{ background:url(../images/practice/70g/51.png?1.1.0)}
.practice_big_g_52{ background:url(../images/practice/70g/52.png?1.1.0)}