.practice_big,.practice_small{background-repeat: no-repeat !important; display:inline-block !important;  padding:0 !important;  margin:0 !important; overflow:hidden;}
.practice_small { width: 69px !important; height: 71px !important;}
.practice_small_1{ background:url(../images/practice/small/1.png)}
.practice_small_2{ background:url(../images/practice/small/2.png)}
.practice_small_3{ background:url(../images/practice/small/3.png)}
.practice_small_4{ background:url(../images/practice/small/4.png)}
.practice_small_5{ background:url(../images/practice/small/5.png)}
.practice_small_6{ background:url(../images/practice/small/6.png)}
.practice_small_7{ background:url(../images/practice/small/7.png)}
.practice_small_8{ background:url(../images/practice/small/8.png)}
.practice_small_9{ background:url(../images/practice/small/9.png)}
.practice_small_10{ background:url(../images/practice/small/10.png)}
.practice_small_11{ background:url(../images/practice/small/11.png)}
.practice_small_12{ background:url(../images/practice/small/12.png)}
.practice_small_13{ background:url(../images/practice/small/13.png)}
.practice_small_14{ background:url(../images/practice/small/14.png)}
.practice_small_15{ background:url(../images/practice/small/15.png)}
.practice_small_16{ background:url(../images/practice/small/16.png)}
.practice_small_17{ background:url(../images/practice/small/17.png)}
.practice_small_18{ background:url(../images/practice/small/18.png)}
.practice_small_19{ background:url(../images/practice/small/19.png)}
.practice_small_20{ background:url(../images/practice/small/20.png)}
.practice_small_21{ background:url(../images/practice/small/21.png)}
.practice_small_22{ background:url(../images/practice/small/22.png)}
.practice_small_23{ background:url(../images/practice/small/23.png)}
.practice_small_24{ background:url(../images/practice/small/24.png)}
.practice_small_25{ background:url(../images/practice/small/25.png)}
.practice_small_26{ background:url(../images/practice/small/26.png)}
.practice_small_27{ background:url(../images/practice/small/27.png)}
.practice_small_28{ background:url(../images/practice/small/28.png)}
.practice_small_29{ background:url(../images/practice/small/29.png)}
.practice_small_30{ background:url(../images/practice/small/30.png)}
.practice_small_31{ background:url(../images/practice/small/31.png)}
.practice_small_32{ background:url(../images/practice/small/32.png)}
.practice_small_33{ background:url(../images/practice/small/33.png)}
.practice_small_34{ background:url(../images/practice/small/34.png)}
.practice_small_35{ background:url(../images/practice/small/35.png)}
.practice_small_36{ background:url(../images/practice/small/36.png)}
.practice_small_37{ background:url(../images/practice/small/37.png)}
.practice_small_38{ background:url(../images/practice/small/38.png)}
.practice_small_39{ background:url(../images/practice/small/39.png)}
.practice_small_40{ background:url(../images/practice/small/40.png)}
.practice_small_41{ background:url(../images/practice/small/41.png)}
/*.practice_small_42{ background:url(../images/practice/small/42.png)}*/
.practice_small_43{ background:url(../images/practice/small/43.png)}
.practice_small_44{ background:url(../images/practice/small/44.png)}
/*.practice_small_45{ background:url(../images/practice/small/45.png)}*/
.practice_small_46{ background:url(../images/practice/small/46.png)}
.practice_small_47{ background:url(../images/practice/small/47.png)}
.practice_small_48{ background:url(../images/practice/small/48.png)}
.practice_small_49{ background:url(../images/practice/small/49.png)}
.practice_small_50{ background:url(../images/practice/small/50.png)}
.practice_small_51{ background:url(../images/practice/small/51.png)}
.practice_small_52{ background:url(../images/practice/small/52.png)}
.practice_small_53{ background:url(../images/practice/small/53.png)}
.practice_small_54{ background:url(../images/practice/small/54.png)}
.practice_small_55{ background:url(../images/practice/small/55.png)}
.practice_small_56{ background:url(../images/practice/small/56.png)}
.practice_small_57{ background:url(../images/practice/small/57.png)}
.practice_small_58{ background:url(../images/practice/small/58.png)}
.practice_small_59{ background:url(../images/practice/small/59.png)}
.practice_small_60{ background:url(../images/practice/small/60.png)}
.practice_small_61{ background:url(../images/practice/small/61.png)}
.practice_small_62{ background:url(../images/practice/small/62.png)}
.practice_small_63{ background:url(../images/practice/small/63.png)}
.practice_small_64{ background:url(../images/practice/small/64.png)}
.practice_small_65{ background:url(../images/practice/small/65.png)}
.practice_small_66{ background:url(../images/practice/small/66.png)}
.practice_small_67{ background:url(../images/practice/small/67.png)}
.practice_small_68{ background:url(../images/practice/small/68.png)}
.practice_small_69{ background:url(../images/practice/small/69.png)}
.practice_small_70{ background:url(../images/practice/small/70.png)}
.practice_small_71{ background:url(../images/practice/small/71.png)}
.practice_small_72{ background:url(../images/practice/small/66.png)}
.practice_small_73{ background:url(../images/practice/small/73.png)}
.practice_small_74{ background:url(../images/practice/small/74.png)}
.practice_small_75{ background:url(../images/practice/small/75.png)}
.practice_small_76{ background:url(../images/practice/small/76.png)}
.practice_small_77{ background:url(../images/practice/small/77.png)}
.practice_small_78{ background:url(../images/practice/small/78.png)}
.practice_small_79{ background:url(../images/practice/small/79.png)}
.practice_small_80{ background:url(../images/practice/small/80.png)}
.practice_small_81{ background:url(../images/practice/small/81.png)}
.practice_small_82{ background:url(../images/practice/small/82.png)}
.practice_small_83{ background:url(../images/practice/small/83.png)}
/*new*/
.practice_small_84{ background:url(../images/practice/small/84.png)}
.practice_small_85{ background:url(../images/practice/small/85.png)}
.practice_small_86{ background:url(../images/practice/small/86.png)}
.practice_small_87{ background:url(../images/practice/small/87.png)}
.practice_small_90{ background:url(../images/practice/small/90.png)}
.practice_small_92{ background:url(../images/practice/small/92.png)}
/*106-112*/
.practice_big { width: 106px !important; height: 112px !important;}
.practice_big_1{ background:url(../images/practice/big/1.png)}
.practice_big_2{ background:url(../images/practice/big/2.png)}
.practice_big_3{ background:url(../images/practice/big/3.png)}
.practice_big_4{ background:url(../images/practice/big/4.png)}
.practice_big_5{ background:url(../images/practice/big/5.png)}
.practice_big_6{ background:url(../images/practice/big/6.png)}
.practice_big_7{ background:url(../images/practice/big/7.png)}
.practice_big_8{ background:url(../images/practice/big/8.png)}
.practice_big_9{ background:url(../images/practice/big/9.png)}
.practice_big_10{ background:url(../images/practice/big/10.png)}
.practice_big_11{ background:url(../images/practice/big/11.png)}
.practice_big_12{ background:url(../images/practice/big/12.png)}
.practice_big_13{ background:url(../images/practice/big/13.png)}
.practice_big_14{ background:url(../images/practice/big/14.png)}
.practice_big_15{ background:url(../images/practice/big/15.png)}
.practice_big_16{ background:url(../images/practice/big/16.png)}
.practice_big_17{ background:url(../images/practice/big/17.png)}
.practice_big_18{ background:url(../images/practice/big/18.png)}
.practice_big_19{ background:url(../images/practice/big/19.png)}
.practice_big_20{ background:url(../images/practice/big/20.png)}
.practice_big_21{ background:url(../images/practice/big/21.png)}
.practice_big_22{ background:url(../images/practice/big/22.png)}
.practice_big_23{ background:url(../images/practice/big/23.png)}
.practice_big_24{ background:url(../images/practice/big/24.png)}
.practice_big_25{ background:url(../images/practice/big/25.png)}
.practice_big_26{ background:url(../images/practice/big/26.png)}
.practice_big_27{ background:url(../images/practice/big/27.png)}
.practice_big_28{ background:url(../images/practice/big/28.png)}
.practice_big_29{ background:url(../images/practice/big/29.png)}
.practice_big_30{ background:url(../images/practice/big/30.png)}
.practice_big_31{ background:url(../images/practice/big/31.png)}
.practice_big_32{ background:url(../images/practice/big/32.png)}
.practice_big_33{ background:url(../images/practice/big/33.png)}
.practice_big_34{ background:url(../images/practice/big/34.png)}
.practice_big_35{ background:url(../images/practice/big/35.png)}
.practice_big_36{ background:url(../images/practice/big/36.png)}
.practice_big_37{ background:url(../images/practice/big/37.png)}
.practice_big_38{ background:url(../images/practice/big/38.png)}
.practice_big_39{ background:url(../images/practice/big/39.png)}
.practice_big_40{ background:url(../images/practice/big/40.png)}
.practice_big_41{ background:url(../images/practice/big/41.png)}
/*.practice_big_42{ background:url(../images/practice/big/42.png)}*/
.practice_big_43{ background:url(../images/practice/big/43.png)}
.practice_big_44{ background:url(../images/practice/big/44.png)}
/*.practice_big_45{ background:url(../images/practice/big/45.png)}*/
.practice_big_46{ background:url(../images/practice/big/46.png)}
.practice_big_47{ background:url(../images/practice/big/47.png)}
.practice_big_48{ background:url(../images/practice/big/48.png)}
.practice_big_49{ background:url(../images/practice/big/49.png)}
.practice_big_50{ background:url(../images/practice/big/50.png)}
.practice_big_51{ background:url(../images/practice/big/51.png)}
.practice_big_52{ background:url(../images/practice/big/52.png)}
.practice_big_53{ background:url(../images/practice/big/53.png)}
.practice_big_54{ background:url(../images/practice/big/54.png)}
.practice_big_55{ background:url(../images/practice/big/55.png)}
.practice_big_56{ background:url(../images/practice/big/56.png)}
.practice_big_57{ background:url(../images/practice/big/57.png)}
.practice_big_58{ background:url(../images/practice/big/58.png)}
.practice_big_59{ background:url(../images/practice/big/59.png)}
.practice_big_60{ background:url(../images/practice/big/60.png)}
.practice_big_61{ background:url(../images/practice/big/61.png)}
.practice_big_62{ background:url(../images/practice/big/62.png)}
.practice_big_63{ background:url(../images/practice/big/63.png)}
.practice_big_64{ background:url(../images/practice/big/64.png)}
.practice_big_65{ background:url(../images/practice/big/65.png)}
.practice_big_66{ background:url(../images/practice/big/66.png)}
/*new*/
.practice_big_67{ background:url(../images/practice/big/67.png)}
.practice_big_68{ background:url(../images/practice/big/68.png)}
.practice_big_69{ background:url(../images/practice/big/69.png)}
.practice_big_70{ background:url(../images/practice/big/70.png)}
.practice_big_71{ background:url(../images/practice/big/71.png)}
.practice_big_72{ background:url(../images/practice/big/66.png)}
.practice_big_73{ background:url(../images/practice/big/73.png)}
.practice_big_74{ background:url(../images/practice/big/74.png)}
.practice_big_75{ background:url(../images/practice/big/75.png)}
.practice_big_76{ background:url(../images/practice/big/76.png)}
.practice_big_77{ background:url(../images/practice/big/77.png)}
.practice_big_78{ background:url(../images/practice/big/78.png)}
.practice_big_79{ background:url(../images/practice/big/79.png)}
.practice_big_80{ background:url(../images/practice/big/80.png)}
.practice_big_81{ background:url(../images/practice/big/81.png)}
.practice_big_82{ background:url(../images/practice/big/82.png)}
.practice_big_83{ background:url(../images/practice/big/83.png)}
.practice_big_90{ background:url(../images/practice/big/90.png)}
.practice_big_92{ background:url(../images/practice/big/92.png)}
/*gray*/
.practice_big_g_1{ background:url(../images/practice/big-gray/1.png)}
.practice_big_g_2{ background:url(../images/practice/big-gray/2.png)}
.practice_big_g_3{ background:url(../images/practice/big-gray/3.png)}
.practice_big_g_4{ background:url(../images/practice/big-gray/4.png)}
.practice_big_g_5{ background:url(../images/practice/big-gray/5.png)}
.practice_big_g_6{ background:url(../images/practice/big-gray/6.png)}
.practice_big_g_7{ background:url(../images/practice/big-gray/7.png)}
.practice_big_g_8{ background:url(../images/practice/big-gray/8.png)}
.practice_big_g_9{ background:url(../images/practice/big-gray/9.png)}
.practice_big_g_10{ background:url(../images/practice/big-gray/10.png)}
.practice_big_g_11{ background:url(../images/practice/big-gray/11.png)}
.practice_big_g_12{ background:url(../images/practice/big-gray/12.png)}
.practice_big_g_13{ background:url(../images/practice/big-gray/13.png)}
.practice_big_g_14{ background:url(../images/practice/big-gray/14.png)}
.practice_big_g_15{ background:url(../images/practice/big-gray/15.png)}
.practice_big_g_16{ background:url(../images/practice/big-gray/16.png)}
.practice_big_g_17{ background:url(../images/practice/big-gray/17.png)}
.practice_big_g_18{ background:url(../images/practice/big-gray/18.png)}
.practice_big_g_19{ background:url(../images/practice/big-gray/19.png)}
.practice_big_g_20{ background:url(../images/practice/big-gray/20.png)}
.practice_big_g_21{ background:url(../images/practice/big-gray/21.png)}
.practice_big_g_22{ background:url(../images/practice/big-gray/22.png)}
.practice_big_g_23{ background:url(../images/practice/big-gray/23.png)}
.practice_big_g_24{ background:url(../images/practice/big-gray/24.png)}
.practice_big_g_25{ background:url(../images/practice/big-gray/25.png)}
.practice_big_g_26{ background:url(../images/practice/big-gray/26.png)}
.practice_big_g_27{ background:url(../images/practice/big-gray/27.png)}
.practice_big_g_28{ background:url(../images/practice/big-gray/28.png)}
.practice_big_g_29{ background:url(../images/practice/big-gray/29.png)}
.practice_big_g_30{ background:url(../images/practice/big-gray/30.png)}
.practice_big_g_31{ background:url(../images/practice/big-gray/31.png)}
.practice_big_g_32{ background:url(../images/practice/big-gray/32.png)}
.practice_big_g_33{ background:url(../images/practice/big-gray/33.png)}
.practice_big_g_34{ background:url(../images/practice/big-gray/34.png)}
.practice_big_g_35{ background:url(../images/practice/big-gray/35.png)}
.practice_big_g_36{ background:url(../images/practice/big-gray/36.png)}
.practice_big_g_37{ background:url(../images/practice/big-gray/37.png)}
.practice_big_g_38{ background:url(../images/practice/big-gray/38.png)}
.practice_big_g_39{ background:url(../images/practice/big-gray/39.png)}
.practice_big_g_40{ background:url(../images/practice/big-gray/40.png)}
.practice_big_g_41{ background:url(../images/practice/big-gray/41.png)}
/*.practice_big_g_42{ background:url(../images/practice/big-gray/42.png)}*/
.practice_big_g_43{ background:url(../images/practice/big-gray/43.png)}
.practice_big_g_44{ background:url(../images/practice/big-gray/44.png)}
/*.practice_big_g_45{ background:url(../images/practice/big-gray/45.png)}*/
.practice_big_g_46{ background:url(../images/practice/big-gray/46.png)}
.practice_big_g_47{ background:url(../images/practice/big-gray/47.png)}
.practice_big_g_48{ background:url(../images/practice/big-gray/48.png)}
.practice_big_g_49{ background:url(../images/practice/big-gray/49.png)}
.practice_big_g_50{ background:url(../images/practice/big-gray/50.png)}
.practice_big_g_51{ background:url(../images/practice/big-gray/51.png)}
.practice_big_g_52{ background:url(../images/practice/big-gray/52.png)}
.practice_big_g_53{ background:url(../images/practice/big-gray/53.png)}
.practice_big_g_54{ background:url(../images/practice/big-gray/54.png)}
.practice_big_g_55{ background:url(../images/practice/big-gray/55.png)}
.practice_big_g_56{ background:url(../images/practice/big-gray/56.png)}
.practice_big_g_57{ background:url(../images/practice/big-gray/57.png)}
.practice_big_g_58{ background:url(../images/practice/big-gray/58.png)}
.practice_big_g_59{ background:url(../images/practice/big-gray/59.png)}
.practice_big_g_60{ background:url(../images/practice/big-gray/60.png)}
.practice_big_g_61{ background:url(../images/practice/big-gray/61.png)}
.practice_big_g_62{ background:url(../images/practice/big-gray/62.png)}
.practice_big_g_63{ background:url(../images/practice/big-gray/63.png)}
.practice_big_g_64{ background:url(../images/practice/big-gray/64.png)}
.practice_big_g_65{ background:url(../images/practice/big-gray/65.png)}
.practice_big_g_66{ background:url(../images/practice/big-gray/66.png)}
/*new*/
.practice_big_g_67{ background:url(../images/practice/big-gray/67.png)}
.practice_big_g_68{ background:url(../images/practice/big-gray/68.png)}
.practice_big_g_69{ background:url(../images/practice/big-gray/69.png)}
.practice_big_g_70{ background:url(../images/practice/big-gray/70.png)}
.practice_big_g_71{ background:url(../images/practice/big-gray/71.png)}
.practice_big_g_72{ background:url(../images/practice/big-gray/66.png)}
.practice_big_g_73{ background:url(../images/practice/big-gray/73.png)}
.practice_big_g_74{ background:url(../images/practice/big-gray/74.png)}
.practice_big_g_75{ background:url(../images/practice/big-gray/75.png)}
.practice_big_g_76{ background:url(../images/practice/big-gray/76.png)}
.practice_big_g_77{ background:url(../images/practice/big-gray/77.png)}
.practice_big_g_78{ background:url(../images/practice/big-gray/78.png)}
.practice_big_g_79{ background:url(../images/practice/big-gray/79.png)}
.practice_big_g_80{ background:url(../images/practice/big-gray/80.png)}
.practice_big_g_81{ background:url(../images/practice/big-gray/81.png)}
.practice_big_g_82{ background:url(../images/practice/big-gray/82.png)}
.practice_big_g_83{ background:url(../images/practice/big-gray/83.png)}
.practice_big_g_90{ background:url(../images/practice/big-gray/90.png)}
.practice_big_g_92{ background:url(../images/practice/big-gray/92.png)}